<div class="footer">
    <ul>
        <li><a href="{:url('Home/index')}" class="{if condition="url('Home/index') eq $url"}li_on{/if}"><i class="iconfont icon-xiaoxi"></i>公告</a></li>
        <li><a href="{:url('Collection/detail')}" class="{if condition="url('Collection/detail') eq $url"}li_on{/if}"> <i class="iconfont icon-ZHicon-"></i>产权</a></li>
        <li><a href="{:url('Itemcompanyvote/index')}" class="{if condition="url('Itemcompanyvote/index') eq $url"}li_on{/if}"><i class="iconfont icon-toupiao"></i>选择</a></li>
        <li><a href="{:url('Pay/index')}" class="{if condition="url('Pay/index') eq $url"}li_on{/if}"><i class="iconfont icon-brt7"></i>补偿</a></li>
        <li><a href="{:url('Collectionholderhouse/index')}" class="{if condition="url('Collectionholderhouse/index') eq $url"}li_on{/if}"><i class="iconfont icon-brt7"></i>房源</a></li>
    </ul>
</div>