<link rel="stylesheet" type="text/css" href="__STATIC__/holdermobile/css/housestyle.css"/>
<link rel="stylesheet" type="text/css" href="http://at.alicdn.com/t/font_ni53rx612y44pldi.css"/>
<script src="__STATIC__/holdermobile/js/jquery2-1-4.min.js" type="text/javascript" charset="utf-8"></script>
<script src="__STATIC__/holdermobile/js/housejs.js" type="text/javascript" charset="utf-8"></script>
<script src="__STATIC__/sysmobile/layer_mobile/layer.js" type="text/javascript" charset="utf-8"></script>
<script src="__STATIC__/sysmobile/js/ajax-submit.js" type="text/javascript" charset="utf-8"></script>