<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{$cur_menu->name}|房屋征收安置管理系统</title>
    <meta name="viewport" content="width=device-width,minimum-scale=1,maximum-scale=1,initial-scale=1,user-scalable=no" />

    {include file="mobile/public/head"/}
    <script src="__STATIC__/sysmobile/js/jquery.pagination.js"></script>

    <style>
        .pageCon{
            width: 100%;
            text-align: center;
        }
        .pageCon>a,.pageCon>span{
            display: inline-block;
            padding: 5px 8px;
            border-radius: 5px;
            border: 1px solid #CCCCCC;
            text-decoration: none;
        }
        .pageCon>a{
            background: #dcdcdc;
            color: rgb(51,51,51);
        }
        .pageCon>.active{
            background: #F0AD4E;
            color: white;
        }
    </style>

</head>
<body>
<div class="page">

    {include file="mobile/public/header"/}

    <div class="w_100 backCo_w">

        {include file="mobile/public/breadnav"/}

        <form class="js-ajax-form" action="{:url('add')}" method="post" onsubmit="return false;">
            <div class="backCo_w add_menu padLR12">
                <p>
                    <span>项目：<i>* </i></span>
                    <select name="item_id" id="item_id" class="chosen" data-placeholder="请选择项目" data-no_results_text="没有匹配数据">
                        <option value="">--请选择项目--</option>
                        {volist name="items" id="item"}
                        <option value="{$item->id}">{$item->name}</option>
                        {/volist}
                    </select>
                </p>
                <p>
                    <span>安置时间：<i>* </i></span>
                    <input type="text" class="laydate-icon" name="start_at" id="start_at" value="" placeholder="请输入安置时间">
                </p>
                <p>
                    <span>结束时间：</span>
                    <input type="text" class="laydate-icon" name="end_at" id="end_at" value="" placeholder="请输入结束时间">
                </p>

                <p spanc="" id="choose-pay"><span spanc="">选择被征户</span></p>
                <table class="table treetable w_100" border="0" >
                    <tbody>
                    <tr class="noSelect" id="thead-pay">
                        <th>更多</th>
                        <th>ID</th>
                        <th>片区</th>
                        <th>被征户</th>
                        <th>性质</th>
                    </tr>
                    </tbody>
                </table>

                <p>
                    <span>被征收人：<i>* </i></span>
                    <select name="pay_holder_id" id="pay_holder_id" >
                    </select>
                    <input type="hidden" name="collection_holder_id" id="collection_holder_id">
                </p>
                <p>
                    <span>安置房：<i>* </i></span>
                    <select name="house_id" id="house_id" >
                    </select>
                </p>
            </div>

            <!--提交按钮-->
            <p class="Btnform align_cen bor_none maT20">
                <span class="submit button maR17 js-ajax-form-btn">立即提交</span>
                <span class="maL17 button" onclick="window.history.back(-1);">返回</span>
            </p>
        </form>
    </div>
</div>

<div class="hide" id="pay-box">
    <div class="w_100">
        <!--按钮组合-->
        <div class=" anniu backCo_w padLR12 ov maT10">
            <a id="showQuery-pay" class="modal-search"><i class="iconfont icon-search"></i>&nbsp;查询</a>
            <a id="reset-pay" class="modal-reset"><i class="iconfont icon-shuaxin1"></i>&nbsp;重置</a>
        </div>
        <div class="w_100">
            <table class="table w_100" border="0">
                <tbody>
                <tr class="noSelect pay-table">
                    <th>更多</th>
                    <th>ID</th>
                    <th>片区</th>
                    <th>被征户</th>
                    <th>性质</th>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="pageCon page-pay">

        </div>

    </div>
    <div class="showQuery hide showQuery-pay" style="z-index: 9999;">
        <form action={:url('Tools/houseresettle_search_pay')}" method="get" >
            <input type="hidden" name="issearch" value="true">
            <div class=" backCo_w" data-form="pay">
                <p class="queryTitle">查&nbsp;&nbsp;询</p>
                <div class="queryCon pafBt_10">
                    <p>
                        <span>片区：</span>
                        <select name="community_id" id="community_id" class="chosen" data-placeholder="请选择片区" data-no_results_text="没有匹配数据">
                            <option value="">--全部--</option>
                            {volist name="collectioncommunitys" id="collectioncommunity"}
                            <option value="{$collectioncommunity->id}" >{$collectioncommunity->name}</option>
                            {/volist}
                        </select>
                    </p>
                    <p>
                        <span>权属：</span>
                        <select name="collection_id" id="collection_id" class="chosen" data-placeholder="请选择权属" data-no_results_text="没有匹配数据">
                            <option value="">--全部--</option>
                            {volist name="collections" id="collection"}
                            <option value="{$collection->id}">
                            {if condition="$collection->building"}{$collection->building}栋{/if}
                            {if condition="$collection->unit"}{$collection->unit}单元{/if}
                            {if condition="$collection->floor"}{$collection->floor}楼{/if}
                            {if condition="$collection->number"}{$collection->number}号{/if}
                            （{$collection->id}）
                            </option>
                            {/volist}
                        </select>
                    </p>
                </div>
                <!--提交按钮-->
                <p class="Btnform align_cen bor_none maT20">
                    <span class="submit button maR17 search-submit">查询</span>
                    <span class="reset close button maL17">取消</span>
                </p>
            </div>
        </form>
    </div>
</div>

<script>

    $(document).on('click',".modal-search",function() {
        $("."+$(this).attr('id')).slideDown(300);
    }).on('click','.close,.submit',function () {
        $('.showQuery').slideUp(300);
    }).on('click','.search-submit',function () {
        var box=$(this).parents('div.backCo_w');
        var form=box.data('form');
        if(form=='pay'){
            var datas={
                "item_id":$('#item_id').find('option:selected').val()
                ,"community_id":box.find('select[name="community_id"]').find('option:selected').val()
                ,"collection_id":box.find('select[name="collection_id"]').find('option:selected').val()
                ,"page":1
                
            };
            searchpays(datas);
        }
        
    }).on('click','.modal-reset',function () {
        if($(this).attr('id')=='reset-pay'){
            searchpays({"item_id":$('#item_id').find('option:selected').val()});
        }
    }).on('change','#pay_holder_id',function () {
        var pay_holder_id=$(this).find('option:selected').val();
        $('#collection_holder_id').val($(this).find('option:selected').data('collectionholderid'));

        var options='<option value="">--请先选择被征收人--</option>';
        if(pay_holder_id){
            $.ajax({
                url:"{:url('Tools/sear_house')}",
                data:{ 'pay_holder_id':pay_holder_id},
                dataType:'json',
                type:'post',
                success:function (resp) {
                    var  options = '';
                    if(resp.code){
                        options += '<option value="">--选择安置房--</option>';
                        $.each(resp.data,function (index,info) {
                            var building = info.building?info.building+"栋":'';
                            var unit = info.unit?info.unit+"单元":'';
                            var floor = info.floor?info.floor+"楼":'';
                            var number = info.number?info.number+"号":'';
                            options += '<option value="'+info.h_id+'">'+info.hc_name+building+unit+floor+number+'【'+info.l_name+'】【'+info.area+'㎡】</option>';
                        });
                    }else{
                        options += '<option value="">--暂无安置房--</option>';
                        layer.open({
                            content:resp.msg
                            ,skin: 'msg'
                            ,time:1.5
                        });
                    }

                    $('#house_id').html(options);

                },
                error:function () {
                    layer.open({
                        content:'网络错误，请重试'
                        ,skin: 'msg'
                        ,time:1.5
                    });
                }

            });
        }
        $('#house_id').html(options);
    });


    $('#choose-pay').on('click',function () {
        var item_id=$('#item_id').find('option:selected').val();
        if(item_id){
            layer.open({
                type: 1
                ,content: $('#pay-box').html()
                ,anim: 'up'
                ,style: 'position:fixed; left:0; top:0; width:100%; height:100%; border: none; -webkit-animation-duration: .5s; animation-duration: .5s;overflow: auto;'
                ,success:function (layero) {
                    searchpays({"item_id":item_id});
                }
                ,btn:['确定','返回']
                ,yes:function (index) {
                    var pay_id=$(document).find('input[name="pay"]:checked').val();
                    var tr='';
                    var tr_hide='';
                    if(pay_id){
                        var trobj=$('#tr-pay-'+pay_id);
                        var tro=trobj.clone(true);
                        var tr_hideo=trobj.next();
                        tro.find('input[type=radio]').attr('name','pay_id').attr('checked','checked');
                        tr=tro.prop('outerHTML');
                        tr_hide=tr_hideo.prop('outerHTML');
                        layer.closeAll();

                        $.ajax({
                            url:"{:url('Tools/sear_holder_name')}",
                            data:{ 'pay_id':pay_id,'bisoshi':1},
                            dataType:'json',
                            type:'get',
                            success:function (resp) {
                                $('#pay_holder_id').html('<option value="">--选择被征收人--</option>');
                                $('#house_id').html('<option value="">--请先选择被征收人--</option>');
                                if(resp.code){
                                    var options = '<option value="">--选择被征收人--</option>';
                                    $.each(resp.data,function (index,info) {
                                        options += '<option value="'+info.id+'" data-collectionholderid="'+info.collection_holder_id+'">'+info.name+'【'+info.holder+'】</option>';
                                    });
                                    $('#pay_holder_id').html(options);
                                }else{
                                    var options1 = '<option value="">--暂无被征收人--</option>';
                                    $('#pay_holder_id').html(options1);
                                    layer.open({
                                        content:resp.msg
                                        ,skin: 'msg'
                                        ,time:1.5
                                    });
                                }
                            },
                            error:function () {
                                layer.open({
                                    content:'网络错误，请重试'
                                    ,skin: 'msg'
                                    ,time:1.5
                                });
                            }
                        });
                    }else{
                        layer.open({
                            content:'请选择被征户'
                            ,skin: 'msg'
                            ,time:1.5
                        });
                        $('#pay_holder_id').html('<option value="">--请先选择被征户--</option>');
                        $('#house_id').html('<option value="">--请先选择被征户--</option>');
                    }
                    $('#thead-pay').siblings().remove();
                    $('#thead-pay').after(tr+tr_hide);
                }
                ,btn1:function (index) {
                    layer.closeAll();
                }
            });
        }else{
            layer.open({
                content:'请先选择项目'
                ,skin: 'msg'
                ,time:1.5
                ,end:function() {
                    layer.closeAll();
                }
            });
        }

    });
    function searchpays(datas) {
        $.ajax({
            url:"{:url('Tools/houseresettle_search_pay')}"
            ,data:datas
            ,dataType:'json'
            ,type:'get'
            ,async:false
            ,success:function (resp) {
                if(resp.code){
                    var tr_obj='';
                    if(resp.data.data && resp.data.data.length){
                        $.each(resp.data.data,function (index,info) {
                            tr_obj +='<tr id="tr-pay-'+info.id+'">' +
                                '    <td class="more">' +
                                '        <input type="radio" name="pay" value="'+info.id+'"/>' +
                                '        &nbsp;' +
                                '        <i class="iconfont icon-gongyongshuangjiantouxia"></i>' +
                                '    </td>' +
                                '    <td>'+info.id+'</td>' +
                                '    <td>'+info.cc_name+'</td>' +
                                '    <td>' +
                                '        '+(info.building?(info.building+'栋'):'')+
                                '        '+(info.unit?(info.unit+'单元'):'')+
                                '        '+(info.floor?(info.floor+'楼'):'') +
                                '        '+(info.number?(info.number+'号'):'')+
                                '    </td>' +
                                '    <td>' +info.bu_name+ '</td>' +
                                '</tr>' +
                                '<tr class="hide_more hide">' +
                                '    <td colspan="5" style="padding: 0 !important;">' +
                                '        <div class="table_more w_100 backCo_f21">' +
                                '            <div class="flex w_100">' +
                                '                <div class="w_30 align_right">地址：</div><div class="align_left">'+info.address+'</div>' +
                                '            </div>' +
                                '            <div class="flex w_100">' +
                                '                <div class="w_30 align_right">补偿方式：</div><div class="align_left">'+info.compensate_way+'</div>' +
                                '            </div>' +
                                '            <div class="flex w_100">' +
                                '                <div class="w_30 align_right">兑付方式：</div><div class="align_left">'+info.pay_way+'</div>' +
                                '            </div>' +
                                '            <div class="flex w_100">' +
                                '                <div class="w_30 align_right">类型：</div><div class="align_left">'+info.type+'</div>' +
                                '            </div>' +
                                '        </div>' +
                                '    </td>' +
                                '</tr>';
                        });


                        $('.page-pay').pagination({
                            totalData:resp.data.total,
                            showData:resp.data.per_page,
                            current:resp.data.current_page,
                            jump:false,
                            coping:true,
                            homePage:'',
                            endPage:'',
                            prevContent:'<<',
                            nextContent:'>>',
                            callback:function(api){
                                datas.page=api.getCurrent();
                                searchpays(datas);
                            }
                        },function(api){
                            var cur=api.getCurrent();
                        });

                    }else{
                        layer.open({
                            content:'没有数据'
                            ,skin: 'msg'
                            ,time:1.5
                        });
                        $('.page-pay').html('');
                    }
                    $('.pay-table').siblings().remove();
                    $('.pay-table').after(tr_obj);

                }else{
                    layer.open({
                        content:resp.msg
                        ,skin: 'msg'
                        ,time:1.5
                    });
                }
            }
            ,error:function () {
                layer.open({
                    content:'网络出错，稍候重试！'
                    ,skin: 'msg'
                    ,time:1.5
                });

            }
        });
    }


</script>

</body>
</html>