<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>房源户型图|后台管理系统</title>
    {include file="public/head" /}

</head>
<body>
<form action="{:isset($infos)?url('edit'):url('add')}" method="post" class="js-ajax-form" onsubmit="return false;">
    <div class="layerCon bg_f">
        <input type="hidden" name="id" value="{:isset($infos)?$infos->id:''}">
        <table class="layerTable" border="0">
            <tr class="h50">
                <td>小区：</td>
                <td>
                    <select name="community_id" id="community_id">
                        <option value="">--选择小区--</option>
                        {volist name="communitys" id="community"}
                        <option value="{$community->id}" {if condition="isset($infos) and $infos->community_id eq $community->id"}selected{/if}>{$community->name}</option>
                        {/volist}
                    </select>
                </td>
            </tr>
            <tr class="h50">
                <td>户型：</td>
                <td>
                    <select name="layout_id" id="layout_id">
                        <option value="">--选择户型--</option>
                        {volist name="layouts" id="layout"}
                        <option value="{$layout->id}" {if condition="isset($infos) and $infos->layout_id eq $layout->id"}selected{/if}>{$layout->name}</option>
                        {/volist}
                    </select>
                </td>
            </tr>
            <tr class="h50">
                <td><label for="remark">标记：</label></td>
                <td>
                    <input id="remark" class="must" type="text" name="remark" value="{:isset($infos)?$infos->remark:''}" required placeholder="输入唯一户型标记"/>
                </td>
            </tr>
            <tr class="h70">
                <td>户型图：</td>
                <td class="imgCon">
                    {if condition="isset($infos) and $infos->picture"}
                    <div class="img">
                        <img src="{$infos->picture}" class="w_100 h_100" onclick="bigimg(this)">
                        <p><span onclick="picremove(this);">删除</span></p>
                        <input type="hidden" name="picture" value="{$infos->picture}"/>
                    </div>
                    {/if}
                    <div class="img upload-btn">
                        <input type="file" name="upload_files" style="display: none" class="upload_files" data-hiddenname="picture" data-url="{:url('Tools/upl')}">
                        <a>+</a>
                    </div>
                </td>
            </tr>
            <tr class="h50">
                <td><label for="infos">描述：</label></td>
                <td>
                    <textarea id="infos" name="infos">{:isset($infos)?$infos->infos:''}</textarea>
                </td>
            </tr>
            <tr class="h50">
                <td>状态：</td>
                <td>
                    {volist name="model->status" id="status"}
                    <label><input class="va_m" name="status" type="radio"  value="{$key}" {if condition="(!isset($infos) and $key eq 1) or (isset($infos) and $infos->status eq $status)"}checked{/if}>{$status}</label>
                    {/volist}
                </td>
            </tr>
            {if condition="isset($infos)"}
            <tr class="h50">
                <td>操作时间：</td>
                <td>
                    创建于：{$infos->created_at}<br/>
                    更新于：{$infos->updated_at}<br/>
                    {if condition="isset($infos) and $infos->deleted_at"}
                    删除于：{$infos->deleted_at|date='Y-m-d H:i:s',###}
                    {/if}
                </td>
            </tr>
            {/if}
        </table>
        <div class="layerBtns">
            <a class="btn js-ajax-form-btn" data-layer="true" >立即提交</a>
            <button class="btn" type="reset">重置</button>
        </div>
    </div>
</form>

<script src="__STATIC__/system/js/ajax-submit.js"></script>
<script src="__STATIC__/system/js/upload.js"></script>
<script>

</script>
</body>
</html>
