<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>入户摸底-家庭人员|房屋征收安置管理系统</title>
    {include file="public/head" /}

</head>
<body>
<div class="tabs">
    <div class="item">
        <div class="homeTit bg_f5">
            <div class="fl"><img src="__STATIC__/system/img/outlook_new_meeting.png"/>产权人及家庭成员</div>
            <ul class="homeTab">
                <li class=""><a href="{:url('Collection/detail',['id'=>$collection_id])}">房产基本信息</a></li>
                <li class="on"><a href="javascript:location.reload();">产权人及家庭成员</a></li>
                <li class=""><a href="{:url('Collectionbuilding/index',['item_id'=>$item_id,'collection_id'=>$collection_id])}">房屋及附属物</a></li>
                <li class=""><a href="{:url('Collectionobject/index',['item_id'=>$item_id,'collection_id'=>$collection_id])}">其他</a></li>
            </ul>
        </div>
        <div class="homeCon">
            <div class="tabPage w_100 on">
                <div class="tableCon">
                    <em class="xian"></em>
                    <table class="table" border="0" >
                        <tbody>
                        <tr class="noSelect">
                            <th>序号<i class="stretch"></i></th>
                            <th>名称<i class="stretch"></i></th>
                            <th>地址<i class="stretch"></i></th>
                            <th>电话<i class="stretch"></i></th>
                            <th>产权<i class="stretch"></i></th>
                            <th>份额(%)<i class="stretch"></i></th>
                            <th>户主关系<i class="stretch"></i></th>
                            <th>现住址<i class="stretch"></i></th>
                            <th>操作<i class="stretch"></i></th>
                        </tr>
                        {volist name="collectionholders" id="collectionholder"}
                        <tr>
                            <td>{$i}</td>
                            <td>{$collectionholder->name}</td>
                            <td>{$collectionholder->address}</td>
                            <td>{$collectionholder->phone}</td>
                            <td>{$collectionholder->holder}</td>
                            <td>{$collectionholder->portion}</td>
                            <td>{$collectionholder->relation}</td>
                            <td>{$collectionholder->live_addr}</td>
                            <td>
                                <button type="button" class="btn" onclick="layerIfWindow('入户摸底-产权人及家庭成员信息',	'{:url('detail',['id'=>$collectionholder->id])}','800','630',true)" >详细信息</button>
                            </td>
                        </tr>
                        {/volist}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
