<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>项目评估公司|后台管理系统</title>
    {include file="public/head" /}

</head>
<body>
<h4>项目评估公司管理</h4>
<div class="toolsBar">
    <!--fgf为工具栏分隔符，刷新没有，离开都有。中间工具每一类第一个添加fgf-->
    <ul>
        <li>
            <a href="{:url('index')}">
                <img src="__STATIC__/system/img/arrow_refresh.png"/>
                刷新
            </a>
        </li>
        <li class="fgf" onclick="layerPage('查询',$('#search'),'700','300')" >
            <img src="__STATIC__/system/img/page_white_magnify.png"/>
            查询
        </li>
       
    </ul>
</div>
<form action="{:url('index')}" method="post" id="js-ajax-form">
    <div class="tableCon">
        <em class="xian"></em>
        <table class="table" border="0" >
            <tbody>
            <tr class="noSelect">
                <th class="tc" width="35px">
                    <input class="va_m" type="checkbox" name="" id="allCheck" value="" data-falg="allCheck" onclick="checkBoxOp(this)"/>
                </th>
                <th>ID</th>
                <th>项目</th>
                <th>类型</th>
                <th>公司</th>
                <th>操作</th>
            </tr>
            {volist name="itemcompanys" id="itemcompany"}
            <tr>
                <td>
                    <input class="va_m" type="checkbox" name="ids[]" value="{$itemcompany->id}" onclick="checkBoxOp(this)" id="check-{$itemcompany->id}"/>
                </td>
                <td>{$itemcompany->id}</td>
                <td>{$itemcompany->item->name}（{$itemcompany->item_id}）</td>
                <td>{$itemcompany->company->type}</td>
                <td>{$itemcompany->company->name}</td>
                <td>
                    <button type="button" class="btn" onclick="layerIfWindow('项目评估公司信息',	'{:url('detail',['id'=>$itemcompany->id])}','800','600',true)" >详细信息</button>
                </td>
            </tr>
            {/volist}
            </tbody>
        </table>
    </div>
</form>
<div class="pageCon">
    {$itemcompanys->render()}
</div>
<!-- 查询 -->
<div id="search" class="layerCon bg_f hide">
    <form action="{:url('index')}" method="post" id="search-form">
        <table class="layerTable">
            <tr class="h50">
                <td>项目：</td>
                <td colspan="3">
                    <select name="item_id" id="item_id" class="chosen" data-placeholder="请选择项目" data-no_results_text="没有匹配数据">
                        <option value="">--全部--</option>
                        {volist name="items" id="item"}
                        <option value="{$item->id}" {if condition="isset($item_id) and $item_id eq $item->id"}selected{/if}>{$item->name}</option>
                        {/volist}
                    </select>
                </td>
            </tr>
            <tr class="h50">
                <td>公司：</td>
                <td colspan="3">
                    <select name="company_id" id="company_id" class="chosen" data-placeholder="请选择公司" data-no_results_text="没有匹配数据">
                        <option value="">--全部--</option>
                        {volist name="companys" id="company"}
                        <option value="{$company->id}" {if condition="isset($company_id) and $company_id eq $company->id"}selected{/if}>{$company->name}</option>
                        {/volist}
                    </select>
                </td>
            </tr>
            <tr class="h50">
                <td>类型：</td>
                <td>
                    <select name="type" id="type">
                        <option value="">--全部--</option>
                        <option value="0" {if condition="isset($type) and $type eq 0"}selected{/if}>房产评估机构</option>
                        <option value="1" {if condition="isset($type) and $type eq 1"}selected{/if}>资产评估机构</option>
                    </select>
                </td>

                <td>每页条数：</td>
                <td>
                    <select name="display_num" id="display_num">
                        {volist name="nums" id="num"}
                        <option value="{$num}" {if condition="isset($display_num) and $display_num eq $num"}selected{/if}>--{$num}--</option>
                        {/volist}
                    </select>
                </td>
            </tr>
            <tr class="h50">
                <td>排序：</td>
                <td>
                    <select name="ordername" id="ordername">
                        <option value="id">--默认--</option>
                        <option value="created_at" {if condition="isset($ordername) and $ordername eq 'created_at'"}selected{/if}>--创建时间--</option>
                        <option value="updated_at" {if condition="isset($ordername) and $ordername eq 'updated_at'"}selected{/if}>--更新时间--</option>
                    </select>
                </td>
                <td>方式：</td>
                <td>
                    <select name="orderby" id="orderby">
                        <option value="asc">--升序--</option>
                        <option value="desc" {if condition="isset($orderby) and $orderby eq 'desc'"}selected{/if}>--降序--</option>
                    </select>
                </td>
            </tr>

        </table>
        <div class="layerBtns">
            <button class="btn" type="submit">查询</button>
        </div>
    </form>
</div>

<script>

    $(function () {
        $('input[type=text]').on('change',function () {
            var id=$(this).data('id');
            $('#check-'+id).attr('checked',true);
        }) ;

        $('.pageCon').find('a').on('click',function () {
            $('#search-form').attr('action',$(this).attr('href')).submit();
            return false;
        });
    });

</script>
</body>
</html>
