<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>冻结安置房源|房屋征收安置管理系统</title>
    {include file="public/head" /}

</head>
<body>
<h4>冻结安置房源管理</h4>
<div class="toolsBar">
    <!--fgf为工具栏分隔符，刷新没有，离开都有。中间工具每一类第一个添加fgf-->
    <ul>
        <li>
            <a href="{:url('search_house',['item_id'=>$item_id])}">
                <img src="__STATIC__/system/img/arrow_refresh.png"/>
                重置</a>
        </li>
        <li class="fgf" onclick="layerPage('查询',$('#search'),'700','400')" >
            <img src="__STATIC__/system/img/page_white_magnify.png"/>
            查询
        </li>
    </ul>
</div>
<form action="{:url('delete')}" method="post" id="js-ajax-form">
    <div class="tableCon">
        <em class="xian"></em>
        <table class="table" border="0" >
            <tbody>
            <tr class="noSelect">
                <th class="tc" width="35px">
                    <input class="va_m" type="radio" name="" id="allCheck" value="" data-falg="allCheck" onclick="checkBoxOp(this)"/>
                </th>
                <th>ID</th>
                <th>项目（ID）</th>
                <th>房源（ID）</th>
                <th>户型</th>
                <th>面积</th>
                <th>类型</th>
                <th>状态</th>
            </tr>
            {volist name="itemhouses" id="itemhouse"}
            <tr>
                <td>
                    <input class="va_m house_id" type="radio" name="house_id" value="{$itemhouse->id}" onclick="checkBoxOp(this)" id="check-{$itemhouse->id}"/>
                </td>
                <td>{$itemhouse->id}</td>
                <td>{if condition="$itemhouse->i_status"}{$itemhouse->i_name}{else/}<del>{$itemhouse->i_name}</del>{/if}（{$itemhouse->item_id}）</td>
                <td title="{$itemhouse->address}">
                    {if condition="$itemhouse->getData('house_status') eq 3"}
                    <del>
                        {$itemhouse->c_name}
                        {if condition="$itemhouse->building"}{$itemhouse->building}栋{/if}
                        {if condition="$itemhouse->unit"}{$itemhouse->unit}单元{/if}
                        {if condition="$itemhouse->floor"}{$itemhouse->floor}楼{/if}
                        {if condition="$itemhouse->number"}{$itemhouse->number}号{/if}
                    </del>
                    {else /}
                    {$itemhouse->c_name}
                    {if condition="$itemhouse->building"}{$itemhouse->building}栋{/if}
                    {if condition="$itemhouse->unit"}{$itemhouse->unit}单元{/if}
                    {if condition="$itemhouse->floor"}{$itemhouse->floor}楼{/if}
                    {if condition="$itemhouse->number"}{$itemhouse->number}号{/if}
                    {/if}
                    （{$itemhouse->house_id}）
                </td>
                <td>{$itemhouse->l_name}</td>
                <td>{$itemhouse->area}</td>
                <td>{$itemhouse->is_real} | {$itemhouse->is_buy} | {$itemhouse->is_transit} | {$itemhouse->is_public}</td>
                <td>{$itemhouse->house_status}</td>
            </tr>
            {/volist}
            </tbody>
        </table>
        <div class="layerBtns">
            <a class="btn sub_house_id">选中房源</a>
        </div>
    </div>
</form>
<div class="pageCon">
    {$itemhouses->render()}
</div>
<!-- 查询 -->
<div id="search" class="layerCon bg_f hide">
    <form action="{:url('search_house')}" method="post" id="search-form">
        <table class="layerTable">
            <input type="hidden" name="item_id" value="{$item_id}">
            <tr class="h50">
                <td>地址：</td>
                <td colspan="7">
                    <select name="community_ids_a[]" id="address" class="chosen" multiple data-placeholder="请选择地址" data-no_results_text="没有匹配数据">
                        <option value="">--全部--</option>
                        {volist name="communitys" id="community"}
                        <option value="{$community->id}" {if condition="isset($community_ids_a) and in_array($community->id,$community_ids_a)"}selected{/if}>{$community->address}</option>
                        {/volist}
                    </select>
                </td>
            </tr>
            <tr class="h50">
                <td>小区：</td>
                <td colspan="3">
                    <select name="community_ids_c[]" id="c_name" class="chosen" multiple data-placeholder="请选择小区" data-no_results_text="没有匹配数据">
                        <option value="">--全部--</option>
                        {volist name="communitys" id="community"}
                        <option value="{$community->id}" {if condition="isset($community_ids_c) and in_array($community->id,$community_ids_c)"}selected{/if}>{$community->name}</option>
                        {/volist}
                    </select>
                </td>
                <td>户型：</td>
                <td colspan="3">
                    <select name="layout_id" id="layout_id" class="chosen" data-placeholder="请选择户型" data-no_results_text="没有匹配数据">
                        <option value="">--全部--</option>
                        {volist name="layouts" id="layout"}
                        <option value="{$layout->id}" {if condition="isset($layout_id) and $layout->id eq $layout_id"}selected{/if}>{$layout->name}</option>
                        {/volist}
                    </select>
                </td>
            </tr>
            <tr class="h50">
                <td>几栋：</td>
                <td><input type="number" name="building" id="building" value="{$building?:''}" min="1"></td>
                <td>几单元：</td>
                <td><input type="number" name="unit" id="unit" value="{$unit?:''}" min="1"></td>
                <td>几楼：</td>
                <td><input type="number" name="floor" id="floor" value="{$floor?:''}"></td>
                <td>几号：</td>
                <td><input type="number" name="number" id="number" value="{$number?:''}" min="1"></td>
            </tr>
            <tr class="h50">
                <td>面积起：</td>
                <td><input type="number" name="area_start" id="area_start" value="{$area_start?:''}"></td>
                <td>面积止：</td>
                <td><input type="number" name="area_end" id="area_end" value="{$area_end?:''}"></td>
                <td>状态：</td>
                <td>
                    <select name="status" id="status">
                        <option value="">--全部--</option>
                        {volist name="model->house_status" id="value"}
                        <option value="{$key}" {if condition="isset($status) and $status eq $key"}selected{/if}>{$value}</option>
                        {/volist}
                    </select>
                </td>
            </tr>
            <tr class="h50">
                <td>类型：</td>
                <td>
                    <select name="is_real" id="is_real">
                        <option value="">--全部--</option>
                        {volist name="model->is_real" id="value"}
                        <option value="{$key}" {if condition="isset($is_real) and $is_real eq $key"}selected{/if}>{$value}</option>
                        {/volist}
                    </select>
                </td>
                <td>购买：</td>
                <td>
                    <select name="is_buy" id="is_buy">
                        <option value="">--全部--</option>
                        {volist name="model->is_buy" id="value"}
                        <option value="{$key}" {if condition="isset($is_buy) and $is_buy eq $key"}selected{/if}>{$value}</option>
                        {/volist}
                    </select>
                </td>
                <td>过渡：</td>
                <td>
                    <select name="is_transit" id="is_transit">
                        <option value="">--全部--</option>
                        {volist name="model->is_transit" id="value"}
                        <option value="{$key}" {if condition="isset($is_transit) and $is_transit eq $key"}selected{/if}>{$value}</option>
                        {/volist}
                    </select>
                </td>
                <td>共用：</td>
                <td>
                    <select name="is_public" id="is_public">
                        <option value="">--全部--</option>
                        {volist name="model->is_public" id="value"}
                        <option value="{$key}" {if condition="isset($is_public) and $is_public eq $key"}selected{/if}>{$value}</option>
                        {/volist}
                    </select>
                </td>
            </tr>
            <tr class="h50">
                <td>每页条数：</td>
                <td>
                    <select name="display_num" id="display_num">
                        {volist name="nums" id="num"}
                        <option value="{$num}" {if condition="isset($display_num) and $display_num eq $num"}selected{/if}>--{$num}--</option>
                        {/volist}
                    </select>
                </td>
                <td>排序：</td>
                <td>
                    <select name="ordername" id="ordername">
                        <option value="id">--默认--</option>
                        <option value="created_at" {if condition="isset($ordername) and $ordername eq 'created_at'"}selected{/if}>--创建时间--</option>
                        <option value="updated_at" {if condition="isset($ordername) and $ordername eq 'updated_at'"}selected{/if}>--更新时间--</option>
                    </select>
                </td>
                <td>方式：</td>
                <td>
                    <select name="orderby" id="orderby">
                        <option value="asc">--升序--</option>
                        <option value="desc" {if condition="isset($orderby) and $orderby eq 'desc'"}selected{/if}>--降序--</option>
                    </select>
                </td>
            </tr>

        </table>
        <div class="layerBtns">
            <button class="btn" type="submit">查询</button>
        </div>
    </form>
</div>

<script>

    $(function () {
        $('input[type=text]').on('change',function () {
            var id=$(this).data('id');
            $('#check-'+id).attr('checked',true);
        }) ;

        $('.pageCon').find('a').on('click',function () {
            $('#search-form').attr('action',$(this).attr('href')).submit();
            return false;
        });
        $(".sub_house_id").click(function () {
            var _house_id = $("input[name='house_id']:checked").val();
           if(!_house_id){
               layer.msg('至少选择一项房源');
               return false;
           }
           parent.house_infos(_house_id);
        });
    });

</script>
</body>
</html>
