<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{$cur_menu->name|default=''}|房屋征收安置管理系统</title>
    <meta name="viewport" content="width=device-width,minimum-scale=1,maximum-scale=1,initial-scale=1,user-scalable=no" />

    {include file="mobile/public/head"/}
    <style type="text/css">
        .queryCon>:last-child {
            height: 52px;
        }

        .queryCon {
            padding-bottom: 0;
        }
    </style>
</head>
<body>
<div class="page">

    {include file="mobile/public/header"/}

    <div class="w_100">

        {include file="mobile/public/breadnav"/}

        <div class="w_100">
            <!--按钮组合-->
            <div class=" anniu backCo_w padLR12 ov maT10">
                <a href="{:url('index')}" class="refresh"><i class="iconfont icon-shuaxin1"></i>&nbsp;刷新</a>
                <a id="showQuery"><i class="iconfont icon-search"></i>&nbsp;查询</a>
                <a href="{:url('add')}"><i class="iconfont icon-tianjia"></i>&nbsp;添加</a>
                <a class="js-ajax-form-btn" data-form="js-ajax-form" data-action="{:url('status',array('status'=>'1'))}">启用</a>
                <a class="js-ajax-form-btn" data-form="js-ajax-form" data-action="{:url('status',array('status'=>'0'))}">禁用</a>
                <a class="js-ajax-form-btn" data-form="js-ajax-form" data-action="{:url('delete')}" >删除</a>
                <a class="js-ajax-form-btn" data-form="js-ajax-form" data-action="{:url('restore')}">恢复</a>
                <a class="js-ajax-form-btn" data-form="js-ajax-form" data-action="{:url('destroy')}" data-notice="确定要彻底删除吗？">销毁</a>
                <span class="xiaMore"><em>更多</em><i class=" xiaMore iconfont icon-gongyongshuangjiantouxia"></i> </span>
            </div>
            <div class="w_100">
                <form action="{:url('index')}" method="post" id="js-ajax-form">
                <table id="example-advanced" class="table treetable w_100" border="0" >
                    <tbody>
                    <tr class="noSelect">
                        <th><input type="checkbox" data-role="checkall"/></th>
                        <th>ID</th>
                        <th>小区</th>
                        <th>户型</th>
                        <th>标记</th>
                        <th>状态</th>
                        <th>操作</th>
                    </tr>

                    {volist name="houselayoutpics" id="houselayoutpic"}
                    <tr>
                        <td class="more">
                            <input type='checkbox' data-role="check"  name="ids[]" value="{$houselayoutpic->id}"/>
                        </td>
                        <td>{$houselayoutpic->id}</td>
                        <td>{if condition="$houselayoutpic->deleted_at"}<del>{$houselayoutpic->c_name}</del>{else/}{$houselayoutpic->c_name}{/if}</td>
                        <td>{if condition="$houselayoutpic->deleted_at"}<del>{$houselayoutpic->l_name}</del>{else/}{$houselayoutpic->l_name}{/if}</td>
                        <td>{if condition="$houselayoutpic->deleted_at"}<del>{$houselayoutpic->remark}</del>{else/}{$houselayoutpic->remark}{/if}</td>
                        <td>{if condition="$houselayoutpic->deleted_at"}已删除{else/}{$houselayoutpic->status}{/if}</td>
                        <td class="shezhi"><i class="iconfont icon-shezhi2"></i>
                            <div class="hide">
                                <img src="__STATIC__/sysmobile/img/sanjiao.png" />
                                <a href="{:url('detail',['id'=>$houselayoutpic->id])}"><i class="iconfont icon-xiugai"></i></a>
                                <a data-action="{:url('delete',['ids'=>$houselayoutpic->id])}" class="js-ajax-form-btn"><i class="iconfont icon-lajitong"></i></a>
                            </div>
                        </td>
                    </tr>
                    {/volist}
                    </tbody>
                </table>
                </form>
            </div>

            <div class="pageCon">
                {$houselayoutpics->render()}
            </div>

            <div class="showQuery hide" id="layerQuery">
                <form action="{:url('index')}" method="post" id="search-form">
                    <input type="hidden" name="issearch" value="true">
                    <div class=" backCo_w">
                        <h3 class="queryTitle">查&nbsp;&nbsp;询</h3>
                        <div class="queryCon pafBt_10">
                            <p>
                                <span>小区：</span>
                                <select name="community_id" id="community_id" class="chosen" data-placeholder="请选择小区" data-no_results_text="没有匹配数据">
                                    <option value="">--全部--</option>
                                    {volist name="communitys" id="community"}
                                    <option value="{$community->id}" {if condition="isset($community_id) and $community_id eq $community->id"}selected{/if}>{$community->name}</option>
                                    {/volist}
                                </select>
                            </p>
                            <p>
                                <span>户型：</span>
                                <select name="layout_id" id="layout_id" class="chosen" data-placeholder="请选择户型" data-no_results_text="没有匹配数据">
                                    <option value="">--全部--</option>
                                    {volist name="layouts" id="layout"}
                                    <option value="{$layout->id}" {if condition="isset($layout_id) and $layout_id eq $layout->id"}selected{/if}>{$layout->name}</option>
                                    {/volist}
                                </select>
                            </p>
                            <p>
                                <span>标记：</span>
                                <input type="text" id="remark" name="remark" value="{$remark?:''}" placeholder="请输入房源户型图标记" />
                            </p>
                            <p>
                                <span>状态：</span>
                                <select name="status" id="status">
                                    <option value="">--全部--</option>
                                    {volist name="model->status" id="value"}
                                    <option value="{$key}" {if condition="isset($status) and $status eq $key"}selected{/if}>{$value}</option>
                                    {/volist}
                                </select>
                            </p>
                            <p>
                                <span>是否删除：</span>
                                <select name="deleted" id="deleted">
                                    <option value="">--全部--</option>
                                    <option value="1" {if condition="isset($deleted) and $deleted eq 1"}selected{/if}>--是--</option>
                                    <option value="0" {if condition="isset($deleted) and $deleted eq 0"}selected{/if}>--否--</option>
                                </select>
                            </p>
                            <p>
                                <span>每页条数：</span>
                                <select name="display_num" id="display_num">
                                    {volist name="nums" id="num"}
                                    <option value="{$num}" {if condition="isset($display_num) and $display_num eq $num"}selected{/if}>--{$num}--</option>
                                    {/volist}
                                </select>
                            </p>
                            <p>
                                <span>排序：</span>
                                <select name="ordername" id="ordername">
                                    <option value="id">--默认--</option>
                                    <option value="created_at" {if condition="isset($ordername) and $ordername eq 'created_at'"}selected{/if}>--创建时间--</option>
                                    <option value="updated_at" {if condition="isset($ordername) and $ordername eq 'updated_at'"}selected{/if}>--更新时间--</option>
                                    <option value="deleted_at" {if condition="isset($ordername) and $ordername eq 'deleted_at'"}selected{/if}>--删除时间--</option>
                                </select>
                            </p>
                            <p>
                                <span>方式：</span>
                                <select name="orderby" id="orderby">
                                    <option value="asc">--升序--</option>
                                    <option value="desc" {if condition="isset($orderby) and $orderby eq 'desc'"}selected{/if}>--降序--</option>
                                </select>
                            </p>
                        </div>
                        <!--提交按钮-->
                        <p class="Btnform align_cen bor_none maT20">
                            <button class="submit button maR17" type="submit">查询</button>
                            <span class="reset close button maL17">取消</span>
                        </p>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script>

    $('table').on('change ','input[data-role="checkall"]',function () {
        if($(this).prop('checked')){
            $('table').find('input[type=checkbox]').prop('checked',true);
        }else{
            $('table').find('input[type=checkbox]').prop('checked',false);
        }
    }).on('change','input[data-role="check"]',function () {
        var checkbox_obj=$('table').find('input[data-role="check"]');
        var checkbox_num=checkbox_obj.length;
        var checked_num=$('table').find('input[data-role="check"]:checked').length;
        if(checked_num == checkbox_num ){
            $('table').find('input[data-role="checkall"]').prop('checked',true);
        }else{
            $('table').find('input[data-role="checkall"]').prop('checked',false);
        }
    });

    $('.pagination').find('a').on('click',function () {
        $('#search-form').attr('action',$(this).attr('href')).submit();
        return false;
    });

</script>

</body>
</html>