<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>资产评估|房屋征收安置管理系统</title>
    {include file="pc/public/head" /}

</head>
<body>
<div class="layerCon bg_f">
    <table class="layerTable" border="0">
        <tr class="h50">
            <td><label for="">报告时间：</label></td>
            <td>{$assessassets->report_at}</td>
            <td><label for="">价值时点：</label></td>
            <td>{$assessassets->valued_at}</td>
        </tr>
        <tr class="h50">
            <td><label>评估公司：</label></td>
            <td>{$assessassets->name}</td>
            <td><label for="">评估方法：</label></td>
            <td>{$assessassets->method}</td>
        </tr>
        
        <tr class="h50">
            <td>资产价值：</td>
            <td colspan="3">{$assessassets->total|number_format=2} 元</td>
        </tr>
        <tr class="h50">
            <td><label for="valuer_id_info">评估师：</label></td>
            <td id="valuer_id_info" colspan="3">
                <table class="table" border="0" id="valuer_id_lists">
                    <tbody>
                    <tr class="noSelect">
                        <th>序号</th>
                        <th>姓名</th>
                        <th>注册号</th>
                        <th>有效期</th>
                    </tr>
                    {volist name="assessassetsvaluers" id="valuer"}
                    <tr class="h30">
                        <td style="text-align: center;background: none;width: inherit !important;">{$i}</td>
                        <td style="text-align: center;background: none;">{$valuer->name}</td>
                        <td style="text-align: center;background: none;">{$valuer->register_num}</td>
                        <td style="text-align: center;background: none;">{$valuer->valid_at|date='Y-m-d',###}</td>
                    </tr>
                    {/volist}
                    </tbody>
                </table>
            </td>
        </tr>

        <tr class="h70">
            <td>评估报告：</td>
            <td class="imgCon" colspan="3">
                {if condition="$assessassets->picture"}
                {volist name="assessassets->picture" id="pic"}
                <div class="img">
                    <img src="{$pic}" class="w_100 h_100" onclick="bigerimg(this)">
                </div>
                {/volist}
                {/if}
            </td>
        </tr>

        <tr class="h50">
            <td>合计：</td>
            <td colspan="3">
                房产评估：{$assessassets->estate|number_format=2} 元<br/>
                资产评估：{$assessassets->assets|number_format=2} 元<br/>
                评估总额：{:number_format($assessassets->estate+$assessassets->assets,2)} 元
            </td>
        </tr>
    </table>
</div>
</body>
</html>
