<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>安置房源|后台管理系统</title>
    {include file="public/head" /}

    <link rel="stylesheet" href="__STATIC__/system/css/chosen.css" charset="utf-8">
</head>
<body>
<h4>安置房源管理</h4>
<div class="toolsBar">
    <!--fgf为工具栏分隔符，刷新没有，离开都有。中间工具每一类第一个添加fgf-->
    <ul>
        <li>
            <a href="{:url('index')}">
                <img src="__STATIC__/system/img/arrow_refresh.png"/>
                重置</a>
        </li>
        <li class="fgf" onclick="layerPage('查询',$('#search'),'700','400')" >
            <img src="__STATIC__/system/img/page_white_magnify.png"/>
            查询
        </li>
        <li class="fgf" onclick="layerIfWindow('添加安置房源','{:url('add')}','800','520')">
            <img src="__STATIC__/system/img/add.png"/>
            添加
        </li>
        <li class="fgf js-ajax-form-btn" data-form="js-ajax-form" data-action="{:url('status',array('status'=>'0'))}">
            <img src="__STATIC__/system/img/checked.png"/>
            闲置
        </li>
        <li class="fgf js-ajax-form-btn" data-form="js-ajax-form" data-action="{:url('status',array('status'=>'1'))}">
            <img src="__STATIC__/system/img/transit.png"/>
            临时安置
        </li>
        <li class="fgf js-ajax-form-btn" data-form="js-ajax-form" data-action="{:url('status',array('status'=>'2'))}">
            <img src="__STATIC__/system/img/reset.png"/>
            安置
        </li>
        <li class="fgf js-ajax-form-btn" data-form="js-ajax-form" data-action="{:url('status',array('status'=>'3'))}">
            <img src="__STATIC__/system/img/disabled.png"/>
            失效
        </li>
        <li class="fgf js-ajax-form-btn" data-form="js-ajax-form" data-action="{:url('delete')}">
            <img src="__STATIC__/system/img/broom.png"/>
            删除
        </li>
        <li class="fgf js-ajax-form-btn" data-form="js-ajax-form" data-action="{:url('restore')}">
            <img src="__STATIC__/system/img/recycle.png"/>
            恢复
        </li>
        <li class="fgf js-ajax-form-btn" data-form="js-ajax-form" data-action="{:url('destroy')}" data-notice="确定要彻底删除吗？">
            <img src="__STATIC__/system/img/destroy.png"/>
            销毁
        </li>
    </ul>
</div>
<form action="{:url('status')}" method="post" id="js-ajax-form">
    <div class="tableCon">
        <em class="xian"></em>
        <table class="table" border="0" >
            <tbody>
            <tr class="noSelect">
                <th class="tc" width="35px">
                    <input class="va_m" type="checkbox" name="" id="allCheck" value="" data-falg="allCheck" onclick="checkBoxOp(this)"/>
                </th>
                <th>ID</th>
                <th>小区</th>
                <th>房号</th>
                <th>交付时间</th>
                <th>户型</th>
                <th>面积</th>
                <th>有无电梯</th>
                <th>类型</th>
                <th>状态</th>
                <th>操作</th>
            </tr>
            {volist name="houses" id="house"}
            <tr>
                <td>
                    <input class="va_m" type="checkbox" name="ids[]" value="{$house->id}" onclick="checkBoxOp(this)" id="check-{$house->id}"/>
                </td>
                <td>{$house->id}</td>
                <td title="{$house->address}">{if condition="$house->deleted_at or $house->getData('status') eq 3"} <del>{$house->c_name}</del>{else /}{$house->c_name}{/if}</td>
                <td>
                    {if condition="$house->deleted_at or $house->getData('status') eq 3"}
                    <del>
                    {if condition="$house->building"}{$house->building}栋{/if}
                    {if condition="$house->unit"}{$house->unit}单元{/if}
                    {if condition="$house->floor"}{$house->floor}楼{/if}
                    {if condition="$house->number"}{$house->number}号{/if}
                    </del>
                    {else /}
                    {if condition="$house->building"}{$house->building}栋{/if}
                    {if condition="$house->unit"}{$house->unit}单元{/if}
                    {if condition="$house->floor"}{$house->floor}楼{/if}
                    {if condition="$house->number"}{$house->number}号{/if}
                    {/if}
                </td>
                <td>{$house->deliver_at}</td>
                <td>{$house->l_name}</td>
                <td>{$house->area}</td>
                <td>{$house->has_lift}</td>
                <td>{$house->is_real} | {$house->is_buy} | {$house->is_transit} | {$house->is_public}</td>
                <td>{$house->status}</td>
                <td>
                    <button type="button" class="btn" onclick="layerIfWindow('安置房源信息',	'{:url('detail',['id'=>$house->id])}','800','560')" >详细信息</button>
                    <button type="button" data-action="{:url('delete',['ids'=>$house->id])}" class="btn js-ajax-form-btn">删除</button>
                </td>
            </tr>
            {/volist}
            </tbody>
        </table>
    </div>
</form>
<div class="pageCon">
    {$houses->render()}
</div>
<!-- 查询 -->
<div id="search" class="layerCon bg_f hide">
    <form action="{:url('index')}" method="post" id="search-form">
        <table class="layerTable">
            <tr class="h50">
                <td>地址：</td>
                <td colspan="7">
                    <select name="community_ids_a[]" id="address" class="chosen" multiple data-placeholder="请选择地址" data-no_results_text="没有匹配数据">
                        <option value="">--选择地址--</option>
                        {volist name="communitys" id="community"}
                        <option value="{$community->id}" {if condition="isset($community_ids_a) and in_array($community->id,$community_ids_a)"}selected{/if}>{$community->address}</option>
                        {/volist}
                    </select>
                </td>
            </tr>
            <tr class="h50">
                <td>小区：</td>
                <td colspan="3">
                    <select name="community_ids_c[]" id="c_name" class="chosen" multiple data-placeholder="请选择小区" data-no_results_text="没有匹配数据">
                        <option value="">--选择小区--</option>
                        {volist name="communitys" id="community"}
                        <option value="{$community->id}" {if condition="isset($community_ids_c) and in_array($community->id,$community_ids_c)"}selected{/if}>{$community->name}</option>
                        {/volist}
                    </select>
                </td>
                <td>户型：</td>
                <td colspan="3">
                    <select name="layout_id" id="layout_id">
                        <option value="">--选择户型--</option>
                        {volist name="layouts" id="layout"}
                        <option value="{$layout->id}" {if condition="isset($layout_id) and $layout->id eq $layout_id"}selected{/if}>{$layout->name}</option>
                        {/volist}
                    </select>
                </td>
            </tr>
            <tr class="h50">
                <td>几栋：</td>
                <td><input type="number" name="building" id="building" value="{$building?:''}" min="1"></td>
                <td>几单元：</td>
                <td><input type="number" name="unit" id="unit" value="{$unit?:''}" min="1"></td>
                <td>几楼：</td>
                <td><input type="number" name="floor" id="floor" value="{$floor?:''}"></td>
                <td>几号：</td>
                <td><input type="number" name="number" id="number" value="{$number?:''}" min="1"></td>
            </tr>
            <tr class="h50">
                <td>面积起：</td>
                <td><input type="number" name="area_start" id="area_start" value="{$area_start?:''}"></td>
                <td>面积止：</td>
                <td><input type="number" name="area_end" id="area_end" value="{$area_end?:''}"></td>
                <td>有无电梯：</td>
                <td>
                    <select name="has_lift" id="has_lift">
                        <option value="">--全部--</option>
                        <option value="1" {if condition="isset($has_lift) and $has_lift==1"}selected{/if}>--有电梯--</option>
                        <option value="0" {if condition="isset($has_lift) and $has_lift==0"}selected{/if}>--无电梯--</option>
                    </select>
                </td>
                <td>状态：</td>
                <td>
                    <select name="status" id="status">
                        <option value="">--全部--</option>
                        {volist name="model->status" id="value"}
                        <option value="{$key}" {if condition="isset($status) and $status==$key"}selected{/if}>{$value}</option>
                        {/volist}
                    </select>
                </td>
            </tr>
            <tr class="h50">
                <td>类型：</td>
                <td>
                    <select name="is_real" id="is_real">
                        <option value="">--全部--</option>
                        {volist name="model->is_real" id="value"}
                        <option value="{$key}" {if condition="isset($is_real) and $is_real==$key"}selected{/if}>{$value}</option>
                        {/volist}
                    </select>
                </td>
                <td>购买：</td>
                <td>
                    <select name="is_buy" id="is_buy">
                        <option value="">--全部--</option>
                        {volist name="model->is_buy" id="value"}
                        <option value="{$key}" {if condition="isset($is_buy) and $is_buy==$key"}selected{/if}>{$value}</option>
                        {/volist}
                    </select>
                </td>
                <td>过渡：</td>
                <td>
                    <select name="is_transit" id="is_transit">
                        <option value="">--全部--</option>
                        {volist name="model->is_transit" id="value"}
                        <option value="{$key}" {if condition="isset($is_transit) and $is_transit==$key"}selected{/if}>{$value}</option>
                        {/volist}
                    </select>
                </td>
                <td>共用：</td>
                <td>
                    <select name="is_public" id="is_public">
                        <option value="">--全部--</option>
                        {volist name="model->is_public" id="value"}
                        <option value="{$key}" {if condition="isset($is_public) and $is_public==$key"}selected{/if}>{$value}</option>
                        {/volist}
                    </select>
                </td>
            </tr>
            <tr class="h50">
                <td>是否删除：</td>
                <td>
                    <select name="deleted" id="deleted">
                        <option value="">--全部--</option>
                        <option value="1" {if condition="isset($deleted) and $deleted==1"}selected{/if}>--是--</option>
                        <option value="0" {if condition="isset($deleted) and $deleted==0"}selected{/if}>--否--</option>
                    </select>
                </td>
                <td>每页条数：</td>
                <td>
                    <select name="display_num" id="display_num">
                        {volist name="nums" id="num"}
                        <option value="{$num}" {if condition="isset($display_num) and $display_num==$num"}selected{/if}>--{$num}--</option>
                        {/volist}
                    </select>
                </td>
                <td>排序：</td>
                <td>
                    <select name="ordername" id="ordername">
                        <option value="id">--默认--</option>
                        <option value="deliver_at" {if condition="isset($ordername) and $ordername=='deliver_at'"}selected{/if}>--交付时间--</option>
                        <option value="created_at" {if condition="isset($ordername) and $ordername=='created_at'"}selected{/if}>--创建时间--</option>
                        <option value="updated_at" {if condition="isset($ordername) and $ordername=='updated_at'"}selected{/if}>--更新时间--</option>
                    </select>
                </td>
                <td>方式：</td>
                <td>
                    <select name="orderby" id="orderby">
                        <option value="asc">--升序--</option>
                        <option value="desc" {if condition="isset($orderby) and $orderby=='desc'"}selected{/if}>--降序--</option>
                    </select>
                </td>
            </tr>

        </table>
        <div class="layerBtns">
            <button class="btn" type="submit">查询</button>
        </div>
    </form>
</div>
<script src="__STATIC__/system/js/ajax-submit.js" type="text/javascript" charset="utf-8"></script>
<script src="__STATIC__/system/js/chosen.jquery.js" type="text/javascript" charset="utf-8"></script>
<script>

    $(function () {
        $('.chosen').chosen();

        $('input[type=text]').on('change',function () {
            var id=$(this).data('id');
            $('#check-'+id).attr('checked',true);
        }) ;

        $('.pageCon').find('a').on('click',function () {
            $('#search-form').attr('action',$(this).attr('href')).submit();
            return false;
        });
    });

</script>
</body>
</html>
