<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>兑付与协议-重要补偿科目|房屋征收安置管理系统</title>
    {include file="pc/public/head" /}

</head>
<body>

<div class="tabs">
    <div class="item">
        <div class="homeTit bg_f5">
            <div class="fl"><img src="__STATIC__/system/img/server_database.png"/>兑付与协议管理</div>
            <ul class="homeTab">
                <li><a href="{:url('Pay/detail',['item_id'=>$item_id,'collection_id'=>$collection_id])}">兑付汇总</a></li>
                <li><a href="{:url('Payholder/index',['item_id'=>$item_id,'pay_id'=>$pay_id])}">分权兑付</a></li>
                <li class="on"><a href="javascript:location.reload();">补偿科目</a></li>
                <li><a href="{:url('Payobject/index',['item_id'=>$item_id,'pay_id'=>$pay_id])}">补偿事项</a></li>
                <li><a href="{:url('Payholderhouse/index',['item_id'=>$item_id,'pay_id'=>$pay_id])}">安置房</a></li>
                <li><a href="{:url('Pact/index',['item_id'=>$item_id,'pay_id'=>$pay_id])}">补偿协议</a></li>
            </ul>
        </div>
        <div class="homeCon">
            <div class="tabPage w_100 on">
                <div class="tableCon">
                    <em class="xian"></em>
                    <table class="table" border="0" >
                        <tbody>
                        <tr class="noSelect">
                            <th>序号</th>
                            <th>名称</th>
                            <th>数量来源</th>
                            <th>数量</th>
                            <th>单位</th>
                            <th>单价</th>
                            <th>次数</th>
                            <th>总额</th>
                        </tr>
                        {volist name="paysubjects" id="paysubject"}
                        <tr>
                            <td>{$i}</td>
                            <td>{$paysubject->name}</td>
                            <td>{$paysubject->num_from}</td>
                            <td>{$paysubject->number|number_format=2}</td>
                            <td>{$paysubject->unit}</td>
                            <td>{$paysubject->price|number_format=2}</td>
                            <td>{$paysubject->times}</td>
                            <td>{$paysubject->amount|number_format=2}</td>
                        </tr>
                        {/volist}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>
