<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>项目兑付与协议-安置房|后台管理系统</title>
    {include file="public/head" /}

</head>
<body>
<form action="{:url('add')}" method="post" class="js-ajax-form" onsubmit="return false;">
    <div class="layerCon bg_f">
        <input type="hidden" name="pay_id" value="{$pay_id}">
        <table class="layerTable" border="0">
            <tr class="h50">
                <td><label for="pay_holder_id">被征收人：</label></td>
                <td>
                    <select name="pay_holder_id" id="pay_holder_id">
                        <option value="">--选择被征收人--</option>
                        {volist name="payholders" id="payholder"}
                        {if condition="($pay_info->getData('type') and $payholder->getData('holder') eq 2) or (!$pay_info->getData('type') and $payholder->getData('holder') eq 1)"}
                        <option value="{$payholder->id}" >{$payholder->name} 【{$payholder->holder}】</option>
                        {/if}
                        {/volist}
                    </select>
                </td>
            </tr>
            <tr class="h50">
                <td><label for="house_id">安置房：</label></td>
                <td>
                    <select name="house_id" id="house_id" class="chosen" data-placeholder="请选择安置房" data-no_results_text="没有匹配数据">
                        <option value="">--选择安置房--</option>
                        {volist name="houses" id="house"}
                        <option value="{$house->house_id}">
                            {$house->address}
                            {$house->hc_name}
                            {if condition="$house->building"}{$house->building}栋{/if}
                            {if condition="$house->unit"}{$house->unit}单元{/if}
                            {if condition="$house->floor"}{$house->floor}楼{/if}
                            {if condition="$house->number"}{$house->number}号{/if}
                            【{$house->l_name}】
                            【{$house->area} ㎡】
                        </option>
                        {/volist}
                    </select>
                </td>
            </tr>
            <tr class="h50">
                <td><label for="sort">选择排序：</label></td>
                <td><input type="number" name="sort" id="sort" value="" placeholder="输入选择安置优先顺序" min="0"></td>
            </tr>
           
            
        </table>
    </div>
    <div class="layerBtns">
        <a class="btn js-ajax-form-btn" data-layer="true" >立即提交</a>
        <button class="btn" type="reset">重置</button>
    </div>

</form>

<script>
   
</script>
</body>
</html>
