<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{$cur_menu->name}|房屋征收安置管理系统</title>
    <meta name="viewport" content="width=device-width,minimum-scale=1,maximum-scale=1,initial-scale=1,user-scalable=no" />

    {include file="mobile/public/head"/}
    {include file="mobile/public/kindeditor"/}
</head>
<body>
<div class="page">

    {include file="mobile/public/header"/}

    <div class="w_100 backCo_w">

        {include file="mobile/public/breadnav"/}

        <form class="js-ajax-form" action="{:isset($infos)?url('edit'):url('add')}" method="post" onsubmit="return false;">
            <p class="padLR12 btnp maT10">
                <span class="on">基本信息</span>
                <span>相关图片</span>
                <span>详细介绍</span>
            </p>
            <div class="backCo_w w_100 tabDiv">
                <div class=" add_menu maT20">
                    <input type="hidden" name="id" value="{:isset($infos)?$infos->id:''}">
                    <p class="padLR12">
                        <span>类型：</span>
                        <select name="type" id="type">
                            {volist name="model->type" id="type"}
                            <option value="{$key}" {if condition="isset($infos) and $infos->getData('type') eq $key"}selected{/if}>{$type}</option>
                            {/volist}
                        </select>
                    </p>
                    <p class="padLR12">
                        <span>简名：</span>
                        <input id="short_name" type="text" name="short_name" value="{:isset($infos)?$infos->short_name:''}" required placeholder="输入简名"/>
                    </p>
                    <p class="padLR12">
                        <span>名称：</span>
                        <input id="name" class="must" type="text" name="name" value="{:isset($infos)?$infos->name:''}" required placeholder="输入唯一名称"/>
                    </p>
                    <p class="padLR12">
                        <span>地址：</span>
                        <input id="address" type="text" name="address" value="{:isset($infos)?$infos->address:''}"  placeholder="输入地址"/>
                    </p>
                    <p class="padLR12">
                        <span>公司电话：</span>
                        <input id="phone" type="text" name="phone" value="{:isset($infos)?$infos->phone:''}"  placeholder="输入公司电话"/>
                    </p>
                    <p class="padLR12">
                        <span>公司传真：</span>
                        <input id="fax" type="text" name="fax" value="{:isset($infos)?$infos->fax:''}"  placeholder="输入公司传真"/>
                    </p>
                    <p class="padLR12">
                        <span>联系人：</span>
                        <input id="contact_man" type="text" name="contact_man" value="{:isset($infos)?$infos->contact_man:''}"  placeholder="输入联系人姓名"/>
                    </p>
                    <p class="padLR12">
                        <span>联系电话：</span>
                        <input id="contact_phone" type="text" name="contact_phone" value="{:isset($infos)?$infos->contact_phone:''}"  placeholder="输入联系电话"/>
                    </p>
                    <p class="padLR12">
                        <span>登录名：</span>
                        <input id="username" type="text" name="username" value="{:isset($infos)?$infos->username:''}" required placeholder="输入评估平台登录名"/>
                    </p>
                    <p class="padLR12">
                        <span>登录密码：</span>
                        <input id="password" type="text" name="password" value="{:isset($infos)?$infos->password:''}" required placeholder="输入评估平台登录密码"/>
                    </p>
                    <p class="padLR12">
                        <span>密钥：</span><button type="button" title="点击获取" id="getkey" data-obj="#secret_key" style="position: absolute;left: 62px;top: 15px;">
                            <img src="__STATIC__/system/img/add.png" alt="点击获取"></button>
                        <input id="secret_key" type="text" name="secret_key" value="{:isset($infos)?$infos->secret_key:''}" required placeholder="输入评估平台密钥"/>
                    </p>
                    <p class="padLR12">
                        <span>显示排序：</span>
                        <input id="sort" type="number" name="sort" value="{:isset($infos)?$infos->sort:''}"/>
                    </p>
                    <p class="padLR12">
                        <span>状态：</span>
                        <select name="status" id="status">
                            {volist name="model->status" id="value"}
                            <option value="{$key}" {if condition="(!isset($infos) and $key eq 1) or (isset($infos) and $infos->status eq $value)"} selected{/if} >{$value}</option>
                            {/volist}
                        </select>
                    </p>
                    <div class="w_100 backCo_f2 add_menu_textarea">
                        <p>简介：</p>
                        <textarea class="flex" id="infos" name="infos">{$infos->infos?:''}</textarea>
                    </div>
                    {if condition="isset($infos)"}
                    <p style="height: auto;line-height: inherit;">
                        创建于：{$infos->created_at}<br/>
                        更新于：{$infos->updated_at}<br/>
                        {if condition="isset($infos) and $infos->deleted_at"}
                        删除于：{$infos->deleted_at|date='Y-m-d H:i:s',###}
                        {/if}
                    </p>
                    {/if}
                </div>

                <div class="padLR12 add_menu maT20" style="display: none;">
                    <div class="w_100 backCo_f2 add_menu_textarea">
                        <p>LOGO：</p>
                        <ul class="hxt_ul add_tu">
                            {if condition="isset($infos) and $infos->logo"}
                            <li>
                                <img src="{$infos->logo}" class="w_100 h_100" onclick="bigerimg(this)">
                                <span>
                                    <span onclick="picremove(this);"><i class="iconfont icon-guanbi"></i></span>
                                </span>
                                <input type="hidden" name="logo" value="{$infos->logo}"/>
                            </li>
                            {/if}
                            <li class="btn-upload" data-type="image" data-hidename="logo">
                                <a>+</a>
                            </li>
                        </ul>

                    </div>

                    <p class="add-cate-box">
                        <span>其他分类：</span>
                        <input type="text" placeholder="请输入类型名称" name="cate_name"/>
                    </p>
                    <div class="Btnform align_cen bor_none maT10 add-cate">
                        <span class="submit button addrow">点击添加分类</span>
                    </div>


                    <table class="w_100  dong_table">
                        <tbody id="picture-table">
                        <tr>
                            <td colspan="2" style="border: none;height: 15px;background: white;"></td>
                        </tr>
                        {if condition="isset($infos) and $infos->picture"}
                        {volist name="$infos->picture" id="pics"}
                        {php}$name=$key;{/php}
                        <tr>
                            <td style="border-bottom: 1px solid black">
                                <p>{$name}</p>
                                <span class="dele_row" onclick='picremove(this);'>删除</span>
                            </td>
                            <td style="border-bottom: 1px solid black">
                                <ul class="hxt_ul add_tu">
                                    {volist name="pics" id="pic" key="k"}
                                    {if condition="$pic"}
                                    <li>
                                        <img src="{$pic}" class="w_100 h_100" onclick="bigerimg(this)">
                                        <span><span onclick="picremove(this);"><i class="iconfont icon-guanbi"></i></span></span>
                                        <input type="hidden" name="picture[{$name}][]" value="{$pic}">
                                    </li>
                                    {/if}
                                    {/volist}
                                    <li class="btn-upload" data-type="multiimage" data-hidename="picture[{$name}][]">
                                        <input type="file" multiple onchange="multiimageupl(this)">
                                        <a>+</a>
                                    </li>
                                </ul>
                            </td>
                        </tr>
                        {/volist}
                        {/if}

                        </tbody>
                    </table>
                    <table style="display: none">
                        <tbody >
                        <tr id="img_tpl">
                            <td style="border-bottom: 1px solid black">
                                <p class="cate-name"></p>
                                <span class="dele_row" onclick='picremove(this);'>删除</span>
                            </td>
                            <td style="border-bottom: 1px solid black">
                                <ul class="hxt_ul add_tu">
                                    <li class="btn-upload" data-type="multiimage" data-hidename="">
                                        <input type="file" multiple  onchange="multiimageupl(this)">
                                        <a>+</a>
                                    </li>
                                </ul>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="padLR12 add_menu maT20" style="display: none;overflow: scroll;">
                    <div id="textBox">
                        <textarea name="content" id="content" class="kindeditor">{:isset($infos)?$infos->content:''}</textarea>
                    </div>
                </div>
            </div>
            <!--提交按钮-->
            <p class="Btnform align_cen bor_none maT20">
                <span class="submit button maR17 js-ajax-form-btn">立即提交</span>
                <span class="maL17 button" onclick="window.history.back(-1);">返回</span>
            </p>
            <!--弹出层-->

        </form>
    </div>
</div>
<script>
    $(function () {
        /*----- 获取密钥 -----*/
        $("#getkey").click(function () {
            var obj=$(this).data('obj');
            $.ajax({
                url:"{:url('Tools/getguid')}",
                dataType:'json',
                type:'get',
                success:function (resp) {
                    if(resp.code){
                        $(obj).val(resp.data);
                    }else{
                        layer.open({
                            content:'获取失败'
                            ,skin: 'msg'
                            ,time:1.5
                        });
                    }
                },
                error:function () {
                    layer.open({
                        content:'获取失败'
                        ,skin: 'msg'
                        ,time:1.5
                    });
                }
            });
        });
        /*----- 添加分类 -----*/
        $('.add-cate').on('click',function () {
            var add_cate_box=$(this).siblings('.add-cate-box'),
                cate_name=add_cate_box.find('input[name="cate_name"]:first').val().replace(/\s+/g, '');
            if(cate_name.length){
                add_cate_box.find('input[name="cate_name"]:first').val('');
                var img_tpl=$('#img_tpl').clone(true).attr('id','');
                img_tpl.find('.cate-name').text(cate_name);
                img_tpl.find('.btn-upload').data('hidename','picture['+cate_name+'][]');
                $('#picture-table').append(img_tpl);
            }else{
                layer.open({
                    content:'请输入分类名称'
                    ,skin: 'msg'
                    ,time:1.5
                });
            }
        });
    });


    /*----- 富文本编辑器 -----*/
    KindEditor.ready(function(K) {
        window.editor = K.create('.kindeditor',{
            width : '100%',
            minHeight:'300',
            uploadJson : upload_url,
            fileManagerJson : filemanager_url,
            allowFileManager : true,
            items:['source', '|', 'undo', 'redo', '|', 'preview', 'print', 'template', 'code', 'cut', 'copy', 'paste',
                'plainpaste', 'wordpaste', '|', 'justifyleft', 'justifycenter', 'justifyright',
                'justifyfull', 'insertorderedlist', 'insertunorderedlist', 'indent', 'outdent', 'subscript',
                'superscript', 'clearhtml', 'quickformat', 'selectall', '/',
                'formatblock', 'fontname', 'fontsize', '|', 'forecolor', 'hilitecolor', 'bold',
                'italic', 'underline', 'strikethrough', 'lineheight', 'removeformat', '|', 'image',
                'flash', 'media', 'insertfile', 'table', 'hr', 'emoticons', 'baidumap', 'pagebreak',
                'anchor', 'link', 'unlink', '|', 'about'],
            afterBlur:function () {
                editor.sync();
            },
            autoHeightMode : true,
            afterCreate : function() {
                this.loadPlugin('autoheight');
            }
        });
    });
</script>

</body>
</html>