<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{$cur_menu->name}|房屋征收安置管理系统</title>
    <meta name="viewport" content="width=device-width,minimum-scale=1,maximum-scale=1,initial-scale=1,user-scalable=no" />

    {include file="mobile/public/head"/}
    {include file="mobile/public/kindeditor"/}
</head>
<body>
<div class="page">

    {include file="mobile/public/header"/}

    <div class="w_100 backCo_w">

        {include file="mobile/public/breadnav"/}

        <form class="js-ajax-form" action="{:isset($infos)?url('edit'):url('add')}" method="post" onsubmit="return false;">
            <p class="padLR12 btnp maT10">
                <span><a href="{:url('Pay/detail',['id'=>$pay_id])}">兑付汇总</a></span>
                <span class="on"><a href="javascript:location.reload();">分权兑付</a></span>
                <span><a href="{:url('Paysubject/index',['item_id'=>$item_info->id,'pay_id'=>$pay_id])}">补偿科目</a></span>
                <span><a href="{:url('Payobject/index',['item_id'=>$item_info->id,'pay_id'=>$pay_id])}">补偿事项</a></span>
                <span><a href="{:url('Payholderhouse/index',['item_id'=>$item_info->id,'pay_id'=>$pay_id])}">安置房</a></span>
                <span><a href="{:url('Pact/index',['item_id'=>$item_info->id,'pay_id'=>$pay_id])}">补偿协议</a></span>
            </p>
            <div class="backCo_w w_100 tabDiv">
                <div class="maT20">
                    <form action="{:url('index')}" method="post" id="js-ajax-form">
                    <table id="example-advanced" class="table treetable w_100" border="0" >
                        <tbody>
                        <tr class="noSelect">
                            <th style="text-align: left;"><input type="checkbox" data-role="checkall"/> 更多</th>
                            <th>ID</th>
                            <th>名称</th>
                            <th>产权</th>
                            <th>份额</th>
                            <th>操作</th>
                        </tr>

                        {volist name="payholders" id="payholder"}
                        <tr>
                            <td class="more">
                                <input type='checkbox' data-role="check"  name="ids[]" value="{$payholder->id}"/>
                                &nbsp;
                                <i class="iconfont icon-gongyongshuangjiantouxia"></i>
                            </td>
                            <td>{$payholder->id}</td>
                            <td>{$payholder->name}</td>
                            <td>{$payholder->holder}</td>
                            <td>{$payholder->portion}</td>
                            <td class="shezhi"><i class="iconfont icon-shezhi2"></i>
                                <div class="hide">
                                    <img src="__STATIC__/sysmobile/img/sanjiao.png" />
                                    <a href="{:url('detail',['id'=>$payholder->id])}"><i class="iconfont icon-xiugai"></i></a>
                                </div>
                            </td>
                        </tr>
                        <tr class="hide_more hide">
                            <td colspan="6" style="padding: 0 !important;">
                                <div class="table_more w_100 backCo_f21">
                                    <div class="flex w_100">
                                        <div class="w_30 align_right">地址：</div><div class="align_left">{$payholder->address}</div>
                                    </div>
                                    <div class="flex w_100">
                                        <div class="w_30 align_right">电话：</div><div class="align_left">{$payholder->phone}</div>
                                    </div>
                                    <div class="flex w_100">
                                        <div class="w_30 align_right">房产：</div><div class="align_left">{$payholder->estate_amount|number_format=2}</div>
                                    </div>
                                    <div class="flex w_100">
                                        <div class="w_30 align_right">资产：</div><div class="align_left">{$payholder->assets_amount|number_format=2}</div>
                                    </div>
                                    <div class="flex w_100">
                                        <div class="w_30 align_right">公共平均：</div><div class="align_left">{$payholder->public_avg|number_format=2}</div>
                                    </div>
                                    <div class="flex w_100">
                                        <div class="w_30 align_right">重要科目：</div><div class="align_left">{$payholder->subject_amount|number_format=2}</div>
                                    </div>
                                    <div class="flex w_100">
                                        <div class="w_30 align_right">补偿事项：</div><div class="align_left">{$payholder->object_amount|number_format=2}</div>
                                    </div>
                                    <div class="flex w_100">
                                        <div class="w_30 align_right">总计：</div><div class="align_left">{$payholder->total_amount|number_format=2}</div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        {/volist}
                        </tbody>
                    </table>
                </form>
                </div>
            </div>

            <!--弹出层-->

        </form>
    </div>
</div>
<script>
    $('table').on('change ','input[data-role="checkall"]',function () {
        if($(this).prop('checked')){
            $('table').find('input[type=checkbox]').prop('checked',true);
        }else{
            $('table').find('input[type=checkbox]').prop('checked',false);
        }
    }).on('change','input[data-role="check"]',function () {
        var checkbox_obj=$('table').find('input[data-role="check"]');
        var checkbox_num=checkbox_obj.length;
        var checked_num=$('table').find('input[data-role="check"]:checked').length;
        if(checked_num == checkbox_num ){
            $('table').find('input[data-role="checkall"]').prop('checked',true);
        }else{
            $('table').find('input[data-role="checkall"]').prop('checked',false);
        }
    });
</script>

</body>
</html>