<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>入户摸底-建筑|后台管理系统</title>
    {include file="public/head" /}
    {include file="public/kindeditor" /}

</head>
<body>
<form action="{:isset($infos)?url('edit'):url('add')}" method="post" class="js-ajax-form" onsubmit="return false;">
    <div class="tabs">
        <div class="item">
            <div class="homeTit bg_f5">
                <div class="fl"><img src="__STATIC__/system/img/house.png"/>入户摸底-建筑</div>
                <ul class="homeTab">
                    <li class="on">基本信息</li>
                    <li>相关图片</li>
                </ul>
            </div>
            <div class="homeCon">
                <div class="tabPage w_100 on">
                    <div class="layerCon bg_f">
                        <input type="hidden" name="id" value="{:isset($infos)?$infos->id:''}">
                        <input type="hidden" name="item_id" value="{:isset($infos)?$infos->item_id:$collection_info->item_id}">
                        <input type="hidden" name="collection_id" value="{:isset($infos)?$infos->collection_id:$collection_info->id}">
                        <table class="layerTable" border="0">
                            <tr class="h50">
                                <td>批准用途：</td>
                                <td>
                                    <select name="default_use" id="default_use" class="chosen" data-placeholder="请选择用途" data-no_results_text="没有匹配数据">
                                        <option value="">--请选择用途--</option>
                                        {volist name="buildinguses" id="buildinguse"}
                                        <option value="{$buildinguse->id}" {if condition="isset($infos) and $infos->default_use eq $buildinguse->id"}selected{/if}>{$buildinguse->name}</option>
                                        {/volist}
                                    </select>

                                </td>
                                <td>实际用途：</td>
                                <td>
                                    <select name="use_id" id="use_id" class="chosen" data-placeholder="请选择用途" data-no_results_text="没有匹配数据">
                                        <option value="">--请选择用途--</option>
                                        {volist name="buildinguses" id="buildinguse"}
                                        <option value="{$buildinguse->id}" {if condition="isset($infos) and $infos->use_id eq $buildinguse->id"}selected{/if}>{$buildinguse->name}</option>
                                        {/volist}
                                    </select>
                                </td>
                                <td><label for="struct_id">建筑结构：</label></td>
                                <td>
                                    <select name="struct_id" id="struct_id" class="chosen" data-placeholder="请选择结构" data-no_results_text="没有匹配数据">
                                        <option value="">--选择建筑结构--</option>
                                        {volist name="buildingstructs" id="buildingstruct"}
                                        <option value="{$buildingstruct->id}" {if condition="isset($infos) and $infos->struct_id eq $buildingstruct->id"}selected{/if}>{$buildingstruct->name}</option>
                                        {/volist}
                                    </select>
                                </td>
                                <td>建筑状况：</td>
                                <td>
                                    {if condition="isset($infos) and $infos->getData('status_id')"}
                                    {$infos->buildingstatus->name}
                                    {else/}
                                    待定
                                    {/if}
                                </td>
                            </tr>
                            
                            <tr class="h50">
                                <td><label for="item_id">项目：</label></td>
                                <td colspan="3">{:isset($infos)?$infos->item->name:$collection_info->item->name}</td>
                                <td><label for="community_id">片区：</label></td>
                                <td colspan="3">{:isset($infos)?$infos->community->name:$collection_info->community->name}</td>
                            </tr>
                           
                            <tr class="h50">
                                <td><label for="collection_id">权属：</label></td>
                                <td colspan="3">
                                    {if condition="isset($infos)"}
                                    {if condition="$infos->collection->building"}{$infos->collection->building}栋{/if}
                                    {if condition="$infos->collection->unit"}{$infos->collection->unit}单元{/if}
                                    {if condition="$infos->collection->floor"}{$infos->collection->floor}楼{/if}
                                    {if condition="$infos->collection->number"}{$infos->collection->number}号{/if}
                                    {else/}
                                    {if condition="$collection_info->building"}{$collection_info->building}栋{/if}
                                    {if condition="$collection_info->unit"}{$collection_info->unit}单元{/if}
                                    {if condition="$collection_info->floor"}{$collection_info->floor}楼{/if}
                                    {if condition="$collection_info->number"}{$collection_info->number}号{/if}
                                    {/if}
                                </td>
                                <td><label for="total_floor">总楼层：</label></td>
                                <td><input type="number" id="total_floor" name="total_floor" value="{:isset($infos)?$infos->total_floor:''}"></td>
                                <td><label for="direction">朝向：</label></td>
                                <td><input type="text" id="direction" name="direction" value="{:isset($infos)?$infos->direction:''}"></td>
                            </tr>
                            <tr class="h50">
                                <td>几栋：</td>
                                <td><input type="number" name="building" id="building" value="{:isset($infos)?$infos->building:''}" min="1"></td>
                                <td>几单元：</td>
                                <td><input type="number" name="unit" id="unit" value="{:isset($infos)?$infos->unit:''}" min="1"></td>
                                <td>几楼：</td>
                                <td><input type="number" name="floor" id="floor" value="{:isset($infos)?$infos->floor:''}"></td>
                                <td>几号：</td>
                                <td><input type="number" name="number" id="number" value="{:isset($infos)?$infos->number:''}" min="1"></td>
                            </tr>
                            <tr class="h50">
                                <td><label for="register">登记号：</label></td>
                                <td><input type="text" name="register" id="register" value="{:isset($infos)?$infos->register:''}" placeholder="输入土地使用证号或房产证号"></td>
                                <td><label for="register_num">登记数量：</label></td>
                                <td><input type="number" name="register_num" id="register_num" value="{:isset($infos)?$infos->register_num:''}" placeholder="输入登记数量（登记面积）"></td>
                                <td><label for="real_num">实际数量：</label></td>
                                <td><input type="number" name="real_num" id="real_num" value="{:isset($infos)?$infos->real_num:''}" placeholder="输入实际数量（测绘面积）"></td>
                                <td><label for="real_unit">数量单位：</label></td>
                                <td><input type="text" name="real_unit" id="real_unit" value="{:isset($infos)?$infos->real_unit:''}" placeholder="输入数量单位（如平方米）"></td>
                            </tr>
                            <tr class="h50">
                                <td>使用状态：</td>
                                <td>
                                    {volist name="model->status" id="status"}
                                    <label><input class="va_m" name="status" type="radio"  value="{$key}" {if condition="(!isset($infos) and $key eq 0) or (isset($infos) and $infos->status eq $status)"}checked{/if}>{$status}</label>
                                    {/volist}
                                </td>
                                <td><label for="business">经营项目：</label></td>
                                <td colspan="3"><input type="text" name="business" id="business" value="{:isset($infos)?$infos->business:''}" ></td>
                                <td><label for="build_year">建造年份：</label></td>
                                <td><input type="number" name="build_year" id="build_year" value="{:isset($infos)?$infos->build_year:''}" min="1"></td>
                            </tr>
                            <tr class="h50">
                                <td><label for="remark">备注：</label></td>
                                <td colspan="7"><input type="text" name="remark" id="remark" value="{:isset($infos)?$infos->remark:''}"></td>
                            </tr>
                            {if condition="isset($infos)"}
                            <tr class="h50">
                                <td>操作时间：</td>
                                <td colspan="7">
                                    创建于：{$infos->created_at}<br/>
                                    更新于：{$infos->updated_at}<br/>
                                    {if condition="isset($infos) and $infos->deleted_at"}
                                    删除于：{$infos->deleted_at|date='Y-m-d H:i:s',###}
                                    {/if}
                                </td>
                            </tr>
                            {/if}
                        </table>
                    </div>
                </div>
                <div class="tabPage w_100">
                    <div class="layerCon bg_f">
                        <table class="layerTable" border="0" id="picture-table">
                            <tr class="h50">
                                <td>分类：</td>
                                <td>
                                    <div class="form-inline add-cate-box">
                                        <div class="form-group">
                                            <input type="text" name="cate_name" class="form-control" placeholder="请输入类型名称" style="width: inherit; height: 30px; border: 1px solid #ddd;line-height: 30px;padding: 0 2px;">
                                        </div>
                                        <div class="form-group">
                                            <button class="btn add-cate" type="button">点击添加分类</button>
                                        </div>
                                    </div>
                                </td>
                            </tr>

                            {if condition="isset($infos) and $infos->picture"}
                            {volist name="$infos->picture" id="pics"}
                            {php}$name=$key;{/php}
                            <tr class="h70">
                                <td><span>{$name}</span>：<br/><br/><button type="button" onclick="picremove(this)">点击删除</button></td>
                                <td class="imgCon">
                                    {volist name="pics" id="pic" key="k"}
                                    {if condition="$pic"}
                                    <div class="img">
                                        <img src="{$pic}" class="w_100 h_100" onclick="bigimg(this)">
                                        <p><span onclick="picremove(this);">删除</span></p>
                                        <input type="hidden" name="picture[{$name}][]" value="{$pic}">
                                    </div>
                                    {/if}
                                    {/volist}
                                    <div class="img btn-upload" data-type="multiimage" data-hidename="picture[{$name}][]"><a>+</a></div>
                                </td>
                            </tr>
                            {/volist}
                            {/if}

                        </table>
                    </div>
                </div>
                <div class="layerBtns">
                    <a class="btn js-ajax-form-btn" data-layer="true" >立即提交</a>
                    <button class="btn" type="reset">重置</button>
                </div>
            </div>
        </div>
    </div>

</form>

<table style="display: none">
    <tr class="h70" id="img_tpl">
        <td><span class="cate-name"></span>：<br/><br/><button type="button" onclick="picremove(this)">点击删除</button></td>
        <td class="imgCon">
            <div class="img btn-upload" data-type="multiimage" data-hidename=""><a>+</a></div>
        </td>
    </tr>
</table>

<script>
    /*----- 添加分类 -----*/
    $('.add-cate').on('click',function () {
        var add_cate_box=$(this).parents('.add-cate-box'),
            cate_name=add_cate_box.find('input[name="cate_name"]:first').val().replace(/\s+/g, '');
        if(cate_name.length){
            add_cate_box.find('input[name="cate_name"]:first').val('');
            var img_tpl=$('#img_tpl').clone(true).attr('id','');
            img_tpl.find('.cate-name').text(cate_name);
            img_tpl.find('.btn-upload').data('hidename','picture['+cate_name+'][]');
            $('#picture-table').append(img_tpl);
        }else{
            layer.msg('请输入分类名称',function () {});
        }
    });

</script>
</body>
</html>
