<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>风险评估调查|房屋征收安置管理系统</title>
    {include file="pc/public/head" /}

</head>
<body>
<form action="{:url('add',['item_id'=>$item_id])}" method="post" class="js-ajax-form" onsubmit="return false;">
    <div class="layerCon bg_f">
        <input type="hidden" name="item_id" value="{$item_id}">
        <input type="hidden" name="collection_id" value="{$collection_id}">
        <table class="layerTable" border="0">
            <tr class="h50">
                <td><label for="is_agree">征收意见：</label></td>
                <td>
                    <select name="is_agree" id="is_agree">
                        {volist name="model->is_agree" id="value"}
                        <option value="{$key}" {eq name="key" value="1"} selected {/eq}>{$value}</option>
                        {/volist}
                    </select>
                </td>
                <td><label for="compensate_way">补偿方式：</label></td>
                <td>
                    <select name="compensate_way" id="compensate_way">
                        {volist name="model->compensate_way" id="value"}
                        <option value="{$key}">{$value}</option>
                        {/volist}
                    </select>
                </td>
            </tr>
            <tr class="h50">
                <td><label for="transit_way">过渡方式：</label></td>
                <td>
                    <select name="transit_way" id="transit_way">
                        {volist name="model->transit_way" id="value"}
                        <option value="{$key}">{$value}</option>
                        {/volist}
                    </select>
                </td>
                <td><label for="move_way">搬迁方式：</label></td>
                <td>
                    <select name="move_way" id="move_way">
                        {volist name="model->move_way" id="value"}
                        <option value="{$key}">{$value}</option>
                        {/volist}
                    </select>
                </td>
            </tr>
            <tr class="h50">
                <td><label for="compensate_price">补偿单价：</label></td>
                <td><input type="number" name="compensate_price" id="compensate_price" value="" min="0" placeholder="输入期望房屋平均补偿单价"></td>
                <td><label for="deputy">群众代表：</label></td>
                <td>
                    <select name="deputy" id="deputy">
                        {volist name="model->deputy" id="value"}
                        <option value="{$key}">{$value}</option>
                        {/volist}
                    </select>
                </td>
            </tr>
            <tr class="h50">
                <td><label for="recommemd_holder_id">推荐代表：</label></td>
                <td colspan="3">
                    <select name="recommemd_holder_id" id="recommemd_holder_id">
                        {volist name="holders" id="holder"}
                        <option value="{$holder->id}">{$holder->name} 【{$holder->address}，{$holder->phone}】</option>
                        {/volist}
                    </select>
                </td>
            </tr>
            <tr class="h50">
                <td>其他意见</td>
                <td colspan="3"><textarea name="opinion" id="opinion" placeholder="输入其他意见"></textarea></td>
            </tr>

            {volist name="itemtopics" id="itemtopic"}
            <tr class="h50">
                <td>{$i}、</td>
                <td colspan="3"><label for="topic-{$itemtopic->topic_id}">{$itemtopic->topic->name}</label></td>
            </tr>
            <tr class="h50">
                <td>答：</td>
                <td colspan="3"><input type="text" name="topics[{$itemtopic->topic_id}]" id="topic-{$itemtopic->topic_id}" value=""></td>
            </tr>
            {/volist}

        </table>
        <div class="layerBtns">
            <a class="btn js-ajax-form-btn" data-layer="true" >立即提交</a>
            <button class="btn" type="reset">重置</button>
        </div>
    </div>
</form>

<script>

</script>
</body>
</html>
