<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>风险评估调查|房屋征收安置管理系统</title>
    {include file="pc/public/head" /}

</head>
<body>
<div class="layerCon bg_f">

    <table class="layerTable" border="0">
        <tr class="h50">
            <td>征收意见：</td>
            <td>{$infos->is_agree}</td>
            <td>补偿方式：</td>
            <td>{$infos->compensate_way}</td>
        </tr>
        <tr class="h50">
            <td>过渡方式：</td>
            <td>{$infos->transit_way}</td>
            <td>搬迁方式：</td>
            <td>{$infos->move_way}</td>
        </tr>
        <tr class="h50">
            <td>补偿单价：</td>
            <td>{if condition="$infos->compensate_price"}{$infos->compensate_price|number_format} 元{/if}</td>
            <td>群众代表：</td>
            <td>{$infos->deputy}</td>
        </tr>
        <tr class="h50">
            <td>推荐代表：</td>
            <td colspan="3">
                {if condition="$infos->recommendholder"}
                {$infos->recommendholder->name} 【{$infos->recommendholder->address}，{$infos->recommendholder->phone}】
                {/if}
            </td>
        </tr>
        <tr class="h50">
            <td>其他意见</td>
            <td colspan="3">{$infos->opinion}</td>
        </tr>

        {volist name="infos->risktopic" id="itemtopic"}
        <tr class="h50">
            <td>{$i}、</td>
            <td colspan="3">{$itemtopic->topic->name}</td>
        </tr>
        <tr class="h50">
            <td>答：</td>
            <td colspan="3">{$itemtopic->answer}</td>
        </tr>
        {/volist}

    </table>
</div>

<script>

</script>
</body>
</html>
