<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>入户摸底|后台管理系统</title>
    {include file="public/head" /}
    {include file="public/kindeditor" /}

</head>
<body>
<form action="{:isset($infos)?url('edit'):url('add')}" method="post" class="js-ajax-form" onsubmit="return false;">
    <div class="tabs">
        <div class="item">
            <div class="homeTit bg_f5">
                <div class="fl"><img src="__STATIC__/system/img/outlook_new_meeting.png"/>入户摸底</div>
                <ul class="homeTab">
                    <li class="on">基本信息</li>
                    <li>审批文件</li>
                </ul>
            </div>
            <div class="homeCon">
                <div class="tabPage w_100 on">
                    <div class="layerCon bg_f">
                        <input type="hidden" name="id" value="{:isset($infos)?$infos->id:''}">
                        <table class="layerTable" border="0">
                            <tr class="h50">
                                <td>项目：</td>
                                <td>
                                    <select name="item_id" id="item_id" class="chosen" data-placeholder="请选择项目" data-no_results_text="没有匹配数据">
                                        <option value="">--请选择项目--</option>
                                        {volist name="items" id="item"}
                                        <option value="{$item->id}">{$item->name}</option>
                                        {/volist}
                                    </select>
                                </td>
                                <td>片区：</td>
                                <td>
                                    <select name="community_id" id="community_id" class="chosen" data-placeholder="请选择片区" data-no_results_text="没有匹配数据">
                                        <option value="">--请选择片区--</option>
                                        {volist name="collectioncommunitys" id="community"}
                                        <option value="{$community->id}">{$community->name}</option>
                                        {/volist}
                                    </select>
                                </td>
                            </tr>
                            <tr class="h50">
                                <td>几栋：</td>
                                <td><input type="number" name="building" id="building" value="{:isset($infos)?$infos->building:''}" min="1"></td>
                                <td>几单元：</td>
                                <td><input type="number" name="unit" id="unit" value="{:isset($infos)?$infos->unit:''}" min="1"></td>
                                <td>几楼：</td>
                                <td><input type="number" name="floor" id="floor" value="{:isset($infos)?$infos->floor:''}"></td>
                                <td>几号：</td>
                                <td><input type="number" name="number" id="number" value="{:isset($infos)?$infos->number:''}" min="1"></td>
                            </tr>
                            <tr class="h50">
                                <td>类型：</td>
                                <td>
                                    <select name="type" id="type">
                                        {volist name="model->type" id="type"}
                                        <option value="{$key}" {if condition="(!isset($infos) and $key eq 0) or (isset($infos) and $infos->type eq $type)"}selected{/if}>{$type}</option>
                                        {/volist}
                                    </select>

                                </td>
                                <td>土地性质：</td>
                                <td>
                                    {volist name="model->land_prop" id="land_prop"}
                                    <label><input class="va_m" name="land_prop" land_prop="radio"  value="{$key}" {if condition="(!isset($infos) and $key eq 0) or (isset($infos) and $infos->land_prop eq $land_prop)"}checked{/if}>{$land_prop}</label>
                                    {/volist}
                                </td>
                                <td>土地来源：</td>
                                <td>
                                    {volist name="model->land_source" id="land_source"}
                                    <label><input class="va_m" name="land_source" land_source="radio"  value="{$key}" {if condition="(!isset($infos) and $key eq 0) or (isset($infos) and $infos->land_source eq $land_source)"}checked{/if}>{$land_source}</label>
                                    {/volist}
                                </td>
                                <td>土地状况：</td>
                                <td>
                                    {volist name="model->land_status" id="land_status"}
                                    <label><input class="va_m" name="land_status" land_status="radio"  value="{$key}" {if condition="(!isset($infos) and $key eq 0) or (isset($infos) and $infos->land_status eq $land_status)"}checked{/if}>{$land_status}</label>
                                    {/volist}
                                </td>
                            </tr>
                            <tr class="h50">
                                <td><label for="funds">预算资金：</label></td>
                                <td>
                                    <input id="funds" type="number" name="funds" value="{:isset($infos)?$infos->funds:''}" placeholder="输入预算资金" min="1"/>
                                </td>
                            </tr>
                            <tr class="h50">
                                <td><label for="house">安置房：</label></td>
                                <td>
                                    <input id="house" type="number" name="house" value="{:isset($infos)?$infos->house:''}" placeholder="输入预计安置房数" min="1"/>
                                </td>
                            </tr>
                            <tr class="h50">
                                <td><label for="infos">说明：</label></td>
                                <td>
                                    <textarea id="infos" name="infos" placeholder="输入项目说明">{:isset($infos)?$infos->infos:''}</textarea>
                                </td>
                            </tr>
                            <tr class="h50">
                                <td>置顶：</td>
                                <td>
                                    {volist name="model->is_top" id="is_top"}
                                    <label><input class="va_m" name="is_top" type="radio"  value="{$key}" {if condition="(!isset($infos) and $key eq 0) or (isset($infos) and $infos->is_top eq $is_top)"}checked{/if}>{$is_top}</label>
                                    {/volist}
                                </td>
                            </tr>
                            <tr class="h50">
                                <td>状态：</td>
                                <td>
                                    {volist name="model->status" id="status"}
                                    <label><input class="va_m" name="status" type="radio"  value="{$key}" {if condition="(!isset($infos) and $key eq 1) or (isset($infos) and $infos->status eq $status)"}checked{/if}>{$status}</label>
                                    {/volist}
                                </td>
                            </tr>
                            {if condition="isset($infos)"}
                            <tr class="h50">
                                <td>操作时间：</td>
                                <td>
                                    创建于：{$infos->created_at}<br/>
                                    更新于：{$infos->updated_at}<br/>
                                    {if condition="isset($infos) and $infos->deleted_at"}
                                    删除于：{$infos->deleted_at|date='Y-m-d H:i:s',###}
                                    {/if}
                                </td>
                            </tr>
                            {/if}
                        </table>

                    </div>
                </div>
                <div class="tabPage w_100">
                    <div class="layerCon bg_f">
                        <table class="layerTable" border="0" id="picture-table">
                            <tr class="h50">
                                <td>分类：</td>
                                <td>
                                    <div class="form-inline add-cate-box">
                                        <div class="form-group">
                                            <input type="text" name="cate_name" class="form-control" placeholder="请输入类型名称" style="width: inherit; height: 30px; border: 1px solid #ddd;line-height: 30px;padding: 0 2px;">
                                        </div>
                                        <div class="form-group">
                                            <button class="btn add-cate" type="button">点击添加分类</button>
                                        </div>
                                    </div>
                                </td>
                            </tr>

                            {if condition="isset($infos) and $infos->picture"}
                            {volist name="$infos->picture" id="pics"}
                            {php}$name=$key;{/php}
                            <tr class="h70">
                                <td><span>{$name}</span>：<br/><br/><button type="button" onclick="picremove(this)">点击删除</button></td>
                                <td class="imgCon">
                                    {volist name="pics" id="pic" key="k"}
                                    {if condition="$pic"}
                                    <div class="img">
                                        <img src="{$pic}" class="w_100 h_100" onclick="bigimg(this)">
                                        <p><span onclick="picremove(this);">删除</span></p>
                                        <input type="hidden" name="picture[{$name}][]" value="{$pic}">
                                    </div>
                                    {/if}
                                    {/volist}
                                    <div class="img btn-upload" data-type="multiimage" data-hidename="picture[{$name}][]"><a>+</a></div>
                                </td>
                            </tr>
                            {/volist}
                            {/if}

                        </table>
                    </div>
                </div>
                <div class="layerBtns">
                    <a class="btn js-ajax-form-btn" data-layer="true" >立即提交</a>
                    <button class="btn" type="reset">重置</button>
                </div>
            </div>
        </div>
    </div>

</form>
<table style="display: none">
    <tr class="h70" id="img_tpl">
        <td><span class="cate-name"></span>：<br/><br/><button type="button" onclick="picremove(this)">点击删除</button></td>
        <td class="imgCon">
            <div class="img btn-upload" data-type="multiimage" data-hidename=""><a>+</a></div>
        </td>
    </tr>
</table>

<script>
    /*----- 添加分类 -----*/
    $('.add-cate').on('click',function () {
        var add_cate_box=$(this).parents('.add-cate-box'),
            cate_name=add_cate_box.find('input[name="cate_name"]:first').val().replace(/\s+/g, '');
        if(cate_name.length){
            add_cate_box.find('input[name="cate_name"]:first').val('');
            var img_tpl=$('#img_tpl').clone(true).attr('id','');
            img_tpl.find('.cate-name').text(cate_name);
            img_tpl.find('.btn-upload').data('hidename','picture['+cate_name+'][]');
            $('#picture-table').append(img_tpl);
        }else{
            layer.msg('请输入分类名称',function () {});
        }
    });
</script>
</body>
</html>
