<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>风险评估|后台管理系统</title>
    {include file="public/head" /}
</head>
<body>
<form action="{:isset($infos)?url('edit'):url('add')}" method="post" class="js-ajax-form" onsubmit="return false;">
    <div class="layerCon bg_f">
        <input type="hidden" name="id" value="{:isset($infos)?$infos->id:''}">
        <table class="layerTable" border="0">
            <tr class="h50">
                <td><label for="item_id">项目：</label></td>
                <td>
                    <select name="item_id" id="item_id" class="chosen sear_collection_id" data-placeholder="请选择项目" data-no_results_text="没有匹配数据">
                        <option value="">--请选择项目--</option>
                        {volist name="items" id="item"}
                        <option value="{$item->id}" >{$item->name}（{$item->id}）</option>
                        {/volist}
                    </select>
                </td>
                <td><label for="community_id">片区：</label></td>
                <td>
                    <select name="community_id" id="community_id" class="chosen sear_collection_id" data-placeholder="请选择片区" data-no_results_text="没有匹配数据">
                        <option value="">--请选择片区--</option>
                        {volist name="collectioncommunitys" id="community"}
                        <option value="{$community->id}">{$community->name}</option>
                        {/volist}
                    </select>
                </td>
            </tr>
            <tr class="h50">
                <td ><label for="collection_id">权属：</label></td>
                <td colspan="3" id="collection_id_info">
                    <select name="collection_id" id="collection_id" class="chosen" data-placeholder="请选择权属" data-no_results_text="没有匹配数据">
                        <option value="">--请先选择项目和片区--</option>
                    </select>
                </td>
            </tr>
            <tr class="h50">
                <td ><label for="holder_id">成员：</label></td>
                <td colspan="3" id="holder_id_info">
                    <select name="holder_id" id="holder_id" class="chosen" data-placeholder="请选择成员" data-no_results_text="没有匹配数据">
                        <option value="">--请先选择权属--</option>
                    </select>
                </td>
            </tr>
            <tr class="h50">
                <td ><label for="recommemd_holder_id"> 推荐代表成员：</label></td>
                <td colspan="3" id="recommemd_holder_id_info">
                    <select name="recommemd_holder_id" id="recommemd_holder_id" class="chosen" data-placeholder="请选择推荐代表成员" data-no_results_text="没有匹配数据">
                        <option value="">--请先选择成员--</option>
                    </select>
                </td>
            </tr>
            <tr class="h50">
                <td ><label>群众代表：</label></td>
                <td>
                    <label><input class="va_m" name="deputy" type="radio"  value="1" checked>同意</label>
                    <label><input class="va_m" name="deputy" type="radio"  value="0">拒绝</label>
                </td>
                <td ><label>方案意见：</label></td>
                <td>
                    <label><input class="va_m" name="is_agree" type="radio"  value="1" checked>同意</label>
                    <label><input class="va_m" name="is_agree" type="radio"  value="0">反对</label>
                </td>
            </tr>
            <tr class="h50">
                <td ><label>补偿方式：</label></td>
                <td>
                    <label><input class="va_m" name="compensate_way" type="radio"  value="1" checked>产权置换</label>
                    <label><input class="va_m" name="compensate_way" type="radio"  value="0">货币补偿</label>
                </td>
                <td ><label for="compensate_price">补偿单价：</label></td>
                <td>
                    <input type="text" name="compensate_price" id="compensate_price" value="" placeholder="请输入补偿单价">
                </td>
            </tr>
            <tr class="h50">
                <td ><label>过渡方式：</label></td>
                <td>
                    <label><input class="va_m" name="transit_way" type="radio"  value="1" checked>周转房临时安置</label>
                    <label><input class="va_m" name="transit_way" type="radio"  value="0">货币过渡</label>
                </td>
                <td ><label>搬迁方式：</label></td>
                <td>
                    <label><input class="va_m" name="move_way" type="radio"  value="1" checked>政府负责</label>
                    <label><input class="va_m" name="move_way" type="radio"  value="0">自行搬迁</label>
                </td>
            </tr>
            <tr class="h70">
                <td><label>其他意见：</label></td>
                <td colspan="3">
                    <textarea name="opinion" id="opinion" cols="10" rows="3"></textarea>
                </td>
            </tr>
        </table>
        <div class="layerBtns">
            <a class="btn js-ajax-form-btn" data-layer="true" >立即提交</a>
            <button class="btn" type="reset">重置</button>
        </div>
    </div>
</form>
<script>
    /* ===== 查询权属 =====*/
    $('.sear_collection_id').change(function () {
        var _item_id=$("#item_id").find('option:selected').val();
        var _community_id=$("#community_id").find('option:selected').val();
        if(_item_id&&!_community_id){
            var data = { 'item_id':_item_id};
        }
        if(_item_id&&_community_id){
            var data = {
                'item_id':_item_id,
                'community_id':_community_id
            };
        }
        if(_item_id){
            $.ajax({
                url:"{:url('Tools/collections')}",
                data:data,
                dataType:'json',
                type:'post',
                success:function (resp) {
                    $('#collection_id_info').html('');
                    var options = '';
                    if(resp.code){
                        options += '<select name="collection_id" id="collection_id" class="chosen" data-placeholder="请选择权属" data-no_results_text="没有匹配数据">';
                        options += ' <option value="">--请选择权属--</option>';
                        $.each(resp.data,function (index,info) {
                            var building = info.building?info.building+"栋":'';
                            var unit = info.unit?info.unit+"单元":'';
                            var floor = info.floor?info.floor+"楼":'';
                            var number = info.number?info.number+"号":'';

                            options += '<option value="'+info.id+'">'+building+unit+floor+number+'（'+info.id+'）'+'</option>';
                        });
                        options += '</select>';
                    }else{
                        options += '<select name="collection_id" id="collection_id" class="chosen" data-placeholder="暂无数据" data-no_results_text="没有匹配数据">';
                        options += ' <option value="">--暂无数据--</option>';
                        layer.msg(resp.msg,function(){});
                    }
                    options += '</select>';
                    $('#collection_id_info').html(options);
                    $("#collection_id").chosen();
                },
                error:function () {
                    layer.msg('网络错误，请重试',function(){});
                }
            });
        }else{
            var options = '';
            options += '<select name="collection_id" id="collection_id" class="chosen" data-placeholder="请选择权属" data-no_results_text="没有匹配数据">';
            options += ' <option value="">--请先选择项目--</option>';
            options += '</select>';
            $('#collection_id_info').html(options);
            $("#collection_id").chosen();
            layer.msg('请选择项目',function(){});
        }
    });

    /* ===== 查询成员 =====*/
    $("#collection_id_info").on('change',function () {
       var  _collection_id = $("#collection_id").find("option:selected").val();
      if(_collection_id){
          $.ajax({
              url:"{:url('Tools/sear_collection_holder')}",
              data:{'collection_id':_collection_id},
              dataType:'json',
              type:'post',
              success:function (resp) {
                  $('#holder_id_info').html('');
                  var options = '';
                  if(resp.code){
                      options += '<select name="holder_id" id="holder_id" class="chosen" data-placeholder="请选择成员" data-no_results_text="没有匹配数据">';
                      options += ' <option value="">--请选择成员--</option>';
                      $.each(resp.data,function (index,info) {
                          options += '<option value="'+info.id+'">'+info.name+'（'+info.id+'）'+'</option>';
                      });
                      options += '</select>';
                  }else{
                      options += '<select name="holder_id" id="holder_id" class="chosen" data-placeholder="暂无数据" data-no_results_text="没有匹配数据">';
                      options += ' <option value="">--暂无数据--</option>';
                      layer.msg(resp.msg,function(){});
                  }
                  options += '</select>';
                  $('#holder_id_info').html(options);
                  $("#holder_id").chosen();
              },
              error:function () {
                  layer.msg('网络错误，请重试',function(){});
              }
          });
      }else{
          var options = '';
          options += '<select name="holder_id" id="holder_id" class="chosen" data-placeholder="请选择成员" data-no_results_text="没有匹配数据">';
          options += ' <option value="">--请先选择权属--</option>';
          options += '</select>';
          $('#holder_id_info').html(options);
          $("#holder_id").chosen();
          layer.msg('请选择权属',function(){});
      }
    });

    /* ===== 查询推荐代表成员 =====*/
    $("#holder_id_info").on('change',function () {
        var _collection_id = $("#collection_id").find("option:selected").val();
        var _holder_id = $("#holder_id").find("option:selected").val();
        if(!_collection_id){
            layer.msg('请选择权属',function(){});
            return false;
        }
        if(!_holder_id){
            var options = '';
            options += '<select name="recommemd_holder_id" id="recommemd_holder_id" class="chosen" data-placeholder="请选择推荐代表成员" data-no_results_text="没有匹配数据">';
            options += ' <option value="">--请先选择成员--</option>';
            options += '</select>';
            $('#recommemd_holder_id_info').html(options);
            $("#recommemd_holder_id").chosen();
            layer.msg('请选择成员',function(){});
            return false;
        }
        $.ajax({
            url:"{:url('Tools/sear_collection_holder')}",
            data:{'collection_id':_collection_id,'holder_id':_holder_id},
            dataType:'json',
            type:'post',
            success:function (resp) {
                $("#recommemd_holder_id_info").html('');
                var options = '';
                if(resp.code){
                    options += '<select name="recommemd_holder_id" id="recommemd_holder_id" class="chosen" data-placeholder="请选择推荐代表成员" data-no_results_text="没有匹配数据">';
                    options += ' <option value="">--请选择推荐代表成员--</option>';
                    $.each(resp.data,function (index,info) {
                        options += '<option value="'+info.id+'">'+info.name+'（'+info.id+'）'+'</option>';
                    });
                    options += '</select>';
                }else{
                    options += '<select name="recommemd_holder_id" id="recommemd_holder_id" class="chosen" data-placeholder="暂无数据" data-no_results_text="没有匹配数据">';
                    options += ' <option value="">--暂无数据--</option>';
                    layer.msg(resp.msg,function(){});
                }
                options += '</select>';
                $("#recommemd_holder_id_info").html(options);
                $("#recommemd_holder_id").chosen();
            },
            error:function () {
                layer.msg('网络错误，请重试',function(){});
            }
        });
    });
</script>
</body>
</html>
