<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>项目兑付与协议-兑付协议|后台管理系统</title>
    {include file="public/head" /}
    {include file="public/kindeditor" /}

</head>
<body>

<form action="{:url('edit')}" method="post" class="js-ajax-form" onsubmit="return false;">
    <div class="tabs">
        <div class="item">
            <div class="homeTit bg_f5">
                <ul class="homeTab">
                    <li class="on">基本信息</li>
                    <li>内容</li>
                </ul>
            </div>
            <div class="homeCon">
                <div class="tabPage w_100 on">
                    <div class="layerCon bg_f">
                        <input type="hidden" name="id" value="{$infos->id}">
                        <input type="hidden" name="pay_id" value="{$infos->pay_id}">
                        <input type="hidden" name="pay_holder_id" value="{$infos->pay_holder_id}">
                        <table class="layerTable" border="0">
                            <tr class="h50">
                                <td><label for="pay_holder_id">签约人：</label></td>
                                <td>({$infos->id}){$infos->ch_name}【{$infos->address}】</td>
                            </tr>

                            <tr class="h50">
                                <td><label for="name">协议名称：</label></td>
                                <td><input type="text" name="name" id="name" value="{$infos->name}" placeholder="输入协议的名称"></td>
                            </tr>

                            <tr class="h50">
                                <td>状态：</td>
                                <td>
                                    {volist name="model->status" id="status"}
                                    <label><input class="va_m" name="status" type="radio"  value="{$key}" {if condition="$infos->status eq $status"}checked{/if}>{$status}</label>
                                    {/volist}
                                </td>
                            </tr>

                            <tr class="h70">
                                <td>相关图片：</td>
                                <td class="imgCon">

                                    {volist name="infos->picture" id="pic"}
                                    <div class="img">
                                        <img src="{$pic}" class="w_100 h_100" onclick="bigimg(this)">
                                        <p><span onclick="picremove(this);">删除</span></p>
                                        <input type="hidden" name="picture[]" value="{$pic}"/>
                                    </div>
                                    {/volist}

                                    <div class="img btn-upload" data-type="multiimage" data-hidename="picture[]"><a>+</a></div>
                                </td>
                            </tr>

                            <tr class="h50">
                                <td>操作时间：</td>
                                <td>
                                    创建于：{$infos->created_at}<br/>
                                    更新于：{$infos->updated_at}<br/>
                                </td>
                            </tr>

                        </table>

                    </div>
                </div>
                <div class="tabPage w_100">
                    <div class="layerCon bg_f">
                        <textarea name="content" id="content" class="kindeditor">{:isset($infos)?$infos->content:''}</textarea>
                    </div>
                </div>
                <div class="layerBtns">
                    <a class="btn js-ajax-form-btn" data-layer="true" >立即提交</a>
                    <button class="btn" type="reset">重置</button>
                </div>
            </div>
        </div>
    </div>

</form>


<script>
    /*----- 富文本编辑器 -----*/
    KindEditor.ready(function(K) {
        window.editor = K.create('.kindeditor',{
            width : '100%',
            minHeight:'300',
            uploadJson : upload_url,
            fileManagerJson : filemanager_url,
            allowFileManager : true,
            items:['source', '|', 'undo', 'redo', '|', 'preview', 'print', 'template', 'code', 'cut', 'copy', 'paste',
                'plainpaste', 'wordpaste', '|', 'justifyleft', 'justifycenter', 'justifyright',
                'justifyfull', 'insertorderedlist', 'insertunorderedlist', 'indent', 'outdent', 'subscript',
                'superscript', 'clearhtml', 'quickformat', 'selectall', '/',
                'formatblock', 'fontname', 'fontsize', '|', 'forecolor', 'hilitecolor', 'bold',
                'italic', 'underline', 'strikethrough', 'lineheight', 'removeformat', '|', 'image', 'multiimage',
                'flash', 'media', 'insertfile', 'table', 'hr', 'emoticons', 'baidumap', 'pagebreak',
                'anchor', 'link', 'unlink', '|', 'about'],
            afterBlur:function () {
                editor.sync();
            },
            autoHeightMode : true,
            afterCreate : function() {
                this.loadPlugin('autoheight');
            }
        });
    });
</script>
</body>
</html>
