<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>项目评估公司|房屋征收安置管理系统</title>
    {include file="pc/public/head" /}

</head>
<body>
<form action="{:url('edit')}" method="post" class="js-ajax-form" onsubmit="return false;">
    <input type="hidden" name="id" value="{$infos->id}">
    <div class="layerCon bg_f">
        <table class="layerTable" border="0">
            <tr class="h50">
                <td><label for="item_id">项目：</label></td>
                <td>
                    {$infos->i_name}（{$infos->item_id}）
                    <input type="hidden" name="item_id" value="{$infos->item_id}">
                </td>
            </tr>
            <tr class="h50">
                <td><label for="type">类型：</label></td>
                <td>{$infos->type}</td>
            </tr>
            <tr class="h50">
                <td><label for="company_id">评估公司：</label></td>
                <td>
                    {$infos->c_name}（{$infos->company_id}）
                    <input type="hidden" name="company_id" value="{$infos->company_id}">
                </td>
            </tr>
            <tr class="h50">
                <td><label for="infos">评估说明：</label></td>
                <td>
                    <textarea id="infos" name="infos">{$infos->infos}</textarea>
                </td>
            </tr>
            <tr class="h70">
                <td style="text-align: left;"><a class="btn" title="点击查询被征户" onclick="layerPage('查询被征户',$('#search'),'600','300')">选择被征户</a></td>
                <td>
                    <table class="table" border="0" >
                        <tbody>
                        <tr class="noSelect" id="thead-collectionlist">
                            <th class="tc" width="35px">
                                <input class="va_m" type="checkbox" name="" id="allCheck" value="" data-falg="allCheck" onclick="checkBoxOp(this)"/>
                            </th>
                            <th>ID</th>
                            <th style="text-align: left;">地址</th>
                            <th style="text-align: left;">片区</th>
                            <th style="text-align: left;">位置</th>
                            <th style="text-align: left;">资产状况</th>
                        </tr>
                        </tbody>
                    </table>
                </td>
            </tr>

        </table>
        <div class="layerBtns">
            <a class="btn js-ajax-form-btn" data-layer="true" >立即提交</a>
            <button class="btn" type="reset">重置</button>
        </div>
    </div>
</form>

<div id="search" class="bg_f hide">
    <form action="{:url('Tools/collection')}" method="post" id="form-search" onsubmit="return false;">
        <input type="hidden" name="item_id" id="item-id" value="{$infos->item_id}">
        <input type="hidden" name="type" id="company_type" value="{$infos->getData('type')}">
        <table class="layerTable">
            <tr class="h50">
                <td>片区：</td>
                <td colspan="3">
                    <select name="community_id" id="community_id" class="chosen" data-placeholder="请选择片区" data-no_results_text="没有匹配数据">
                        <option value="">--全部--</option>
                        {volist name="collectioncommunitys" id="collectioncommunity"}
                        <option value="{$collectioncommunity->id}" >{$collectioncommunity->name}</option>
                        {/volist}
                    </select>
                </td>
            </tr>
            <tr class="h50">
                <td>几栋：</td>
                <td><input type="number" name="building" id="building" value="" min="1"></td>
                <td>几单元：</td>
                <td><input type="number" name="unit" id="unit" value="" min="1"></td>
            </tr>
            <tr class="h50">
                <td>几楼：</td>
                <td><input type="number" name="floor" id="floor" value=""></td>
                <td>几号：</td>
                <td><input type="number" name="number" id="number" value="" min="1"></td>
            </tr>
        </table>
        <div class="layerBtns">
            <button class="btn" type="button" id="btn-form-search">查询</button>
        </div>
    </form>
</div>
<script>
    /* ===== 查询摸底被征户 =====*/
    form_search();
    $('#btn-form-search').click(function () {
        form_search();
    });

    function form_search() {
        var form=$('#form-search');
        var thead=$('#thead-collectionlist');

        thead.siblings().remove();

        $.ajax({
            url:form.attr('action'),
            data:form.serialize(),
            dataType:'json',
            type:'post',
            success:function (resp) {
                var tr_obj='';
                if(resp.code){
                    $.each(resp.data,function (index,info) {
                        var _checked='';
                        var collection_ids={$collection_ids};
                        var res=$.inArray(info.id,collection_ids);
                        if(res>-1){
                            _checked='checked';
                        }

                        tr_obj +='<tr>';
                        tr_obj +='<td style="text-align: center;background: none;"><input class="va_m" type="checkbox" name="ids[]"  value="'+info.id+'" onclick="checkBoxOp(this)" '+_checked+'> </td>';
                        tr_obj +='<td style="text-align: left;background: none;">'+info.id+'</td>';
                        tr_obj +='<td style="text-align: left;background: none;">'+info.address+'</td>';
                        tr_obj +='<td style="text-align: left;background: none;">'+info.cc_name+'</td>';
                        tr_obj +='<td style="text-align: left;background: none;">';
                        tr_obj +=info.building?(info.building+'栋'):'';
                        tr_obj +=info.unit?(info.unit+'单元'):'';
                        tr_obj +=info.floor?(info.floor+'楼'):'';
                        tr_obj +=info.number?(info.number+'号'):'';
                        tr_obj +='</td>';
                        tr_obj +='<td style="text-align: left;background: none;">'+info.has_assets+'</td>';
                        tr_obj += '</tr>';
                    });
                }else{
                    layer.msg(resp.msg,function(){});
                }
                thead.after(tr_obj);
            },
            error:function () {
                layer.msg('网络出错，稍候重试！',function(){});
            }
        });
    }
</script>
</body>
</html>
