<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>风险评估话题结果|房屋征收安置管理系统</title>
    {include file="pc/public/head" /}
</head>
<body>
<form action="{:url('add')}" method="post" class="js-ajax-form" onsubmit="return false;">
    <div class="layerCon bg_f">
        <input type="hidden" name="id" value="{:isset($infos)?$infos->id:''}">
        <table class="layerTable" border="0">
            <tr class="h50">
                <td><label for="item_id">项目：</label></td>
                <td>
                    <input type="hidden" name="item_id" id="item_id" value="{:isset($item_info)?$item_info->id:''}">
                    {$item_info->name}
                </td>
                <td><label for="community_id">片区：</label></td>
                <td>
                    <select name="community_id" id="community_id" class="chosen sear_collection_id" data-placeholder="请选择片区" data-no_results_text="没有匹配数据">
                        <option value="">--请选择片区--</option>
                        {volist name="collectioncommunitys" id="community"}
                        <option value="{$community->id}">{$community->name}</option>
                        {/volist}
                    </select>
                </td>
            </tr>
            <tr class="h50">
                <td ><label for="collection_id">权属：</label></td>
                <td colspan="3" id="collection_id_info">
                    <select name="collection_id" id="collection_id" class="chosen" data-placeholder="请选择权属" data-no_results_text="没有匹配数据">
                        <option value="">--请先选择片区--</option>
                    </select>
                </td>
            </tr>
            <tr class="h70">
                <td><label>风险评估：</label></td>
                <td colspan="3">
                    <input type="hidden" name="risk_id" id="risk_id" value="">
                    <input type="hidden" name="holder_id" id="holder_id" value="">
                    <table class="table" id="risk_info" border="0">
                        <tbody>
                        <tr class="noSelect">
                            <th style="text-align: center;background: none;"></th>
                            <th style="text-align: center;background: none;">ID</th>
                            <th style="text-align: center;background: none;">项目</th>
                            <th style="text-align: center;background: none;">片区</th>
                            <th style="text-align: center;background: none;">权属(ID)</th>
                            <th style="text-align: center;background: none;">成员</th>
                            <th style="text-align: center;background: none;">推荐代表成员</th>
                            <th style="text-align: center;background: none;">群众代表意见</th>
                            <th style="text-align: center;background: none;">方案意见</th>
                            <th style="text-align: center;background: none;">补偿方式</th>
                            <th style="text-align: center;background: none;">补偿单价</th>
                            <th style="text-align: center;background: none;">过渡方式</th>
                            <th style="text-align: center;background: none;">搬迁方式</th>
                        </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr class="h50">
                <td ><label for="topic_id">话题：</label></td>
                <td colspan="3" id="topic_id_info">
                    <select name="topic_id" id="topic_id" class="chosen" data-placeholder="请选择话题" data-no_results_text="没有匹配数据">
                        <option value="">--请先选择片区--</option>
                    </select>
                </td>
            </tr>
            <tr class="h70">
                <td><label>话题回答：</label></td>
                <td colspan="3">
                    <textarea name="answer" id="answer" cols="10" rows="3"></textarea>
                </td>
            </tr>
        </table>
        <div class="layerBtns">
            <a class="btn js-ajax-form-btn" data-layer="true" >立即提交</a>
            <button class="btn" type="reset">重置</button>
        </div>
    </div>
</form>
<script>
    /* ===== 查询权属 及 话题 =====*/
    $('.sear_collection_id').change(function () {
        var _item_id=$("#item_id").val();
        var _community_id=$("#community_id").find('option:selected').val();
        var data = {
            'item_id':_item_id,
            'community_id':_community_id
        };

        if(_community_id){
            $.ajax({
                url:"{:url('Tools/collections')}",
                data:data,
                dataType:'json',
                type:'post',
                success:function (resp) {
                    $('#collection_id_info').html('');
                    var options = '';
                    if(resp.code){
                        options += '<select name="collection_id" id="collection_id" class="chosen" data-placeholder="请选择权属" data-no_results_text="没有匹配数据">';
                        options += ' <option value="">--请选择权属--</option>';
                        $.each(resp.data,function (index,info) {
                            var building = info.building?info.building+"栋":'';
                            var unit = info.unit?info.unit+"单元":'';
                            var floor = info.floor?info.floor+"楼":'';
                            var number = info.number?info.number+"号":'';

                            options += '<option value="'+info.id+'">'+building+unit+floor+number+'（'+info.id+'）'+'</option>';
                        });
                        options += '</select>';
                    }else{
                        options += '<select name="collection_id" id="collection_id" class="chosen" data-placeholder="暂无数据" data-no_results_text="没有匹配数据">';
                        options += ' <option value="">--暂无数据--</option>';
                        layer.msg(resp.msg,function(){});
                    }
                    options += '</select>';
                    $('#collection_id_info').html(options);
                    $("#collection_id").chosen();
                },
                error:function () {
                    layer.msg('网络错误，请重试',function(){});
                }
            });
            $.ajax({
                url:"{:url('Tools/sear_item_topic')}",
                data:{'item_id':_item_id},
                dataType:'json',
                type:'post',
                success:function (resp) {
                    $('#topic_id_info').html('');
                    var options = '';
                    if(resp.code){
                        options += '<select name="topic_id" id="topic_id" class="chosen" data-placeholder="请选择话题" data-no_results_text="没有匹配数据">';
                        options += ' <option value="">--请选择话题--</option>';
                        $.each(resp.data,function (index,info) {
                            options += '<option value="'+info.topic_name_id+'">'+info.topic_name+'</option>';
                        });
                        options += '</select>';
                    }else{
                        options += '<select name="topic_id" id="topic_id" class="chosen" data-placeholder="暂无数据" data-no_results_text="没有匹配数据">';
                        options += ' <option value="">--暂无数据--</option>';
                        layer.msg(resp.msg,function(){});
                    }
                    options += '</select>';
                    $('#topic_id_info').html(options);
                    $("#topic_id").chosen();
                },
                error:function () {
                    layer.msg('网络错误，请重试',function(){});
                }
            });
        }else{
            var options = '';
            options += '<select name="collection_id" id="collection_id" class="chosen" data-placeholder="请选择权属" data-no_results_text="没有匹配数据">';
            options += ' <option value="">--请先选择片区--</option>';
            options += '</select>';
            $('#collection_id_info').html(options);
            $("#collection_id").chosen();
            var options1 = '';
            options1 += '<select name="topic_id" id="topic_id" class="chosen" data-placeholder="请选择话题" data-no_results_text="没有匹配数据">';
            options1 += ' <option value="">--请先选择片区--</option>';
            options1 += '</select>';
            $('#topic_id_info').html(options1);
            $("#topic_id").chosen();
            layer.msg('请先选择片区',function(){});
        }
    });

    /* ===== 查询风险评估 =====*/
    $("#collection_id_info").on('change',function () {
       var  _collection_id = $("#collection_id").find("option:selected").val();
       var  _item_id = $("#item_id").val();
       var  _community_id = $("#community_id").find("option:selected").val();
      if(_collection_id){
          $.ajax({
              url:"{:url('Tools/sear_risk')}",
              data:{'collection_id':_collection_id,'item_id':_item_id,'community_id':_community_id},
              dataType:'json',
              type:'post',
              success:function (resp) {
                  $('#risk_info').find('tr:first').siblings().remove();
                  $('#risk_id').val('');
                  $('#holder_id').val('');
                  var options = '';
                  if(resp.code){
                      $.each(resp.data,function (index,info) {
                          var building = info.c_building?info.c_building+"栋":'';
                          var unit = info.c_unit?info.c_unit+"单元":'';
                          var floor = info.c_floor?info.c_floor+"楼":'';
                          var number = info.c_number?info.c_number+"号":'';
                        options += '<tr class="h50">';
                        options += '<td style="text-align: center;background: none;width: inherit !important;"><input class="va_m" type="radio"  onclick="riskvals('+info.id+','+info.holder_name_id+')" name="ids" value="'+info.id+'" id="check-'+info.id+'" /></td>';
                        options += '<td style="text-align: center;background: none;">'+info.id+'</td>';
                        options += '<td style="text-align: center;background: none;">'+info.item_name+'</td>';
                        options += '<td style="text-align: center;background: none;">'+info.pq_name+'</td>';
                        options += '<td style="text-align: center;background: none;">'+building+unit+floor+number+'</td>';
                        options += '<td style="text-align: center;background: none;">'+info.holder_name+'</td>';
                        options += '<td style="text-align: center;background: none;">'+info.recommemd_holder_name+'</td>';
                        options += '<td style="text-align: center;background: none;">'+info.deputy+'</td>';
                        options += '<td style="text-align: center;background: none;">'+info.is_agree+'</td>';
                        options += '<td style="text-align: center;background: none;">'+info.compensate_way+'</td>';
                        options += '<td style="text-align: center;background: none;">'+info.compensate_price+'</td>';
                        options += '<td style="text-align: center;background: none;">'+info.transit_way+'</td>';
                        options += '<td style="text-align: center;background: none;">'+info.move_way+'</td>';
                        options += '</tr>';
                      });
                  }else{
                      layer.msg(resp.msg,function(){});
                  }
                  $('#risk_info').find('tbody').append(options);
              },
              error:function () {
                  layer.msg('网络错误，请重试',function(){});
              }
          });
      }else{
          $('#risk_info').find('tr:first').siblings().remove();
          layer.msg('请选择权属',function(){});
      }
    });

    /* ===== 点击单选(给评估和成员赋值) =====*/
    function riskvals(a,b) {
        $("#risk_id").val(a);
        $("#holder_id").val(b);
    }

</script>
</body>
</html>
