<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>评估公司选票|后台管理系统</title>
    {include file="public/head" /}

</head>
<body>
<h4>当前项目：（{$item_id}）{$item_name}，当前评估公司：（{$company_id}）{$company_name}</h4>


    <div class="tableCon">
        <em class="xian"></em>
        <table class="table" border="0" >
            <tbody>
            <tr class="noSelect">
                <th>ID</th>
                <th>片区</th>
                <th>位置</th>
                <th>类型</th>
                <th>投票人</th>
                <th>地址</th>
                <th>电话</th>
                <th>产权</th>
            </tr>
            {volist name="holders" id="holder"}
            <tr>
                <td>{$holder->collection_holder_id}</td>
                <td title="cc_address">{$holder->cc_name}</td>
                <td>
                    {if condition="$holder->building"}{$holder->building}栋{/if}
                    {if condition="$holder->unit"}{$holder->unit}单元{/if}
                    {if condition="$holder->floor"}{$holder->floor}楼{/if}
                    {if condition="$holder->number"}{$holder->number}号{/if}
                </td>
                <td>{$holder->type}</td>
                <td>{$holder->name}</td>
                <td>{$holder->address}</td>
                <td>{$holder->phone}</td>
                <td>{$holder->holder}</td>
            </tr>
            {/volist}
            </tbody>
        </table>
    </div>
</body>
</html>
