<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{$cur_menu->name|default=''}|房屋征收安置管理系统</title>
    <meta name="viewport" content="width=device-width,minimum-scale=1,maximum-scale=1,initial-scale=1,user-scalable=no" />

    {include file="mobile/public/head"/}
    <style type="text/css">
        .queryCon>:last-child {
            height: 52px;
        }

        .queryCon {
            padding-bottom: 0;
        }
    </style>
</head>
<body>
<div class="page">

    {include file="mobile/public/header"/}

    <div class="w_100">

        {include file="mobile/public/breadnav"/}

        <div class="w_100">
            <h5 style="color: red;">注：上浮结束面积和上浮比例都为空时，上浮面积按市场评估单价结算！</h5>
            <!--按钮组合-->
            <div class=" anniu backCo_w padLR12 ov maT10">
                <a href="{:url('index',['item_id'=>$item_id])}" class="refresh"><i class="iconfont icon-shuaxin1"></i>&nbsp;刷新</a>
                <a href="{:url('add',['item_id'=>$item_id])}"><i class="iconfont icon-tianjia"></i>&nbsp;添加</a>
                <a class="js-ajax-form-btn" data-form="js-ajax-form" data-action="{:url('delete')}" >删除</a>
                <a class="js-ajax-form-btn" data-form="js-ajax-form" data-action="{:url('restore')}">恢复</a>
                <a class="js-ajax-form-btn" data-form="js-ajax-form" data-action="{:url('destroy')}" data-notice="确定要彻底删除吗？">销毁</a>
                <span class="xiaMore"><em>更多</em><i class=" xiaMore iconfont icon-gongyongshuangjiantouxia"></i> </span>
            </div>
            <div class="w_100">
                <form action="{:url('index')}" method="post" id="js-ajax-form">
                    <table id="example-advanced" class="table treetable w_100" border="0" >
                        <tbody>
                        <tr class="noSelect">
                            <th style="text-align: left;"><input type="checkbox" data-role="checkall"/> </th>
                            <th>ID</th>
                            <th>上浮起始(㎡)</th>
                            <th>上浮结束(㎡)</th>
                            <th>上浮比例(%)</th>
                            <th>操作</th>
                        </tr>

                        {volist name="itemhouseups" id="itemhouseup"}
                        <tr>
                            <td id="tdp1" style="text-align: left;"><label><input type='checkbox' data-role="check"  name="ids[]" value="{$itemhouseup->id}"/>&nbsp;</label></td>
                            <td>{$itemhouseup->id}</td>
                            <td>{if condition="$itemhouseup->deleted_at"} <del>{$itemhouseup->up_start}</del>{else /}{$itemhouseup->up_start}{/if}</td>
                            <td>{if condition="$itemhouseup->deleted_at"} <del>{$itemhouseup->up_end?$itemhouseup->up_end:'-'}</del>{else /}{$itemhouseup->up_end?$itemhouseup->up_end:'-'}{/if}</td>
                            <td>{if condition="$itemhouseup->deleted_at"} <del>{$itemhouseup->up_rate?$itemhouseup->up_rate:'-'}</del>{else /}{$itemhouseup->up_rate?$itemhouseup->up_rate:'-'}{/if}</td>
                            <td class="shezhi"><i class="iconfont icon-shezhi2"></i>
                                <div class="hide">
                                    <img src="__STATIC__/sysmobile/img/sanjiao.png" />
                                    <a href="{:url('detail',['id'=>$itemhouseup->id])}"><i class="iconfont icon-xiugai"></i></a>
                                    <a data-action="{:url('delete',['ids'=>$itemhouseup->id])}" class="js-ajax-form-btn"><i class="iconfont icon-lajitong"></i></a>
                                </div>
                            </td>

                        </tr>
                        {/volist}
                        </tbody>
                    </table>
                </form>
            </div>
        </div>
    </div>
</div>

<script>

    $('table').on('change ','input[data-role="checkall"]',function () {
        if($(this).prop('checked')){
            $('table').find('input[type=checkbox]').prop('checked',true);
        }else{
            $('table').find('input[type=checkbox]').prop('checked',false);
        }
    }).on('change','input[data-role="check"]',function () {
        var checkbox_obj=$('table').find('input[data-role="check"]');
        var checkbox_num=checkbox_obj.length;
        var checked_num=$('table').find('input[data-role="check"]:checked').length;
        if(checked_num == checkbox_num ){
            $('table').find('input[data-role="checkall"]').prop('checked',true);
        }else{
            $('table').find('input[data-role="checkall"]').prop('checked',false);
        }
    });
</script>

</body>
</html>