<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>项目重要补偿科目|房屋征收安置管理系统</title>
    {include file="pc/public/head" /}

</head>
<body>
<form action="{:isset($infos)?url('edit'):url('add')}" method="post" class="js-ajax-form" onsubmit="return false;">
    <div class="layerCon bg_f">
        <input type="hidden" name="id" value="{:isset($infos)?$infos->id:''}">
        <input type="hidden" name="item_id" value="{:isset($infos)?$infos->item_id : $item_id}">
        <table class="layerTable" border="0">
            {if condition="isset($infos)"}
            <tr class="h50">
                <td><label for="subject_id">补偿科目：</label></td>
                <td>{$infos->s_name}（{$infos->subject_id}）
                    <input type="hidden" name="subject_id" value="{$infos->subject_id}" id="subject_id">
                </td>
            </tr>
            {else/}
            <tr class="h50">
                <td><label for="subject_id">补偿科目：</label></td>
                <td>
                    <select name="subject_id" id="subject_id" >
                        <option value="">--选择补偿科目--</option>
                        {volist name="subjects" id="subject"}
                        <option value="{$subject->id}" >{$subject->name}（{$subject->id}）</option>
                        {/volist}
                    </select>
                </td>
            </tr>
            {/if}
            <tr class="h50">
                <td><label for="default">默认次数：</label></td>
                <td><input type="number" name="default" id="default" value="{:isset($infos)?$infos->default:'1'}" min="1" placeholder="请输入默认补偿次数，至少为1"></td>
            </tr>

            {if condition="isset($infos)"}
            <tr class="h50">
                <td>操作时间：</td>
                <td>
                    创建于：{$infos->created_at}<br/>
                    更新于：{$infos->updated_at}<br/>
                    {if condition="isset($infos) and $infos->deleted_at"}
                    删除于：{$infos->deleted_at|date='Y-m-d H:i:s',###}
                    {/if}
                </td>
            </tr>
            {/if}
        </table>
    </div>
    <div class="layerBtns">
        <a class="btn js-ajax-form-btn" data-layer="true" >立即提交</a>
        <button class="btn" type="reset">重置</button>
    </div>

</form>

<script>
   
</script>
</body>
</html>
