<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>房屋征收安置管理系统</title>
    {include file="pc/public/head" /}

</head>
<body>
<div class="tableCon">
    <em class="xian"></em>
    <table class="table" border="0" >
        <tbody>
        <tr class="noSelect">
            <th>序号<i class="stretch"></i></th>
            <th>名称<i class="stretch"></i></th>
            <th>范围<i class="stretch"></i></th>
            <th>操作<i class="stretch"></i></th>
        </tr>
        {volist name="items" id="item"}
        <tr>
            <td>{$i}</td>
            <td>{$item->name}</td>
            <td>{$item->area}</td>
            <td>
                <button type="button" class="btn" onclick="layerIfWindow('房产列表',	'{:url('Collection/index',['item_id'=>$item->id])}','800','600',true)">点击进入</button>
            </td>
        </tr>
        {/volist}
        </tbody>
    </table>
</div>

</body>
</html>
