<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>入户摸底-特殊人群|房屋征收安置管理系统</title>
    {include file="public/head" /}

</head>
<body>

<div class="tabs">
    <div class="item">
        <div class="homeTit bg_f5">
            <div class="fl"><img src="__STATIC__/system/img/account_balances.png"/>入户摸底-产权人及家庭成员</div>
            <ul class="homeTab">
                <li class=""><a href="{:url('Collectionholder/detail',['id'=>$holder_info->id])}">基本信息</a></li>
                <li class="on"><a href="javascript:location.reload();">特殊人群</a></li>
            </ul>

        </div>
        <div class="homeCon">
            <div class="tabPage w_100 on">
                <div class="tableCon">
                    <em class="xian"></em>
                    <table class="table" border="0" >
                        <tbody>
                        <tr class="noSelect">
                            <th>序号<i class="stretch"></i></th>
                            <th>成员<i class="stretch"></i></th>
                            <th>分类<i class="stretch"></i></th>
                            <th>特殊人群<i class="stretch"></i></th>
                            <th>操作<i class="stretch"></i></th>
                        </tr>
                        {volist name="collectionholdercrowds" id="collectionholdercrowd"}
                        <tr>
                            <td>{$i}</td>
                            <td>{$holder_info->name}</td>
                            <td>{$collectionholdercrowd->crowdgroup->name}</td>
                            <td>{$collectionholdercrowd->crowd->name}</td>
                            <td>
                                <button type="button" class="btn" onclick="layerIfWindow('入户摸底-特殊人群信息',	'{:url('detail',['id'=>$collectionholdercrowd->id])}','800','600')" >详细信息</button>
                            </td>
                        </tr>
                        {/volist}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>
