<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{$cur_menu->name}|房屋征收安置管理系统</title>
    <meta name="viewport" content="width=device-width,minimum-scale=1,maximum-scale=1,initial-scale=1,user-scalable=no" />

    {include file="mobile/public/head"/}

    <link rel="stylesheet" type="text/css" href="__STATIC__/sysmobile/css/jquery.treetable.theme.default.css"/>
</head>
<body>
<div class="page">
    <!--头部-->
    <div class="header">
        <span class="cd caidan"><i class="iconfont icon-caidan"></i></span>
        <p class="margin0 f18">{$cur_menu->name}</p>
        <span class="yh"><a href="{:url('User/info')}"><i class="iconfont icon-gerenzhongxin"></i> </a></span>
        <div class="cd_list backCo_w hide" style="width: 190px;">
            {$nav_menus}
        </div>
    </div>

    <div class="w_100">

        <p class="titP f14 padding_left13 backCo_f2 margin0 h_50">
            {if condition="$cur_menu"}
            <a href="{:url('Home/index')}"><img src="__STATIC__/system/img/house.png"></a>
            {volist name="parents_menus" id="pmenu"}
            <span class="f13">&gt;</span>
            {if condition="is_numeric(stripos($pmenu->url,'#'))"}
            <span>{$pmenu->icon} {$pmenu->name}</span>
            {else/}
            <a href="{$pmenu->url}">{$pmenu->icon} {$pmenu->name}</a>
            {/if}
            {/volist}

            <span class="f13">&gt;</span>
            {$cur_menu->icon} {$cur_menu->name}

            {else/}
            <a href="javascript:window.history.back();">< 返回</a>
            {/if}
        </p>

        <div class="w_100">
            <!--按钮组合-->
            <div  class="flex anniu backCo_w">
                <a href="{:url('all')}" class="refresh">所有数据</a>
                <a href="{:url('index')}" class="refresh">刷新</a>
                <a href="{:url('add')}">添加</a>
                <a class="js-ajax-form-btn" data-form="js-ajax-form" data-action="{:url('show',array('display'=>'1'))}">显示</a>
                <a class="js-ajax-form-btn" data-form="js-ajax-form" data-action="{:url('show',array('display'=>'0'))}">隐藏</a>
                <a class="js-ajax-form-btn" data-form="js-ajax-form" data-action="{:url('status',array('status'=>'1'))}">启用</a>
                <a class="js-ajax-form-btn" data-form="js-ajax-form" data-action="{:url('status',array('status'=>'0'))}">禁用</a>
                <a class="js-ajax-form-btn" data-form="js-ajax-form" data-action="{:url('delete')}" title="删除">删除</a>
            </div>
            <div class="w_100">
                <table id="example-advanced" class="table treetable w_100" border="0" >
                    <tbody>
                    <tr class="noSelect">
                        <th>
                            <input type="checkbox" data-role="checkall"/> 名称
                        </th>
                        <th>ID</th>
                        <th>状态</th>
                        <th>操作</th>
                    </tr>

                    {$table_menus}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script src="__STATIC__/sysmobile/js/jquery.treetable.js" type="text/javascript" charset="utf-8"></script>

<script>
    $("#example-advanced").treetable({
        expandable : true
    });

    $('table').on('change ','input[data-role="checkall"]',function () {
        if($(this).prop('checked')){
            $('table').find('input[type=checkbox]').prop('checked',true);
        }else{
            $('table').find('input[type=checkbox]').prop('checked',false);
        }
    }).on('change','input[data-role="check"]',function () {
        var checkbox_num=$('table').find('input[data-role="check"]').length;
        var checked_num=$('table').find('input[data-role="check"]:checked').length;
        if(checked_num == checkbox_num ){
            $('table').find('input[data-role="checkall"]').prop('checked',true);
        }else{
            $('table').find('input[data-role="checkall"]').prop('checked',false);
        }
    });

</script>
</body>
</html>