<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>房源安置|房屋征收安置管理系统</title>
    {include file="public/head" /}

</head>
<body>
<form action="{:isset($infos)?url('edit'):url('add')}" method="post" class="js-ajax-form" onsubmit="return false;">
    <div class="layerCon bg_f">
        <input type="hidden" name="id" value="{:isset($infos)?$infos->id:''}">
        <table class="layerTable" border="0">
            <tr class="h50">
                <td><label>项目：</label></td>
                <td id="item_id_info">
                    <select name="item_id" id="item_id" class="chosen sear_collection_id" data-placeholder="请选择项目" data-no_results_text="没有匹配数据">
                        <option value="">--请选择项目--</option>
                        {volist name="items" id="item"}
                        <option value="{$item->id}" >{$item->name}（{$item->id}）</option>
                        {/volist}
                    </select>
                </td>
            </tr>
            <tr class="h50">
                <td><button class="btn pay_list"  onclick="pay_id_list()">选择兑付</button></td>
                <td>
                    <input type="hidden" name="pay_id" id="pay_id" value="">
                    <table class="table" border="0" id="pay_id_lists">
                        <tbody>
                        <tr class="noSelect">
                            <th style="text-align: center;">ID</th>
                            <th>片区</th>
                            <th>位置</th>
                            <th>类型</th>
                            <th>性质</th>
                            <th>房产</th>
                            <th>资产</th>
                            <th>公共平均</th>
                            <th>重要科目</th>
                            <th>补偿事项</th>
                            <th>总计</th>
                            <th>补偿方式</th>
                            <th>过渡方式</th>
                        </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr class="h50">
                <td><label for="pay_holder_id">被征收人：</label></td>
                <td>
                    <select name="collection_holder_id" id="pay_holder_id">
                        <option value="">--请先选择兑付--</option>
                    </select>
                </td>
            </tr>
            <tr class="h50">
                <td><label for="house_id">安置房：</label></td>
                <td id="house_id_info">
                    <select name="house_id" id="house_id" class="chosen" data-placeholder="请选择安置房" data-no_results_text="没有匹配数据">
                        <option value="">--请先选择被征收人--</option>
                    </select>
                </td>
            </tr>
            <tr class="h50">
                <td><label for="start_at">开始时间：</label></td>
                <td>
                    <input type="text" class="laydate-icon" name="start_at" id="start_at" value="" placeholder="请输入开始时间">
                </td>
            </tr>
            <tr class="h50">
                <td><label for="end_at">结束时间：</label></td>
                <td>
                    <input type="text" class="laydate-icon" name="end_at" id="end_at" value="" placeholder="请输入结束时间">
                </td>
            </tr>
        </table>
        <div class="layerBtns">
            <a class="btn js-ajax-form-btn" data-layer="true" >立即提交</a>
            <button class="btn" type="reset">重置</button>
        </div>
    </div>
</form>
<script>
    /* ===== 选中项目后给按钮赋值（兑付与安置房） =====*/
    $("#item_id_info").on('change','#item_id',function () {
        var _item_id=$("#item_id").find('option:selected').val();
        $(".pay_list").attr('onclick','pay_id_list('+_item_id+')');
        $('#pay_id_lists').find('tr:first').siblings().remove();
    });

    /* ===== 查询兑付列表 =====*/
    function pay_id_list(_item_id){
        if(_item_id){
            layerIfWindow('兑付及兑付安置房信息列表',"{:url('Tools/houseresettle_search_pay')}?item_id="+_item_id,'850','580')
        }else{
            layer.msg('请选择项目',function(){});
        }
    }
    /* ===== 选中兑付信息(生成兑付信息及被征收人信息) =====*/
    function pay_infos(_pay_id) {
        layer.closeAll();
        $.ajax({
            url:"{:url('Tools/sear_pay')}",
            data:{ 'id':_pay_id},
            dataType:'json',
            type:'post',
            success:function (resp) {
                $('#pay_id_lists').find('tr:first').siblings().remove();
                $('#pay_id').val('');
                var options = '';
                if(resp.code){
                    var info = resp.data;
                    var building = info.building?info.building+"栋":'';
                    var unit = info.unit?info.unit+"单元":'';
                    var floor = info.floor?info.floor+"楼":'';
                    var number = info.number?info.number+"号":'';
                    var estate_amount = info.estate_amount?info.estate_amount:'0.00';
                    var assets_amount = info.assets_amount?info.assets_amount:'0.00';

                    options += '<tr class="h50">';
                    options += '<td style="text-align: left;background: none;width: inherit !important;">'+info.id+'<input type="hidden" name="pay_id" value="'+info.id+'"></td>';
                    options += '<td style="text-align: left;background: none;">'+info.cc_name+'</td>';
                    options += '<td style="text-align: left;background: none;">'+building+unit+floor+number+'</td>';
                    options += '<td style="text-align: left;background: none;">'+info.type+'</td>';
                    options += '<td style="text-align: left;background: none;">'+info.bu_name+'</td>';
                    options += '<td style="text-align: left;background: none;">'+estate_amount+'</td>';
                    options += '<td style="text-align: left;background: none;">'+assets_amount+'</td>';
                    options += '<td style="text-align: left;background: none;">'+info.public_avg+'</td>';
                    options += '<td style="text-align: left;background: none;">'+info.subject_amount+'</td>';
                    options += '<td style="text-align: left;background: none;">'+info.object_amount+'</td>';
                    options += '<td style="text-align: left;background: none;">'+info.total+'</td>';
                    options += '<td style="text-align: left;background: none;">'+info.compensate_way+'</td>';
                    options += '<td style="text-align: left;background: none;">'+info.transit_way+'</td>';
                    options += '</tr>';
                    $('#pay_id').val(info.id);
                    $('#pay_id_lists').find('tbody').append(options);
                    $.ajax({
                        url:"{:url('Tools/sear_holder_name')}",
                        data:{ 'pay_id':info.id,'bisoshi':1},
                        dataType:'json',
                        type:'post',
                        success:function (resp) {
                            $('#pay_holder_id').html('<option value="">--选择被征收人--</option>');
                            if(resp.code){
                                var options = '<option value="">--选择被征收人--</option>';
                                $.each(resp.data,function (index,info) {
                                    options += '<option value="'+info.ch_id+'">'+info.name+'【'+info.holder+'】</option>';
                                });
                                $('#pay_holder_id').html(options);
                            }else{
                                var options1 = '<option value="">--暂无被征收人--</option>';
                                $('#pay_holder_id').html(options1);
                                layer.msg(resp.msg,function(){});
                            }
                        },
                        error:function () {
                            layer.msg('网络错误，请重试',function(){});
                        }
                    });
                }else{
                    layer.msg(resp.msg,function(){});
                }
            },
            error:function () {
                layer.msg('网络错误，请重试',function(){});
            }
        });
    }


    $("#pay_holder_id").change(function () {
        var _pay_holder_id = $(this).val();
        var _pay_id = $('#pay_id').val();
       $.ajax({
           url:"{:url('Tools/sear_house')}",
           data:{ 'pay_holder_id':_pay_holder_id,'pay_id':_pay_id},
           dataType:'json',
           type:'post',
           success:function (resp) {
               $('#house_id_info').html('');
               var  options = '<select name="house_id" id="house_id" class="chosen" data-placeholder="请选择安置房" data-no_results_text="没有匹配数据">';
               if(resp.code){
                   options += '<option value="">--选择安置房--</option>';
                   $.each(resp.data,function (index,info) {
                       var building = info.building?info.building+"栋":'';
                       var unit = info.unit?info.unit+"单元":'';
                       var floor = info.floor?info.floor+"楼":'';
                       var number = info.number?info.number+"号":'';
                       options += '<option value="'+info.h_id+'">'+info.address+info.hc_name+building+unit+floor+number+'【'+info.l_name+'】【'+info.area+'㎡】</option>';
                   });
                   options += '</select>';
                   $('#house_id_info').html(options);
                   $("#house_id").chosen();
               }else{
                   options += '<option value="">--暂无安置房--</option>';
                   options += '</select>';
                   $('#house_id_info').html(options);
                   $("#house_id").chosen();
                   layer.msg(resp.msg,function(){});
               }

           },
           error:function () {
               layer.msg('网络错误，请重试',function(){});
           }

       });
    });


</script>
</body>
</html>
