<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>入户摸底-特殊人群|房屋征收安置管理系统</title>
    {include file="public/head" /}

</head>
<body>

<h4>入户摸底-特殊人群管理</h4>
<div class="toolsBar">
    <!--fgf为工具栏分隔符，刷新没有，离开都有。中间工具每一类第一个添加fgf-->
    <ul>
        <li>
            <a href="{:url('index')}">
                <img src="__STATIC__/system/img/arrow_refresh.png"/>
                刷新
            </a>
        </li>
        <li class="fgf" onclick="layerPage('查询',$('#search'),'800','400')" >
            <img src="__STATIC__/system/img/page_white_magnify.png"/>
            查询
        </li>
        
    </ul>
</div>
<form action="{:url('index')}" method="post" id="js-ajax-form">
    <div class="tableCon">
        <em class="xian"></em>
        <table class="table" border="0" >
            <tbody>
            <tr class="noSelect">
                <th class="tc" width="35px">
                    <input class="va_m" type="checkbox" name="" id="allCheck" value="" data-falg="allCheck" onclick="checkBoxOp(this)"/>
                </th>
                <th>ID<i class="stretch"></i></th>
                <th>项目（ID）<i class="stretch"></i></th>
                <th>片区（ID）<i class="stretch"></i></th>
                <th>权属（ID）<i class="stretch"></i></th>
                <th>成员<i class="stretch"></i></th>
                <th>分类<i class="stretch"></i></th>
                <th>特殊人群<i class="stretch"></i></th>
                <th>操作<i class="stretch"></i></th>
            </tr>
            {volist name="collectionholdercrowds" id="collectionholdercrowd"}
            <tr>
                <td>
                    <input class="va_m" type="checkbox" name="ids[]" value="{$collectionholdercrowd->id}" onclick="checkBoxOp(this)" id="check-{$collectionholdercrowd->id}"/>
                </td>
                <td>{$collectionholdercrowd->id}</td>
                <td>{$collectionholdercrowd->item->name}（{$collectionholdercrowd->item_id}）</td>
                <td title="{$collectionholdercrowd->community->address}">{$collectionholdercrowd->community->name}（{$collectionholdercrowd->community_id}）</td>
                <td>
                    {if condition="$collectionholdercrowd->collection->building"}{$collectionholdercrowd->collection->building}栋{/if}
                    {if condition="$collectionholdercrowd->collection->unit"}{$collectionholdercrowd->collection->unit}单元{/if}
                    {if condition="$collectionholdercrowd->collection->floor"}{$collectionholdercrowd->collection->floor}楼{/if}
                    {if condition="$collectionholdercrowd->collection->number"}{$collectionholdercrowd->collection->number}号{/if}
                    （{$collectionholdercrowd->collection_id}）
                </td>
                <td title="{$collectionholdercrowd->holder->address}">{if condition="$collectionholdercrowd->deleted_at"}<del>{$collectionholdercrowd->holder->name}</del>{else /}{$collectionholdercrowd->holder->name}{/if}</td>
                <td>{if condition="$collectionholdercrowd->deleted_at"}<del>{$collectionholdercrowd->crowdgroup->name}</del>{else /}{$collectionholdercrowd->crowdgroup->name}{/if}</td>
                <td>{if condition="$collectionholdercrowd->deleted_at"}<del>{$collectionholdercrowd->crowd->name}</del>{else /}{$collectionholdercrowd->crowd->name}{/if}</td>
                <td>
                    <button type="button" class="btn" onclick="layerIfWindow('入户摸底-特殊人群信息',	'{:url('detail',['id'=>$collectionholdercrowd->id])}','800','600')" >详细信息</button>
                </td>
            </tr>
            {/volist}
            </tbody>
        </table>
    </div>
</form>
<div class="pageCon">
    {$collectionholdercrowds->render()}
</div>
<!-- 查询 -->
<div id="search" class="layerCon bg_f hide">
    <form action="{:url('index')}" method="post" id="search-form">
        <table class="layerTable">
            <tr class="h50">
                <td>项目：</td>
                <td colspan="3">
                    <select name="item_id" id="item_id" class="chosen" data-placeholder="请选择项目" data-no_results_text="没有匹配数据">
                        <option value="">--全部--</option>
                        {volist name="items" id="item"}
                        <option value="{$item->id}" {if condition="isset($item_id) and $item_id eq $item->id"}selected{/if}>{$item->name}</option>
                        {/volist}
                    </select>
                </td>
                <td>片区：</td>
                <td colspan="3">
                    <select name="community_id" id="community_id" class="chosen" data-placeholder="请选择片区" data-no_results_text="没有匹配数据">
                        <option value="">--全部--</option>
                        {volist name="collectioncommunitys" id="collectioncommunity"}
                        <option value="{$collectioncommunity->id}" {if condition="isset($community_id) and $community_id eq $collectioncommunity->id"}selected{/if}>{$collectioncommunity->name}</option>
                        {/volist}
                    </select>
                </td>
            </tr>
            <tr class="h50">
                <td><label for="collection_id">权属：</label></td>
                <td colspan="3">
                    <select name="collection_id" id="collection_id" class="chosen" data-placeholder="请选择权属" data-no_results_text="没有匹配数据">
                        <option value="">--全部--</option>
                        {volist name="collections" id="collection"}
                        <option value="{$collection->id}" {if condition="isset($collection_id) and $collection_id eq $collection->id"}selected{/if}>
                        {if condition="$collection->building"}{$collection->building}栋{/if}
                        {if condition="$collection->unit"}{$collection->unit}单元{/if}
                        {if condition="$collection->floor"}{$collection->floor}楼{/if}
                        {if condition="$collection->number"}{$collection->number}号{/if}
                        （{$collection->id}）
                        </option>
                        {/volist}
                    </select>
                </td>
                <td><label for="holder_id">成员：</label></td>
                <td colspan="3">
                    <select name="holder_id" id="holder_id" class="chosen" data-placeholder="请选择成员" data-no_results_text="没有匹配数据">
                        <option value="">--全部--</option>
                        {volist name="collectionholders" id="collectionholder"}
                        <option value="{$collectionholder->id}" {if condition="isset($holder_id) and $holder_id eq $collectionholder->id"}selected{/if}>
                        {$collectionholder->name}--{$collectionholder->address}
                        （{$collectionholder->id}）
                        </option>
                        {/volist}
                    </select>
                </td>
            </tr>
            <tr class="h50">
                <td><label for="crowd_parent_id">分类：</label></td>
                <td colspan="3">
                    <select name="crowd_parent_id" id="crowd_parent_id" class="chosen" data-placeholder="请选择分类" data-no_results_text="没有匹配数据">
                        <option value="">--全部--</option>
                        {volist name="crowds" id="crowd"}
                        {if condition="$crowd->parent_id eq 0"}
                        <option value="{$crowd->id}" {if condition="isset($crowd_parent_id) and $crowd_parent_id eq $crowd->id"}selected{/if}>{$crowd->name}</option>
                        {/if}
                        {/volist}
                    </select>
                </td>
                <td><label for="crowd_id">特殊人群：</label></td>
                <td colspan="3">
                    <select name="crowd_id" id="crowd_id" class="chosen" data-placeholder="请选择特殊人群" data-no_results_text="没有匹配数据">
                        <option value="">--全部--</option>
                        {volist name="crowds" id="crowd"}
                        {if condition="$crowd->parent_id neq 0"}
                        <option value="{$crowd->id}" {if condition="isset($crowd_id) and $crowd_id eq $crowd->id"}selected{/if}>{$crowd->name}</option>
                        {/if}
                        {/volist}
                    </select>
                </td>
            </tr>
            <tr class="h50">
                <td>是否删除：</td>
                <td>
                    <select name="deleted" id="deleted">
                        <option value="">--全部--</option>
                        <option value="1" {if condition="isset($deleted) and $deleted eq 1"}selected{/if}>--是--</option>
                        <option value="0" {if condition="isset($deleted) and $deleted eq 0"}selected{/if}>--否--</option>
                    </select>
                </td>
                <td>每页条数：</td>
                <td>
                    <select name="display_num" id="display_num">
                        {volist name="nums" id="num"}
                        <option value="{$num}" {if condition="isset($display_num) and $display_num eq $num"}selected{/if}>--{$num}--</option>
                        {/volist}
                    </select>
                </td>
                <td>排序：</td>
                <td>
                    <select name="ordername" id="ordername">
                        <option value="id">--默认--</option>
                        <option value="created_at" {if condition="isset($ordername) and $ordername eq 'created_at'"}selected{/if}>--创建时间--</option>
                        <option value="updated_at" {if condition="isset($ordername) and $ordername eq 'updated_at'"}selected{/if}>--更新时间--</option>
                        <option value="deleted_at" {if condition="isset($ordername) and $ordername eq 'deleted_at'"}selected{/if}>--删除时间--</option>
                    </select>
                </td>
                <td>方式：</td>
                <td>
                    <select name="orderby" id="orderby">
                        <option value="asc">--升序--</option>
                        <option value="desc" {if condition="isset($orderby) and $orderby eq 'desc'"}selected{/if}>--降序--</option>
                    </select>
                </td>
            </tr>

        </table>
        <div class="layerBtns">
            <button class="btn" type="submit">查询</button>
        </div>
    </form>
</div>

<script>

    $(function () {
        $('input[type=text]').on('change',function () {
            var id=$(this).data('id');
            $('#check-'+id).attr('checked',true);
        }) ;

        $('.pageCon').find('a').on('click',function () {
            $('#search-form').attr('action',$(this).attr('href')).submit();
            return false;
        });
    });

</script>
</body>
</html>
