<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>入户摸底-特殊人群|房屋征收安置管理系统</title>
    {include file="public/head" /}

</head>
<body>

<div class="tabs">
    <div class="item">
        <div class="homeTit bg_f5">
            <div class="fl"><img src="__STATIC__/system/img/account_balances.png"/>入户摸底-家庭人员</div>
            <ul class="homeTab">
                <li class=""><a href="{:url('Collectionholder/detail',['id'=>$holder_info->id])}">基本信息</a></li>
                <li class="on"><a href="javascript:location.reload();">特殊人群</a></li>
            </ul>

        </div>
        <div class="homeCon">
            <div class="tabPage w_100 on">
                <div class="layerCon bg_f">

                    <div class="toolsBar">
                        <!--fgf为工具栏分隔符，刷新没有，离开都有。中间工具每一类第一个添加fgf-->
                        <ul>
                            <li>
                                <a href="{:url('index',['item_id'=>$holder_info->item_id,'holder_id'=>$holder_info->id,'l'=>1])}">
                                    <img src="__STATIC__/system/img/arrow_refresh.png"/>
                                    刷新
                                </a>
                            </li>
                            <li class="fgf" onclick="layerPage('查询',$('#search'),'600','400')" >
                                <img src="__STATIC__/system/img/page_white_magnify.png"/>
                                查询
                            </li>
                            {if condition="$holder_info->item->getData('status') eq 1 and $collection_status neq 8"}
                            <li class="fgf" onclick="layerIfWindow('添加入户摸底-特殊人群','{:url('add',['item_id'=>$holder_info->item_id,'holder_id'=>$holder_info->id])}','800','600')">
                                <img src="__STATIC__/system/img/add.png"/>
                                添加
                            </li>
                            <li class="fgf js-ajax-form-btn" data-form="js-ajax-form" data-action="{:url('delete',['item_id'=>$holder_info->item_id,'holder_id'=>$holder_info->id])}">
                                <img src="__STATIC__/system/img/broom.png"/>
                                删除
                            </li>
                            <li class="fgf js-ajax-form-btn" data-form="js-ajax-form" data-action="{:url('restore',['item_id'=>$holder_info->item_id,'holder_id'=>$holder_info->id])}">
                                <img src="__STATIC__/system/img/recycle.png"/>
                                恢复
                            </li>
                            <li class="fgf js-ajax-form-btn" data-form="js-ajax-form" data-action="{:url('destroy',['item_id'=>$holder_info->item_id,'holder_id'=>$holder_info->id])}" data-notice="确定要彻底删除吗？">
                                <img src="__STATIC__/system/img/destroy.png"/>
                                销毁
                            </li>
                            {/if}
                        </ul>
                    </div>
                    <form action="{:url('index',['item_id'=>$holder_info->item_id,'holder_id'=>$holder_info->id,'l'=>1])}" method="post" id="js-ajax-form">
                        <div class="tableCon">
                            <em class="xian"></em>
                            <table class="table" border="0" >
                                <tbody>
                                <tr class="noSelect">
                                    <th class="tc" width="35px">
                                        <input class="va_m" type="checkbox" name="" id="allCheck" value="" data-falg="allCheck" onclick="checkBoxOp(this)"/>
                                    </th>
                                    <th>ID<i class="stretch"></i></th>
                                    <th>成员<i class="stretch"></i></th>
                                    <th>分类<i class="stretch"></i></th>
                                    <th>特殊人群<i class="stretch"></i></th>
                                    <th>操作<i class="stretch"></i></th>
                                </tr>
                                {volist name="collectionholdercrowds" id="collectionholdercrowd"}
                                <tr>
                                    <td>
                                        <input class="va_m" type="checkbox" name="ids[]" value="{$collectionholdercrowd->id}" onclick="checkBoxOp(this)" id="check-{$collectionholdercrowd->id}"/>
                                    </td>
                                    <td>{$collectionholdercrowd->id}</td>
                                    <td>{$holder_info->name}</td>
                                    <td>{if condition="$collectionholdercrowd->deleted_at"}<del>{$collectionholdercrowd->crowdgroup->name}</del>{else /}{$collectionholdercrowd->crowdgroup->name}{/if}</td>
                                    <td>{if condition="$collectionholdercrowd->deleted_at"}<del>{$collectionholdercrowd->crowd->name}</del>{else /}{$collectionholdercrowd->crowd->name}{/if}</td>
                                    <td>
                                        <button type="button" class="btn" onclick="layerIfWindow('入户摸底-特殊人群信息',	'{:url('detail',['id'=>$collectionholdercrowd->id])}','800','600')" >详细信息</button>
                                        <button type="button" data-action="{:url('delete',['item_id'=>$collectionholdercrowd->item_id,'holder_id'=>$collectionholdercrowd->holder_id,'ids'=>$collectionholdercrowd->id])}" class="btn js-ajax-form-btn">删除</button>
                                    </td>
                                </tr>
                                {/volist}
                                </tbody>
                            </table>
                        </div>
                    </form>
                    <div class="pageCon">
                        {$collectionholdercrowds->render()}
                    </div>  
                </div>
            </div>
        </div>
    </div>
</div>

<!-- 查询 -->
<div id="search" class="layerCon bg_f hide">
    <form action="{:url('index',['item_id'=>$holder_info->item_id,'holder_id'=>$holder_info->id,'l'=>1])}" method="post" id="search-form">
        <table class="layerTable">
            <tr class="h50">
                <td><label for="crowd_parent_id">分类：</label></td>
                <td colspan="3">
                    <select name="crowd_parent_id" id="crowd_parent_id" class="chosen" data-placeholder="请选择分类" data-no_results_text="没有匹配数据">
                        <option value="">--全部--</option>
                        {volist name="crowds" id="crowd"}
                        {if condition="$crowd->parent_id eq 0"}
                        <option value="{$crowd->id}" {if condition="isset($crowd_parent_id) and $crowd_parent_id eq $crowd->id"}selected{/if}>{$crowd->name}</option>
                        {/if}
                        {/volist}
                    </select>
                </td>
            </tr>
            <tr class="h50">
                <td><label for="crowd_id">特殊人群：</label></td>
                <td colspan="3">
                    <select name="crowd_id" id="crowd_id" class="chosen" data-placeholder="请选择特殊人群" data-no_results_text="没有匹配数据">
                        <option value="">--全部--</option>
                        {volist name="crowds" id="crowd"}
                        {if condition="$crowd->parent_id neq 0"}
                        <option value="{$crowd->id}" {if condition="isset($crowd_id) and $crowd_id eq $crowd->id"}selected{/if}>{$crowd->name}</option>
                        {/if}
                        {/volist}
                    </select>
                </td>
            </tr>
            <tr class="h50">
                <td>是否删除：</td>
                <td>
                    <select name="deleted" id="deleted">
                        <option value="">--全部--</option>
                        <option value="1" {if condition="isset($deleted) and $deleted eq 1"}selected{/if}>--是--</option>
                        <option value="0" {if condition="isset($deleted) and $deleted eq 0"}selected{/if}>--否--</option>
                    </select>
                </td>
                <td>每页条数：</td>
                <td>
                    <select name="display_num" id="display_num">
                        {volist name="nums" id="num"}
                        <option value="{$num}" {if condition="isset($display_num) and $display_num eq $num"}selected{/if}>--{$num}--</option>
                        {/volist}
                    </select>
                </td>
            </tr>
            <tr class="h50">
                <td>排序：</td>
                <td>
                    <select name="ordername" id="ordername">
                        <option value="id">--默认--</option>
                        <option value="created_at" {if condition="isset($ordername) and $ordername eq 'created_at'"}selected{/if}>--创建时间--</option>
                        <option value="updated_at" {if condition="isset($ordername) and $ordername eq 'updated_at'"}selected{/if}>--更新时间--</option>
                        <option value="deleted_at" {if condition="isset($ordername) and $ordername eq 'deleted_at'"}selected{/if}>--删除时间--</option>
                    </select>
                </td>
                <td>方式：</td>
                <td>
                    <select name="orderby" id="orderby">
                        <option value="asc">--升序--</option>
                        <option value="desc" {if condition="isset($orderby) and $orderby eq 'desc'"}selected{/if}>--降序--</option>
                    </select>
                </td>
            </tr>

        </table>
        <div class="layerBtns">
            <button class="btn" type="submit">查询</button>
        </div>
    </form>
</div>

<script>

    $(function () {
        $('input[type=text]').on('change',function () {
            var id=$(this).data('id');
            $('#check-'+id).attr('checked',true);
        }) ;

        $('.pageCon').find('a').on('click',function () {
            $('#search-form').attr('action',$(this).attr('href')).submit();
            return false;
        });
    });

</script>
</body>
</html>
