<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{$cur_menu->name}|房屋征收安置管理系统</title>
    <meta name="viewport" content="width=device-width,minimum-scale=1,maximum-scale=1,initial-scale=1,user-scalable=no" />

    {include file="mobile/public/head"/}
    {include file="mobile/public/kindeditor"/}
</head>
<body>
<div class="page">

    {include file="mobile/public/header"/}

    <div class="w_100 backCo_w">

        {include file="mobile/public/breadnav"/}

        <form class="js-ajax-form" action="{:isset($infos)?url('edit'):url('add')}" method="post" onsubmit="return false;">
            <div class="backCo_w add_menu padLR12">
                <input type="hidden" name="id" value="{:isset($infos)?$infos->id:''}">
                <input type="hidden" name="item_id" value="{:isset($infos)?$infos->item_id:$holder_info->item_id}">
                <input type="hidden" name="holder_id" value="{:isset($infos)?$infos->holder_id:$holder_info->id}">
                {if condition="isset($infos)"}
                <p>
                    <span>项目：</span>
                    <input  type="text" value="{$infos->item->name} ({$infos->item_id})" disabled/>
                </p>
                <p>
                    <span>片区：</span>
                    <input  type="text" value="{$infos->community->name} ({$infos->community_id})【{$infos->community->address}】" disabled/>
                </p>
                <p>
                    <span>权属：</span>
                    <input  type="text" value=" {if condition="$infos->collection->building"}{$infos->collection->building}栋{/if}
                    {if condition="$infos->collection->unit"}{$infos->collection->unit}单元{/if}
                    {if condition="$infos->collection->floor"}{$infos->collection->floor}楼{/if}
                    {if condition="$infos->collection->number"}{$infos->collection->number}号{/if}
                    （{$infos->collection_id}）" disabled/>
                </p>
                <p>
                    <span>成员：</span>
                    <input  type="text" value="{$infos->holder->name} ({$infos->holder_id})【{$infos->holder->address}，{$infos->holder->phone}】" disabled/>
                </p>
                {else/}
                <p>
                    <span>项目：</span>
                    <input  type="text" value="{$holder_info->item->name} ({$holder_info->item_id})" disabled/>
                </p>
                <p>
                    <span>片区：</span>
                    <input  type="text" value="{$holder_info->community->name} ({$holder_info->community_id})【{$holder_info->community->address}】" disabled/>
                </p>
                <p>
                    <span>权属：</span>
                    <input  type="text" value=" {if condition="$holder_info->collection->building"}{$holder_info->collection->building}栋{/if}
                    {if condition="$holder_info->collection->unit"}{$holder_info->collection->unit}单元{/if}
                    {if condition="$holder_info->collection->floor"}{$holder_info->collection->floor}楼{/if}
                    {if condition="$holder_info->collection->number"}{$holder_info->collection->number}号{/if}
                    （{$holder_info->collection_id}）" disabled/>
                </p>
                <p>
                    <span>成员：</span>
                    <input  type="text" value="{$holder_info->name} ({$holder_info->id})【{$holder_info->address}，{$holder_info->phone}】" disabled/>
                </p>
                {/if}
                <p>
                    <span>特殊人群：</span>
                    <select name="crowd_id" id="crowd_id" class="chosen" data-placeholder="请选择特殊人群" data-no_results_text="没有匹配数据">
                        <option value="">--选择特殊人群--</option>
                        {volist name="crowds" id="crowd"}
                        <option data-parent_id="{$crowd->parent_id}" value="{$crowd->id}" {if condition="isset($infos) and $infos->crowd_id eq $crowd->id"}selected{/if}>{$crowd->name}</option>
                        {/volist}
                    </select>
                    <input type="hidden" id="crowd_parent_id" name="crowd_parent_id" value="{:isset($infos)?$infos->crowd_parent_id:''}">
                </p>
                <p>
                    <span>相关证书：</span>
                    <div class="w_100 backCo_f2 add_menu_textarea">
                    <ul class="hxt_ul add_tu">
                    {if condition="isset($infos) and $infos->picture"}
                    {volist name="infos->picture" id="pic"}
                    <li>
                        <img src="{$pic}" class="w_100 h_100" onclick="bigerimg(this)">
                        <span><span onclick="picremove(this);"><i class="iconfont icon-guanbi"></i></span></span>
                        <input type="hidden" name="picture[]" value="{$pic}">
                    </li>
                    {/volist}
                     {/if}
                        <li class="btn-upload" data-type="multiimage" data-hidename="picture[]">
                            <input type="file" multiple onchange="multiimageupl(this)">
                            <a>+</a>
                        </li>
                    </ul>
                    </div>
                </p>
                {if condition="isset($infos)"}
                <p style="height: auto;line-height: inherit;">
                    创建于：{$infos->created_at}<br/>
                    更新于：{$infos->updated_at}<br/>
                    {if condition="isset($infos) and $infos->deleted_at"}
                    删除于：{$infos->deleted_at|date='Y-m-d H:i:s',###}
                    {/if}
                </p>
                {/if}
            </div>

            <!--提交按钮-->
            <p class="Btnform align_cen bor_none maT20">
                <span class="submit button maR17 js-ajax-form-btn">立即提交</span>
                <span class="maL17 button" onclick="window.history.back(-1);">返回</span>
            </p>
        </form>
    </div>
</div>


<script>

    $('#crowd_id').change(function () {
        var crowd_parent_id=$(this).find('option:selected').data('parent_id');
        crowd_parent_id=crowd_parent_id?crowd_parent_id:'';
        $('#crowd_parent_id').val(crowd_parent_id);
    });
</script>

</body>
</html>