<!--[if !IE]> -->
<link rel="stylesheet" type="text/css" href="__STATIC__/system/css/style.css"/>
<script src="__STATIC__/system/js/jquery-2.1.4.min.js" type="text/javascript" charset="utf-8"></script>
<!-- <![endif]-->
<!--[if IE]>
<link rel="stylesheet" type="text/css" href="__STATIC__/system/css/style_1.css"/>
<script src="__STATIC__/system/js/jquery-1.11.3.min.js" type="text/javascript" charset="utf-8"></script>
<![endif]-->
<!--[if lte IE 9]>
<script src="__STATIC__/system/js/DOMAssistantCompressed-2.7.4.js" type="text/javascript" charset="utf-8"></script>
<script src="__STATIC__/system/js/ie-css3.js" type="text/javascript" charset="utf-8"></script>
<script src="__STATIC__/system/js/placeholder.js" type="text/javascript" charset="utf-8"></script>
<script src="__STATIC__/system/js/forie8.js" type="text/javascript" charset="utf-8"></script>
<![endif]-->
<style type="text/css">
    .nav>li{float: left;padding: 5px 10px;margin-right: 10px;-webkit-border-radius: 5px; -moz-border-radius: 5px;border-radius: 5px;behavior: url(__STATIC__/system/js/PIE.htc);}
</style>
<!--[if lte IE 8]>
<script src="__STATIC__/system/js/html5shiv.min.js"></script>
<script src="__STATIC__/system/js/respond.min.js"></script>
<![endif]-->

<script src="__STATIC__/system/layer/layer.js" type="text/javascript" charset="utf-8"></script>
<script src="__STATIC__/system/js/iframe.js" type="text/javascript" charset="utf-8"></script>
<script src="__STATIC__/system/js/htglxt.js" type="text/javascript" charset="utf-8"></script>