<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>入户摸底|房屋征收安置管理系统</title>
    {include file="pc/public/head" /}

</head>
<body>
<div class="tabs">
    <div class="item">
        <div class="homeTit bg_f5">
            <div class="fl"><img src="__STATIC__/system/img/outlook_new_meeting.png"/>房产信息</div>
            <ul class="homeTab">
                <li class="on"><a href="javascript:location.reload();">基本信息</a></li>
                <li class=""><a href="{:url('Collectionholder/index',['item_id'=>$infos->item_id,'collection_id'=>$infos->id])}">产权人及家庭成员</a></li>
                <li class=""><a href="{:url('Collectionbuilding/index',['item_id'=>$infos->item_id,'collection_id'=>$infos->id])}">房屋及附属物</a></li>
                <li class=""><a href="{:url('Collectionobject/index',['item_id'=>$infos->item_id,'collection_id'=>$infos->id])}">其他</a></li>
            </ul>
        </div>
        <div class="homeCon">
            <div class="tabPage w_100 on">
                <div class="layerCon bg_f">
                    <table class="layerTable" border="0">
                        <tr class="h50">
                            <td>类型：</td>
                            <td>{$infos->type}</td>
                            <td>土地性质：</td>
                            <td>{$infos->land_prop}</td>
                            <td>土地来源：</td>
                            <td>{$infos->land_source}</td>
                            <td>土地状况：</td>
                            <td>{$infos->land_status}</td>
                        </tr>
                        <tr class="h50">
                            <td>地址：</td>
                            <td colspan="3">{$infos->address}</td>
                            <td>片区：</td>
                            <td>{$infos->name}</td>
                            <td>房号：</td>
                            <td>
                                {if condition="$infos->building"}{$infos->building}栋{/if}
                                {if condition="$infos->unit"}{$infos->unit}单元{/if}
                                {if condition="$infos->floor"}{$infos->floor}楼{/if}
                                {if condition="$infos->number"}{$infos->number}号{/if}
                            </td>
                        </tr>
                        <tr class="h50">
                            <td>批准用途：</td>
                            <td>{$infos->du_name}</td>
                            <td>实际用途：</td>
                            <td>{$infos->ru_name}</td>
                            <td>资产状况：</td>
                            <td>{$infos->has_assets}</td>
                            <td>拆迁意见：</td>
                            <td>{$infos->is_agree}</td>
                        </tr>
                        <tr class="h50">
                            <td>补偿方式：</td>
                            <td>{$infos->compensate_way}</td>
                            <td>补偿单价：</td>
                            <td>{if condition="$infos->compensate_price"}{$infos->compensate_price|number_format=2} 元/㎡{/if}</td>
                            <td>还建面积：</td>
                            <td>{if condition="$infos->rebuild_area"}{$infos->rebuild_area|number_format=2} ㎡{/if}</td>
                            <td>增面单价：</td>
                            <td>{if condition="$infos->rebuild_price"}{$infos->rebuild_price|number_format=2} 元/㎡{/if}</td>
                        </tr>
                        <tr class="h50">
                            <td>还建户型：</td>
                            <td>{$infos->l_name}</td>
                            <td>还建地址：</td>
                            <td colspan="5">{$infos->rebuild_addr}</td>
                        </tr>
                        <tr class="h50">
                            <td>其他意见：</td>
                            <td colspan="7">{$infos->opinion}</td>
                        </tr>
                        <tr class="h50">
                            <td>收件人：</td>
                            <td>{$infos->receive_man}</td>
                            <td>收件电话：</td>
                            <td>{$infos->receive_phone}</td>
                            <td>收件地址：</td>
                            <td colspan="3">{$infos->receive_addr}</td>
                        </tr>

                        {if condition="$infos->picture"}
                        {volist name="$infos->picture" id="pics"}
                        {php}$name=$key;{/php}
                        <tr class="h70">
                            <td><span>{$name}</span>：</td>
                            <td class="imgCon">
                                {volist name="pics" id="pic" key="k"}
                                {if condition="$pic"}
                                <div class="img">
                                    <img src="{$pic}" class="w_100 h_100" onclick="bigimg(this)">
                                </div>
                                {/if}
                                {/volist}
                            </td>
                        </tr>
                        {/volist}
                        {/if}
                    </table>

                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
