<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>入户摸底|房屋征收安置管理系统</title>
    {include file="pc/public/head" /}

</head>
<body>
<form action="{:url('status')}" method="post" class="js-ajax-form" onsubmit="return false;">
    <input type="hidden" name="id" value="{$id}">
    <input type="hidden" name="item_id" value="{$item_info->id}">
    <div class="tableCon">
        <em class="xian"></em>
        <table class="table" border="0" >
            <tbody>
            <tr class="noSelect">
                <th>序号</th>
                <th>姓名</th>
                <th>用户</th>
                <th>角色</th>
                <th>操作</th>
                <th>时间</th>
            </tr>
            {volist name="statuss" id="status"}
            <tr>
                <td>{$i}</td>
                <td>{$status->user->name?:''}</td>
                <td>{$status->user->username?:''}</td>
                <td>{$status->role->name?:''}</td>
                <td>{$status->status}</td>
                <td>{$status->created_at}</td>
            </tr>
            {/volist}
            </tbody>
        </table>
    </div>
    <div class="pageCon">
        {$statuss->render()}
    </div>
    <div class="layerBtns">
        <button type="button" data-action="{:url('check',['check'=>8])}" class="btn js-ajax-form-btn" data-layer="true">审核通过</button>
        <button type="button" data-action="{:url('check',['check'=>9])}" class="btn js-ajax-form-btn" data-layer="true">审核驳回</button>
        <button type="button" data-action="{:url('status',['status'=>0])}" class="btn js-ajax-form-btn" data-layer="true">禁用</button>
        <button type="button" data-action="{:url('status',['status'=>1])}" class="btn js-ajax-form-btn" data-layer="true">启用</button>
    </div>
</form>
</body>
</html>
