<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{$cur_menu->name}|房屋征收安置管理系统</title>
    <meta name="viewport" content="width=device-width,minimum-scale=1,maximum-scale=1,initial-scale=1,user-scalable=no" />

    {include file="mobile/public/head"/}
    {include file="mobile/public/kindeditor"/}

</head>
<body>
<div class="page">

    {include file="mobile/public/header"/}

    <div class="w_100 backCo_w">

        {include file="mobile/public/breadnav"/}

        <form class="js-ajax-form" action="{:isset($infos)?url('edit'):url('add')}" method="post" onsubmit="return false;">
            <p class="padLR12 btnp maT10">
                <span class="on">房源信息</span>
                <span>房源图片</span>
            </p>
            <div class="backCo_w w_100 tabDiv">
                <div class="padLR12 add_menu maT20">
                    <input type="hidden" name="id" value="{:isset($infos)?$infos->id:''}">
                    <p>
                        <span>小区：</span>
                        <select name="community_id" id="community_id" class="chosen" data-no_results_text="没有匹配数据" data-placeholder="请选择小区">
                            <option value="">--选择小区--</option>
                            {volist name="communitys" id="community"}
                            <option value="{$community->id}" {if condition="isset($infos) and $community->id eq $infos->community_id"}selected{/if}>{$community->name}</option>
                            {/volist}
                        </select>
                    </p>
                    <p>
                        <span>户型：</span>
                        <select name="layout_id" id="layout_id" class="chosen" data-no_results_text="没有匹配数据" data-placeholder="请选择户型">
                            <option value="">--选择户型--</option>
                            {volist name="layouts" id="layout"}
                            <option value="{$layout->id}" {if condition="isset($infos) and $layout->id eq $infos->layout_id"}selected{/if}>{$layout->name}</option>
                            {/volist}
                        </select>
                    </p>
                    <p>
                        <span>几栋：</span>
                        <input type="number" name="building" id="building" value="{:isset($infos)?$infos->building:''}" min="1">
                    </p>
                    <p>
                        <span>几单元：</span>
                        <input type="number" name="unit" id="unit" value="{:isset($infos)?$infos->unit:''}" min="1">
                    </p>
                    <p>
                        <span>几楼：</span>
                        <input type="number" name="floor" id="floor" value="{:isset($infos)?$infos->floor:''}">
                    </p>
                    <p>
                        <span>几号：</span>
                        <input type="number" name="number" id="number" value="{:isset($infos)?$infos->number:''}" min="1">
                    </p>
                    <p>
                        <span>面积：</span>
                        <input type="number" name="area" id="area" value="{:isset($infos)?$infos->area:''}" min="1">
                    </p>
                    <p>
                        <span>总楼层：</span>
                        <input type="number" name="total_floor" id="total_floor" value="{:isset($infos)?$infos->total_floor:''}" min="1">
                    </p>
                    <p>
                        <span>物业费：</span>
                        <input type="number" name="manage_price" id="manage_price" value="{:isset($infos)?$infos->manage_price:''}" min="0" placeholder="物业管理费单价（元/平米/月）">
                    </p>
                    <p>
                        <span>公摊费：</span>
                        <input type="number" name="public_price" id="public_price" value="{:isset($infos)?$infos->public_price:''}" min="0" placeholder="公摊费单价（元/月）">
                    </p>
                    <p>
                        <span>类型：</span>
                        <select name="is_real" id="is_real">
                            {volist name="model->is_real" id="value"}
                            <option value="{$key}" {if condition="isset($infos) and $infos->getData('is_real') eq $key"}selected{/if}>{$value}</option>
                            {/volist}
                        </select>
                    </p>
                    <p>
                        <span>购买：</span>
                        <select name="is_transit" id="is_transit">
                            {volist name="model->is_transit" id="value"}
                            <option value="{$key}" {if condition="isset($infos) and $infos->getData('is_transit') eq $key"}selected{/if}>{$value}</option>
                            {/volist}
                        </select>
                    </p>
                    <p>
                        <span>过渡：</span>
                        <select name="is_buy" id="is_buy">
                            {volist name="model->is_buy" id="value"}
                            <option value="{$key}" {if condition="isset($infos) and $infos->getData('is_buy') eq $key"}selected{/if}>{$value}</option>
                            {/volist}
                        </select>
                    </p>
                    <p>
                        <span>共用：</span>
                        <select name="is_public" id="is_public">
                            {volist name="model->is_public" id="value"}
                            <option value="{$key}" {if condition="isset($infos) and $infos->getData('is_public') eq $key"}selected{/if}>{$value}</option>
                            {/volist}
                        </select>
                    </p>
                    <p>
                        <span>交付时间：</span>
                        <input class="laydate-icon" id="deliver_at" name="deliver_at" value="{:isset($infos)?$infos->deliver_at:''}">
                    </p>
                    <p>
                        <span>有无电梯：</span>
                        <select name="has_lift" id="has_lift">
                            {volist name="model->has_lift" id="value"}
                            <option value="{$key}" {if condition="isset($infos) and $infos->getData('has_lift') eq $key"}selected{/if}>{$value}</option>
                            {/volist}
                        </select>
                    </p>
                    <p>
                        <span>状态：</span>
                        <select name="status" id="status">
                            {volist name="model->status" id="value"}
                            <option value="{$key}" {if condition="(!isset($infos) and $key eq 1) or (isset($infos) and $infos->status eq $value)"} selected{/if} >{$value}</option>
                            {/volist}
                        </select>
                    </p>
                    {if condition="isset($infos)"}
                    <p style="height: auto;line-height: inherit;">
                        创建于：{$infos->created_at}<br/>
                        更新于：{$infos->updated_at}<br/>
                        {if condition="isset($infos) and $infos->deleted_at"}
                        删除于：{$infos->deleted_at|date='Y-m-d H:i:s',###}
                        {/if}
                    </p>
                    {/if}
                </div>

                <div class="padLR12 add_menu maT20" style="display: none;">
                    <div class="w_100 backCo_f2 add_menu_textarea">
                        <p>户型图</p>
                        <ul class="hxt_ul add_tu">
                            {if condition="isset($infos) and $infos->l_pic"}
                            <li>
                                <img src="{$infos->l_pic}" class="w_100 h_100" onclick="bigerimg(this)">
                                <span><span onclick="picremove(this);"><i class="iconfont icon-guanbi"></i></span></span>
                                <input type="hidden" name="layout_pic_id" value="{$infos->layout_pic_id}"/>
                            </li>
                            {/if}
                            <li id="view-layout-pic">
                                <a>+</a>
                            </li>
                        </ul>

                    </div>

                    <p class="add-cate-box">
                        <span>其他分类：</span>
                        <input type="text" placeholder="请输入类型名称" name="cate_name"/>
                    </p>
                    <div class="Btnform align_cen bor_none maT10 add-cate">
                        <span class="submit button addrow">点击添加分类</span>
                    </div>


                    <table class="w_100  dong_table">
                        <tbody id="picture-table">
                        <tr>
                            <td colspan="2" style="border: none;height: 15px;background: white;"></td>
                        </tr>
                        {if condition="isset($infos) and $infos->picture"}
                        {volist name="$infos->picture" id="pics"}
                        {php}$name=$key;{/php}
                        <tr>
                            <td style="border-bottom: 1px solid black">
                                <p>{$name}</p>
                                <span class="dele_row" onclick='picremove(this);'>删除</span>
                            </td>
                            <td style="border-bottom: 1px solid black">
                                <ul class="hxt_ul add_tu">
                                    {volist name="pics" id="pic" key="k"}
                                    {if condition="$pic"}
                                    <li>
                                        <img src="{$pic}" class="w_100 h_100" onclick="bigerimg(this)">
                                        <span><span onclick="picremove(this);"><i class="iconfont icon-guanbi"></i></span></span>
                                        <input type="hidden" name="picture[{$name}][]" value="{$pic}">
                                    </li>
                                    {/if}
                                    {/volist}
                                    <li class="btn-upload" data-type="multiimage" data-hidename="picture[{$name}][]">
                                        <input type="file" multiple onchange="multiimageupl(this)">
                                        <a>+</a>
                                    </li>
                                </ul>
                            </td>
                        </tr>
                        {/volist}
                        {/if}

                        </tbody>
                    </table>

                </div>
            </div>

            <!--提交按钮-->
            <p class="Btnform align_cen bor_none maT20">
                <span class="submit button maR17 js-ajax-form-btn">立即提交</span>
                <span class="maL17 button" onclick="window.history.back(-1);">返回</span>
            </p>
        </form>
    </div>
</div>

<div class="hide" id="view-layout-pic-box">
    <div class="hxt_ul add_tu layout-pic">

    </div>
</div>


<table style="display: none">
    <tbody >
    <tr id="img_tpl">
        <td style="border-bottom: 1px solid black">
            <p class="cate-name"></p>
            <span class="dele_row" onclick='picremove(this);'>删除</span>
        </td>
        <td style="border-bottom: 1px solid black">
            <ul class="hxt_ul add_tu">
                <li class="btn-upload" data-type="multiimage" data-hidename="">
                    <input type="file" multiple  onchange="multiimageupl(this)">
                    <a>+</a>
                </li>
            </ul>
        </td>
    </tr>
    </tbody>
</table>

<script>

    /*----- 查看户型图 -----*/
    $('#view-layout-pic').click(function () {
        var btn=$(this);
        var community_id=$('#community_id').find('option:selected').val();
        var layout_id=$('#layout_id').find('option:selected').val();
        if(!community_id){
            layer.open({
                content:'请选择小区'
                ,skin: 'msg'
                ,time:1.5
            });
        }else if(!layout_id){
            layer.open({
                content:'请选择户型'
                ,skin: 'msg'
                ,time:1.5
            });
        }else{
            $.ajax({
                url:"{:url('Tools/houselayoutpic')}",
                data:{"community_id":community_id,"layout_id":layout_id},
                dataType:'json',
                type:'get',
                success:function (resp) {
                    if(resp.code){
                        if(resp.data.length){
                            var imgs='';
                            $.each(resp.data,function (index,info) {
                                imgs +='<label style="display: inline-block;width: 100px;height: 100px;padding: 5px;"><input type="radio" name="layout" value="'+info.id+'" data-pic="'+info.picture+'">' +
                                    '<button onclick="bigerimg(document.getElementById(\''+info.l_name+'-'+info.id+'\'))">查看原图</button>'+
                                    '<img title="'+info.l_name+'('+info.remark+')" src="'+info.picture+'" class="w_100 h_100" id="'+info.l_name+'-'+info.id+'"/></label>'
                            });
                            var dom=$('#view-layout-pic-box');
                            var layobj=$('.layout-pic').html(imgs);

                            layer.open({
                                type: 1
                                ,content: dom.html()
                                ,anim: 'up'
                                ,style: 'position:fixed; left:0; top:0; width:100%; height:100%; border: none; -webkit-animation-duration: .5s; animation-duration: .5s;'
                                ,btn:['确定','返回']
                                ,yes:function (index) {
                                    var layout_obj=$('.layout-pic').find('input[name="layout"]:checked');
                                    var layout_pic_id=layout_obj.val();
                                    var layout_pic=layout_obj.data('pic');
                                    if(!layout_pic_id){
                                        layer.open({
                                            content:'请选择户型图'
                                            ,skin: 'msg'
                                            ,time:1.5
                                        });
                                    }else{
                                        layer.close(index);
                                        var view_pic=$('#view-layout-pic');

                                        var img ='<li><img src="'+layout_pic+'" class="w_100 h_100" onclick="bigerimg(this)"><span onclick="picremove(this);"><i class="iconfont icon-guanbi"></i></span>';
                                        img +='<input type="hidden" name="layout_pic_id" value="'+layout_pic_id+'"/></li>';

                                        view_pic.siblings().remove();
                                        view_pic.before(img);
                                    }
                                }
                                ,btn1:function (index) {
                                    layer.close(index);
                                }
                            });

                        }else{
                            layer.open({
                                content:'暂无数据'
                                ,skin: 'msg'
                                ,time:1.5
                            });
                        }
                    }else{
                        layer.open({
                            content:resp.msg
                            ,skin: 'msg'
                            ,time:1.5
                        });
                    }
                }
            });
        }
    });

    /*----- 添加分类 -----*/
    $('.add-cate').on('click',function () {
        var add_cate_box=$(this).siblings('.add-cate-box'),
            cate_name=add_cate_box.find('input[name="cate_name"]:first').val().replace(/\s+/g, '');
        if(cate_name.length){
            add_cate_box.find('input[name="cate_name"]:first').val('');
            var img_tpl=$('#img_tpl').clone(true).attr('id','');
            img_tpl.find('.cate-name').text(cate_name);
            img_tpl.find('.btn-upload').data('hidename','picture['+cate_name+'][]');
            $('#picture-table').append(img_tpl);
        }else{
            layer.open({
                content:'请输入分类名称'
                ,skin: 'msg'
                ,time:1.5
            });
        }
    });

</script>

</body>
</html>