<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>新闻公告|房屋征收安置管理系统</title>
    {include file="pc/public/head" /}
    {include file="pc/public/kindeditor" /}

</head>
<body>
<form action="{:isset($infos)?url('edit'):url('add')}" method="post" class="js-ajax-form" onsubmit="return false;">
    <div class="tabs">
        <div class="news">
            <div class="homeTit bg_f5">
                <div class="fl"><img src="__STATIC__/system/img/books.png"/>新闻公告</div>
                <ul class="homeTab">
                    <li class="on">基本信息</li>
                    <li>相关图片</li>
                    <li>新闻内容</li>
                </ul>
            </div>
            <div class="homeCon">
                <div class="tabPage w_100 on">
                    <div class="layerCon bg_f">
                        <input type="hidden" name="id" value="{:isset($infos)?$infos->id:''}">
                        <table class="layerTable" border="0">
                            <tr class="h50">
                                <td>项目：</td>
                                <td>
                                    <select name="item_id" id="item_id" class="chosen" data-placeholder="请选择项目" data-no_results_text="没有匹配数据">
                                        <option value="">--请选择项目--</option>
                                        {volist name="items" id="item"}
                                        <option value="{$item->id}" {if condition="isset($infos) and $infos->item_id eq $item->id"}selected{/if}>{$item->name}</option>
                                        {/volist}
                                    </select>
                                </td>
                                <td>分类：</td>
                                <td>
                                    <select name="cate_id" id="cate_id" class="chosen" data-placeholder="请选择分类" data-no_results_text="没有匹配数据">
                                        <option value="">--请选择分类--</option>
                                        {volist name="newscates" id="cate"}
                                        <option value="{$cate->id}" {if condition="isset($infos) and $infos->cate_id eq $cate->id"}selected{/if}>{$cate->name}</option>
                                        {/volist}
                                    </select>
                                </td>
                            </tr>
                            <tr class="h50">
                                <td><label for="name">名称：</label></td>
                                <td>
                                    <input id="name" class="must" type="text" name="name" value="{:isset($infos)?$infos->name:''}" required placeholder="输入唯一名称"/>
                                </td>
                                <td><label for="release_at">发布时间：</label></td>
                                <td>
                                    <input id="release_at" type="text" name="release_at" value="{:isset($infos)?$infos->release_at:''}" class="laydate-icon" placeholder="输入发布时间"/>
                                </td>
                            </tr>
                            <tr class="h50">
                                <td><label for="keywords">关键词：</label></td>
                                <td colspan="3">
                                    <textarea id="keywords" name="keywords" placeholder="输入新闻关键词">{:isset($infos)?$infos->keywords:''}</textarea>
                                </td>
                            </tr>
                            <tr class="h50">
                                <td><label for="infos">摘要：</label></td>
                                <td colspan="3">
                                    <textarea id="infos" name="infos" placeholder="输入新闻摘要">{:isset($infos)?$infos->infos:''}</textarea>
                                </td>
                            </tr>
                            <tr class="h50">
                                <td><label for="url">链接：</label></td>
                                <td colspan="3">
                                    <input id="url" type="text" name="url" value="{:isset($infos)?$infos->url:''}" placeholder="输入新闻链接"/>
                                </td>
                            </tr>
                            <tr class="h50">
                                <td><label for="url_name">链接名称：</label></td>
                                <td>
                                    <input id="url_name" type="text" name="url_name" value="{:isset($infos)?$infos->url_name:''}" placeholder="输入链接名称" min="1"/>
                                </td>

                                <td><label for="sort">显示排序：</label></td>
                                <td>
                                    <input id="sort" type="number" name="sort" value="{:isset($infos)?$infos->sort:''}"/>
                                </td>
                            </tr>
                            <tr class="h50">
                                <td>置顶：</td>
                                <td>
                                    {volist name="model->is_top" id="is_top"}
                                    <label><input class="va_m" name="is_top" type="radio"  value="{$key}" {if condition="(!isset($infos) and $key eq 0) or (isset($infos) and $infos->is_top eq $is_top)"}checked{/if}>{$is_top}</label>
                                    {/volist}
                                </td>
                                <td>状态：</td>
                                <td>
                                    {volist name="model->status" id="status"}
                                    <label><input class="va_m" name="status" type="radio"  value="{$key}" {if condition="(!isset($infos) and $key eq 1) or (isset($infos) and $infos->status eq $status)"}checked{/if}>{$status}</label>
                                    {/volist}
                                </td>
                            </tr>
                            {if condition="isset($infos)"}
                            <tr class="h50">
                                <td>操作时间：</td>
                                <td colspan="3">
                                    创建于：{$infos->created_at}<br/>
                                    更新于：{$infos->updated_at}<br/>
                                    {if condition="isset($infos) and $infos->deleted_at"}
                                    删除于：{$infos->deleted_at|date='Y-m-d H:i:s',###}
                                    {/if}
                                </td>
                            </tr>
                            {/if}
                        </table>

                    </div>
                </div>
                <div class="tabPage w_100">
                    <div class="layerCon bg_f">
                        <table class="layerTable" border="0" id="picture-table">
                            <tr class="h70">
                                <td>封面：</td>
                                <td class="imgCon">
                                    {if condition="isset($infos) and $infos->title_page"}
                                    <div class="img">
                                        <img src="{$infos->title_page}" class="w_100 h_100" onclick="bigerimg(this)">
                                        <p><span onclick="picremove(this);">删除</span></p>
                                        <input type="hidden" name="title_page" value="{$infos->title_page}"/>
                                    </div>
                                    {/if}
                                    <div class="img btn-upload" data-type="image" data-hidename="title_page"><a>+</a></div>
                                </td>
                            </tr>
                            <tr class="h50">
                                <td>其他分类：</td>
                                <td>
                                    <div class="form-inline add-cate-box">
                                        <div class="form-group">
                                            <input type="text" name="cate_name" class="form-control" placeholder="请输入类型名称" style="width: inherit; height: 30px; border: 1px solid #ddd;line-height: 30px;padding: 0 2px;">
                                        </div>
                                        <div class="form-group">
                                            <button class="btn add-cate" type="button">点击添加分类</button>
                                        </div>
                                    </div>
                                </td>
                            </tr>

                            {if condition="isset($infos) and $infos->picture"}
                            {volist name="$infos->picture" id="pics"}
                            {php}$name=$key;{/php}
                            <tr class="h70">
                                <td><span>{$name}</span>：<br/><br/><button type="button" onclick="picremove(this)">点击删除</button></td>
                                <td class="imgCon">
                                    {volist name="pics" id="pic" key="k"}
                                    {if condition="$pic"}
                                    <div class="img">
                                        <img src="{$pic}" class="w_100 h_100" onclick="bigerimg(this)">
                                        <p><span onclick="picremove(this);">删除</span></p>
                                        <input type="hidden" name="picture[{$name}][]" value="{$pic}">
                                    </div>
                                    {/if}
                                    {/volist}
                                    <div class="img btn-upload" data-type="multiimage" data-hidename="picture[{$name}][]"><a>+</a></div>
                                </td>
                            </tr>
                            {/volist}
                            {/if}

                        </table>
                    </div>
                </div>
                <div class="tabPage w_100">
                    <div class="layerCon bg_f">
                        <textarea name="content" id="content" class="kindeditor">{:isset($infos)?$infos->content:''}</textarea>
                    </div>
                </div>
                <div class="layerBtns">
                    <a class="btn js-ajax-form-btn" data-layer="true" >立即提交</a>
                    <button class="btn" type="reset">重置</button>
                </div>
            </div>
        </div>
    </div>

</form>
<table style="display: none">
    <tr class="h70" id="img_tpl">
        <td><span class="cate-name"></span>：<br/><br/><button type="button" onclick="picremove(this)">点击删除</button></td>
        <td class="imgCon">
            <div class="img btn-upload" data-type="multiimage" data-hidename=""><a>+</a></div>
        </td>
    </tr>
</table>

<script>
    $(function () {
        /*----- 添加分类 -----*/
        $('.add-cate').on('click',function () {
            var add_cate_box=$(this).parents('.add-cate-box'),
                cate_name=add_cate_box.find('input[name="cate_name"]:first').val().replace(/\s+/g, '');
            if(cate_name.length){
                add_cate_box.find('input[name="cate_name"]:first').val('');
                var img_tpl=$('#img_tpl').clone(true).attr('id','');
                img_tpl.find('.cate-name').text(cate_name);
                img_tpl.find('.btn-upload').data('hidename','picture['+cate_name+'][]');
                $('#picture-table').append(img_tpl);
            }else{
                layer.msg('请输入分类名称',function () {});
            }
        });
    });

    /*----- 富文本编辑器 -----*/
    KindEditor.ready(function(K) {
        window.editor = K.create('.kindeditor',{
            width : '100%',
            minHeight:'300',
            uploadJson : upload_url,
            fileManagerJson : filemanager_url,
            allowFileManager : true,
            items:['source', '|', 'undo', 'redo', '|', 'preview', 'print', 'template', 'code', 'cut', 'copy', 'paste',
                'plainpaste', 'wordpaste', '|', 'justifyleft', 'justifycenter', 'justifyright',
                'justifyfull', 'insertorderedlist', 'insertunorderedlist', 'indent', 'outdent', 'subscript',
                'superscript', 'clearhtml', 'quickformat', 'selectall', '/',
                'formatblock', 'fontname', 'fontsize', '|', 'forecolor', 'hilitecolor', 'bold',
                'italic', 'underline', 'strikethrough', 'lineheight', 'removeformat', '|', 'image', 'multiimage',
                'flash', 'media', 'insertfile', 'table', 'hr', 'emoticons', 'baidumap', 'pagebreak',
                'anchor', 'link', 'unlink', '|', 'about'],
            afterBlur:function () {
                editor.sync();
            },
            autoHeightMode : true,
            afterCreate : function() {
                this.loadPlugin('autoheight');
            }
        });
    });
</script>
</body>
</html>
