<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>项目兑付与协议-兑付协议|房屋征收安置管理系统</title>
    {include file="pc/public/head" /}

</head>
<body>

<div class="tabs">
    <div class="item">
        <div class="homeTit bg_f5">
            <div class="fl"><img src="__STATIC__/system/img/server_database.png"/>项目兑付与协议管理</div>
            <ul class="homeTab">
                <li><a href="{:url('Pay/detail',['id'=>$pay_id])}">兑付汇总</a></li>
                <li><a href="{:url('Payholder/index',['item_id'=>$item_info->id,'pay_id'=>$pay_id])}">分权兑付</a></li>
                <li><a href="{:url('Paysubject/index',['item_id'=>$item_info->id,'pay_id'=>$pay_id])}">补偿科目</a></li>
                <li><a href="{:url('Payobject/index',['item_id'=>$item_info->id,'pay_id'=>$pay_id])}">补偿事项</a></li>
                <li><a href="{:url('Payholderhouse/index',['item_id'=>$item_info->id,'pay_id'=>$pay_id])}">安置房</a></li>
                <li class="on"><a href="javascript:location.reload();">补偿协议</a></li>
            </ul>
        </div>
        <div class="homeCon">
            <div class="tabPage w_100 on">
                <div class="toolsBar">
                    <!--fgf为工具栏分隔符，刷新没有，离开都有。中间工具每一类第一个添加fgf-->
                    <ul>
                        <li>
                            <a href="{:url('index',['item_id'=>$item_info->id,'pay_id'=>$pay_id])}">
                                <img src="__STATIC__/system/img/arrow_refresh.png"/>
                                刷新
                            </a>
                        </li>
                        {if condition="$item_info->getData('status') eq 1"}
                        <li class="fgf" onclick="layerIfWindow('添加兑付协议','{:url('add',['item_id'=>$item_info->id,'pay_id'=>$pay_id])}','800','600')">
                            <img src="__STATIC__/system/img/add.png"/>
                            添加
                        </li>
                        {/if}
                    </ul>
                </div>
                <form action="{:url('index',['item_id'=>$item_info->id,'pay_id'=>$pay_id])}" method="post" id="js-ajax-form">
                <div class="tableCon">
                    <em class="xian"></em>
                    <table class="table" border="0" >
                        <tbody>
                        <tr class="noSelect">
                            <th class="tc" width="35px">
                                <input class="va_m" type="checkbox" name="" id="allCheck" value="" data-falg="allCheck" onclick="checkBoxOp(this)"/>
                            </th>
                            <th>ID</th>
                            <th>名称</th>
                            <th>签约人</th>
                            <th>签约人地址</th>
                            <th>签约人电话</th>
                            <th>状态</th>
                            <th>操作</th>
                        </tr>
                        {volist name="pacts" id="pact"}
                        <tr>
                            <td>
                                <input class="va_m" type="checkbox" name="ids[]" value="{$pact->id}" onclick="checkBoxOp(this)" id="check-{$pact->id}"/>
                            </td>
                            <td>{$pact->id}</td>
                            <td>{if condition="$pact->getData('status')"}{$pact->name}{else/}<del>{$pact->name}</del>{/if}</td>
                            <td>{if condition="$pact->getData('status')"}{$pact->ch_name}{else/}<del>{$pact->ch_name}</del>{/if}</td>
                            <td>{if condition="$pact->getData('status')"}{$pact->address}{else/}<del>{$pact->address}</del>{/if}</td>
                            <td>{if condition="$pact->getData('status')"}{$pact->phone}{else/}<del>{$pact->phone}</del>{/if}</td>
                            <td>{$pact->status}</td>
                            <td>
                                <button type="button" class="btn" onclick="layerIfWindow('补偿协议信息',	'{:url('detail',['id'=>$pact->id])}','800','600')" >详细信息</button>
                            </td>
                        </tr>
                        {/volist}
                        </tbody>
                    </table>
                </div>
                </form>
            </div>
        </div>
    </div>
</div>

</body>
</html>
