<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>项目兑付与协议-重要补偿科目|后台管理系统</title>
    {include file="public/head" /}

</head>
<body>

<div class="tabs">
    <div class="item">
        <div class="homeTit bg_f5">
            <div class="fl"><img src="__STATIC__/system/img/server_database.png"/>项目兑付与协议管理</div>
            <ul class="homeTab">
                <li><a href="{:url('Pay/detail',['id'=>$pay_id])}">兑付汇总</a></li>
                <li><a href="{:url('Payholder/index',['pay_id'=>$pay_id])}">分权兑付</a></li>
                <li class="on"><a href="javascript:location.reload();">补偿科目</a></li>
                <li><a href="{:url('Payobject/index',['pay_id'=>$pay_id])}">补偿事项</a></li>
            </ul>
        </div>
        <div class="homeCon">
            <div class="tabPage w_100 on">
                <div class="toolsBar">
                    <!--fgf为工具栏分隔符，刷新没有，离开都有。中间工具每一类第一个添加fgf-->
                    <ul>
                        <li>
                            <a href="{:url('index',['pay_id'=>$pay_id])}">
                                <img src="__STATIC__/system/img/arrow_refresh.png"/>
                                重置</a>
                        </li>
                        <li class="fgf" onclick="layerIfWindow('添加重要补偿科目','{:url('add',['pay_id'=>$pay_id])}','700','500')">
                            <img src="__STATIC__/system/img/add.png"/>
                            添加
                        </li>

                        <li class="fgf js-ajax-form-btn" data-form="js-ajax-form" data-action="{:url('delete')}">
                            <img src="__STATIC__/system/img/broom.png"/>
                            删除
                        </li>
                        <li class="fgf js-ajax-form-btn" data-form="js-ajax-form" data-action="{:url('restore')}">
                            <img src="__STATIC__/system/img/recycle.png"/>
                            恢复
                        </li>
                        <li class="fgf js-ajax-form-btn" data-form="js-ajax-form" data-action="{:url('destroy')}" data-notice="确定要彻底删除吗？">
                            <img src="__STATIC__/system/img/destroy.png"/>
                            销毁
                        </li>
                    </ul>
                </div>
                <form action="{:url('index',['pay_id'=>$pay_id])}" method="post" id="js-ajax-form">
                <div class="tableCon">
                    <em class="xian"></em>
                    <table class="table" border="0" >
                        <tbody>
                        <tr class="noSelect">
                            <th class="tc" width="35px">
                                <input class="va_m" type="checkbox" name="" id="allCheck" value="" data-falg="allCheck" onclick="checkBoxOp(this)"/>
                            </th>
                            <th>ID</th>
                            <th>名称</th>
                            <th>数量来源</th>
                            <th>数量</th>
                            <th>单位</th>
                            <th>单价</th>
                            <th>次数</th>
                            <th>总额</th>
                            <th>操作</th>
                        </tr>
                        {volist name="paysubjects" id="paysubject"}
                        <tr>
                            <td>
                                <input class="va_m" type="checkbox" name="ids[]" value="{$paysubject->id}" onclick="checkBoxOp(this)" id="check-{$paysubject->id}"/>
                            </td>
                            <td>{$paysubject->id}</td>
                            <td>{if condition="$paysubject->deleted_at"}<del>{$paysubject->name}</del>{else/}{$paysubject->name}{/if}</td>
                            <td>{if condition="$paysubject->deleted_at"}<del>{$paysubject->num_from}</del>{else/}{$paysubject->num_from}{/if}</td>
                            <td>{if condition="$paysubject->deleted_at"}<del>{$paysubject->number|number_format=2}</del>{else/}{$paysubject->number|number_format=2}{/if}</td>
                            <td>{if condition="$paysubject->deleted_at"}<del>{$paysubject->unit}</del>{else/}{$paysubject->unit}{/if}</td>
                            <td>{if condition="$paysubject->deleted_at"}<del>{$paysubject->price|number_format=2}</del>{else/}{$paysubject->price|number_format=2}{/if}</td>
                            <td>{if condition="$paysubject->deleted_at"}<del>{$paysubject->times}</del>{else/}{$paysubject->times}{/if}</td>
                            <td>{if condition="$paysubject->deleted_at"}<del>{$paysubject->amount|number_format=2}</del>{else/}{$paysubject->amount|number_format=2}{/if}</td>
                            <td>
                                <button type="button" class="btn" onclick="layerIfWindow('补偿科目信息',	'{:url('detail',['id'=>$paysubject->id])}','700','500')" >详细信息</button>
                                {if condition="$paysubject->deleted_at"}
                                <button type="button" data-action="{:url('restore',['ids'=>$paysubject->id])}" class="btn js-ajax-form-btn">恢复</button>
                                <button type="button" data-action="{:url('destroy',['ids'=>$paysubject->id])}" class="btn js-ajax-form-btn" data-notice="确定要彻底删除吗？">销毁</button>
                                {else/}
                                <button type="button" data-action="{:url('delete',['ids'=>$paysubject->id])}" class="btn js-ajax-form-btn">删除</button>
                                {/if}
                            </td>
                        </tr>
                        {/volist}
                        </tbody>
                    </table>
                </div>
                </form>
            </div>
        </div>
    </div>
</div>

</body>
</html>
