<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>项目重要流程时间|房屋征收安置管理系统</title>
    {include file="public/head" /}

</head>
<body>
<form action="{:url('itemtime')}" method="post" class="js-ajax-form" onsubmit="return false;">
    <div class="layerCon bg_f">
        <input type="hidden" name="id" value="{:isset($infos)?$infos->id:''}">
        <input type="hidden" name="item_id" value="{:isset($infos)?$infos->item_id:$item_info->id}">
        <table class="layerTable" border="0">
            <tr class="h50">
                <td><label for="collection_start">入户摸底：</label></td>
                <td>
                    <input id="collection_start" type="text" name="collection_start" value="{:isset($infos)?$infos->collection_start:''}" class="laydate-icon" placeholder="输入入户摸底开始时间"/>
                </td>
                <td><label for="collection_end"> - </label></td>
                <td>
                    <input id="collection_end" type="text" name="collection_end" value="{:isset($infos)?$infos->collection_end:''}" class="laydate-icon" placeholder="输入入户摸底结束时间"/>
                </td>
            </tr>
            <tr class="h50">
                <td><label for="vote_start">公司投票：</label></td>
                <td>
                    <input id="vote_start" type="text" name="vote_start" value="{:isset($infos)?$infos->vote_start:''}" class="laydate-icon" placeholder="输入评估公司投票开始时间"/>
                </td>
                <td><label for="vote_end"> - </label></td>
                <td>
                    <input id="vote_end" type="text" name="vote_end" value="{:isset($infos)?$infos->vote_end:''}" class="laydate-icon" placeholder="输入评估公司投票结束时间"/>
                </td>
            </tr>
            <tr class="h50">
                <td><label for="assess_start">入户评估：</label></td>
                <td>
                    <input id="assess_start" type="text" name="assess_start" value="{:isset($infos)?$infos->assess_start:''}" class="laydate-icon" placeholder="输入入户评估开始时间"/>
                </td>
                <td><label for="assess_end"> - </label></td>
                <td>
                    <input id="assess_end" type="text" name="assess_end" value="{:isset($infos)?$infos->assess_end:''}" class="laydate-icon" placeholder="输入入户评估结束时间"/>
                </td>
            </tr>
            <tr class="h50">
                <td><label for="risk_start">风险评估：</label></td>
                <td>
                    <input id="risk_start" type="text" name="risk_start" value="{:isset($infos)?$infos->risk_start:''}" class="laydate-icon" placeholder="输入风险评估开始时间"/>
                </td>
                <td><label for="risk_end"> - </label></td>
                <td>
                    <input id="risk_end" type="text" name="risk_end" value="{:isset($infos)?$infos->risk_end:''}" class="laydate-icon" placeholder="输入风险评估结束时间"/>
                </td>
            </tr>
            <tr class="h50">
                <td><label for="sign_start">签约：</label></td>
                <td>
                    <input id="sign_start" type="text" name="sign_start" value="{:isset($infos)?$infos->sign_start:''}" class="laydate-icon" placeholder="输入签约开始时间"/>
                </td>
                <td><label for="sign_end"> - </label></td>
                <td>
                    <input id="sign_end" type="text" name="sign_end" value="{:isset($infos)?$infos->sign_end:''}" class="laydate-icon" placeholder="输入签约结束时间"/>
                </td>
            </tr>

            {if condition="isset($infos)"}
            <tr class="h50">
                <td>操作时间：</td>
                <td colspan="3">
                    创建于：{$infos->created_at}<br/>
                    更新于：{$infos->updated_at}<br/>
                </td>
            </tr>
            {/if}
        </table>
        <div class="layerBtns">
            <a class="btn js-ajax-form-btn" data-layer="true" >立即提交</a>
            <button class="btn" type="reset">重置</button>
        </div>
    </div>
</form>

<script>

</script>
</body>
</html>
