<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>入户评估-房产评估|房屋征收安置管理系统</title>
    {include file="pc/public/head" /}

</head>
<body>
<h4>入户评估-房产评估管理</h4>
<div class="toolsBar">
    <!--fgf为工具栏分隔符，刷新没有，离开都有。中间工具每一类第一个添加fgf-->
    <ul>
        <li>
            <a href="{:url('index',['item_id'=>$item_info->id,'community_id'=>$community_id,'collection_id'=>$collection_id,'assess_id'=>$assess_id,'l'=>1])}">
                <img src="__STATIC__/system/img/arrow_refresh.png"/>
                刷新
            </a>
        </li>
        <li class="fgf" onclick="layerPage('查询',$('#search'),'700','330')" >
            <img src="__STATIC__/system/img/page_white_magnify.png"/>
            查询
        </li>
        {if condition="$item_info->getData('status') eq 1 and $assess_status neq 8"}
        <li class="fgf" onclick="layerIfWindow('添加入户评估-房产评估','{:url('add',['item_id'=>$item_info->id,'community_id'=>$community_id,'collection_id'=>$collection_id,\'assess_id\'=>$assess_id,'l'=>1])}','1000','650')">
            <img src="__STATIC__/system/img/add.png"/>
            添加
        </li>
        <li class="fgf js-ajax-form-btn" data-form="js-ajax-form" data-action="{:url('delete',['item_id'=>$item_info->id,'assess_id'=>$assess_id,'l'=>1])}">
            <img src="__STATIC__/system/img/broom.png"/>
            删除
        </li>
        <li class="fgf js-ajax-form-btn" data-form="js-ajax-form" data-action="{:url('restore',['item_id'=>$item_info->id,'assess_id'=>$assess_id,'l'=>1])}">
            <img src="__STATIC__/system/img/recycle.png"/>
            恢复
        </li>
        <li class="fgf js-ajax-form-btn" data-form="js-ajax-form" data-action="{:url('destroy',['item_id'=>$item_info->id,'assess_id'=>$assess_id,'l'=>1])}" data-notice="确定要彻底删除吗？">
            <img src="__STATIC__/system/img/destroy.png"/>
            销毁
        </li>
        {/if}
    </ul>
</div>
<form action="{:url('index',['item_id'=>$item_info->id,'community_id'=>$community_id,'collection_id'=>$collection_id,'assess_id'=>$assess_id,'l'=>1])}" method="post" id="js-ajax-form">
    <div class="tableCon">
        <em class="xian"></em>
        <table class="table" border="0" >
            <tbody>
            <tr class="noSelect">
                <th class="tc" width="35px">
                    <input class="va_m" type="checkbox" name="" id="allCheck" value="" data-falg="allCheck" onclick="checkBoxOp(this)"/>
                </th>
                <th>ID</th>
                <th>片区</th>
                <th>权属(ID)</th>
                <th>评估公司</th>
                <th>报告时间</th>
                <th>价值时点</th>
                <th>评估方法</th>
                <th>状态</th>
                <th>操作</th>
            </tr>
            {volist name="assessestate_list" id="info"}
            <tr>
                <td>
                    <input class="va_m" type="checkbox" name="ids[]" value="{$info->id}" onclick="checkBoxOp(this)" id="check-{$info->id}"/>
                </td>
                <td>{$info->id}</td>
                <td>{if condition="$info->deleted_at"}<del>{$info->pq_name}</del>{else/}{$info->pq_name}{/if}</td>
                <td> {if condition="$info->deleted_at or $info->getData('status') eq 0"}
                    <del>
                        {if condition="$info->c_building"}{$info->c_building}栋{/if}
                        {if condition="$info->c_unit"}{$info->c_unit}单元{/if}
                        {if condition="$info->c_floor"}{$info->c_floor}楼{/if}
                        {if condition="$info->c_number"}{$info->c_number}号{/if}
                        {if condition="$info->c_id"}({$info->c_id}){/if}
                    </del>
                    {else /}
                    {if condition="$info->c_building"}{$info->c_building}栋{/if}
                    {if condition="$info->c_unit"}{$info->c_unit}单元{/if}
                    {if condition="$info->c_floor"}{$info->c_floor}楼{/if}
                    {if condition="$info->c_number"}{$info->c_number}号{/if}
                    {if condition="$info->c_id"}({$info->c_id}){/if}
                    {/if}</td>
                <td>{if condition="$info->deleted_at"}<del>{$info->cy_name}</del>{else/}{$info->cy_name}{/if}</td>
                <td>{if condition="$info->deleted_at"}<del>{$info->report_at}</del>{else/}{$info->report_at}{/if}</td>
                <td>{if condition="$info->deleted_at"}<del>{$info->valued_at}</del>{else/}{$info->valued_at}{/if}</td>
                <td>{if condition="$info->deleted_at"}<del>{$info->method}</del>{else/}{$info->method}{/if}</td>
                <td>{if condition="$info->deleted_at"}<del>{$info->status}</del>{else/}{$info->status}{/if}</td>
                <td>
                    <button type="button" class="btn" onclick="layerIfWindow('入户评估-房产评估信息',	'{:url('detail',['id'=>$info->id,'item_id'=>$item_info->id,\'assess_id\'=>$assess_id])}','1000','650')" >详细信息</button>
                    {if condition="$item_info->getData('status') eq 1 and $assess_status neq 8"}
                    <a class="btn js-ajax-form-btn" data-action="{:url('assessestate/status',['id'=>$info->id,'item_id'=>$item_info->id,'assess_id'=>$assess_id])}" data-notice="确定要更改当前状态吗？">更改状态</a>
                    <button type="button" data-action="{:url('delete',['ids'=>$info->id,'item_id'=>$item_info->id,'assess_id'=>$assess_id])}" class="btn js-ajax-form-btn">删除</button>
                    {/if}
                </td>
            </tr>
            {/volist}
            </tbody>
        </table>
    </div>
</form>
<div class="pageCon">
    {$assessestate_list->render()}
</div>
<!-- 查询 -->
<div id="search" class="layerCon bg_f hide">
    <form action="{:url('index',['item_id'=>$item_info->id,'community_id'=>$community_id,'collection_id'=>$collection_id,'assess_id'=>$assess_id,'l'=>1])}" method="post" id="search-form">
        <table class="layerTable">
            <tr class="h50">
                <td><label for="report_at">报告时间：</label></td>
                <td>
                    <input type="text" class="laydate-icon" name="report_at" id="report_at" value="{:isset($report_at)?$report_at:''}" placeholder="请输入报告时间">
                </td>
                <td><label for="valued_at">价值时点：</label></td>
                <td>
                    <input type="text" class="laydate-icon" name="valued_at" id="valued_at" value="{:isset($valued_at)?$valued_at:''}" placeholder="请输入价值时点">
                </td>
            </tr>
            <tr class="h50">
                <td><label for="company_id">评估公司：</label></td>
                <td colspan="3">
                    <select name="company_id" id="company_id" class="chosen" data-placeholder="请选择评估公司" data-no_results_text="没有匹配数据">
                        <option value="">--请选择评估公司--</option>
                        {volist name="company_list" id="company"}
                        <option value="{$company->id}" {if condition="isset($company_id) and $company_id eq $company->id"}selected{/if}>{$company->name}</option>
                        {/volist}
                    </select>
                </td>
            </tr>
            <tr class="h50">
                <td>状态：</td>
                <td colspan="3">
                    <select name="status" id="status">
                        <option value="">--全部--</option>
                        <option value="1" {if condition="isset($status) and $status eq 1"}selected{/if}>--启用--</option>
                        <option value="0" {if condition="isset($status) and $status eq 0"}selected{/if}>--停用--</option>
                    </select>
                </td>
            </tr>
            <tr class="h50">
                <td>是否删除：</td>
                <td>
                    <select name="deleted" id="deleted">
                        <option value="">--全部--</option>
                        <option value="1" {if condition="isset($deleted) and $deleted eq 1"}selected{/if}>--是--</option>
                        <option value="0" {if condition="isset($deleted) and $deleted eq 0"}selected{/if}>--否--</option>
                    </select>
                </td>
                <td>每页条数：</td>
                <td>
                    <select name="display_num" id="display_num">
                        {volist name="nums" id="num"}
                        <option value="{$num}" {if condition="isset($display_num) and $display_num eq $num"}selected{/if}>--{$num}--</option>
                        {/volist}
                    </select>
                </td>
            </tr>
            <tr class="h50">
                <td>排序：</td>
                <td>
                    <select name="ordername" id="ordername">
                        <option value="id">--默认--</option>
                        <option value="created_at" {if condition="isset($ordername) and $ordername eq 'created_at'"}selected{/if}>--创建时间--</option>
                        <option value="updated_at" {if condition="isset($ordername) and $ordername eq 'updated_at'"}selected{/if}>--更新时间--</option>
                        <option value="deleted_at" {if condition="isset($ordername) and $ordername eq 'deleted_at'"}selected{/if}>--删除时间--</option>
                    </select>
                </td>
                <td>方式：</td>
                <td>
                    <select name="orderby" id="orderby">
                        <option value="asc">--升序--</option>
                        <option value="desc" {if condition="isset($orderby) and $orderby eq 'desc'"}selected{/if}>--降序--</option>
                    </select>
                </td>
            </tr>

        </table>
        <div class="layerBtns">
            <button class="btn" type="submit">查询</button>
        </div>
    </form>
</div>

<script>

    $(function () {
        $('input[type=text]').on('change',function () {
            var id=$(this).data('id');
            $('#check-'+id).attr('checked',true);
        }) ;

        $('.pageCon').find('a').on('click',function () {
            $('#search-form').attr('action',$(this).attr('href')).submit();
            return false;
        });
    });

</script>
</body>
</html>
