<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>入户评估-房产评估|房屋征收安置管理系统</title>
    {include file="public/head" /}
    {include file="public/kindeditor" /}
</head>
<body>
<form action="{:url('add')}" method="post" class="js-ajax-form" onsubmit="return false;">
    <input type="hidden" name="item_id" value="{$item_id}">
    <input type="hidden" name="collection_id" value="{$collection_id}">

    <div class="tabs">
        <div class="item">
            <div class="homeTit bg_f5">
                <div class="fl"><img src="__STATIC__/system/img/books.png"/>入户评估-房产评估</div>
                <ul class="homeTab">
                    <li class="on">基本信息</li>
                    <li>相关文件及图片</li>
                </ul>
            </div>
            <div class="homeCon">
                <div class="tabPage w_100 on">
                    <div class="layerCon bg_f">
                        <table class="layerTable" border="0">
                            <tr class="h50">
                                <td><label for="report_at">报告时间：</label></td>
                                <td>
                                    <input type="text" class="laydate-icon" name="report_at" id="report_at" value="" placeholder="请输入报告时间">
                                </td>

                                <td><label for="method">评估方法：</label></td>
                                <td>
                                    <input type="text" name="method" id="method" value="" placeholder="请输入评估方法">
                                </td>
                            </tr>
                            <tr class="h70">
                                <td ><label>所有建筑：</label></td>
                                <td colspan="3" class="tableCons">
                                    <table class="table" border="0">
                                        <tbody>
                                        <tr class="noSelect">
                                            <th style="width: inherit !important;">ID</th>
                                            <th>位置</th>
                                            <th>性质</th>
                                            <th>结构</th>
                                            <th>状况</th>
                                            <th>数量</th>
                                            <th>计量单位</th>
                                            <th>单价</th>
                                            <th>备注</th>
                                            <th>总价</th>
                                        </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>

                            <tr class="h50">
                                <td><label for="valuer_id_info">评估师：</label>
                                    <input type="hidden" name="valuer_id" id="valuer_id" value="">
                                    <button class="btn valuerid_list"  onclick="valuer_id_list()">选择评估师</button>
                                </td>
                                <td id="valuer_id_info" colspan="3">
                                    <table class="table" border="0" id="valuer_id_lists">
                                        <tbody>
                                        <tr class="noSelect">
                                            <th style="text-align: center;">ID</th>
                                            <th style="text-align: center;">姓名</th>
                                            <th style="text-align: center;">注册号</th>
                                            <th style="text-align: center;">有效期</th>
                                        </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>

                        </table>
                    </div>
                </div>
                <div class="tabPage w_100">
                    <div class="layerCon bg_f">
                        <table class="layerTable" border="0" id="picture-table">
                            <tr class="h70">
                                <td>评估报告：</td>
                                <td class="imgCon" colspan="3">

                                    <div class="img btn-upload" data-type="multiimage" data-hidename="picture[]"><a>+</a></div>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="layerBtns">
                    <a class="btn js-ajax-form-btn" data-layer="true" >立即提交</a>
                    <button class="btn" type="reset">重置</button>
                </div>
            </div>
        </div>
    </div>

</form>
<!-- 查询评估师 -->
<div id="search" class="bg_f hide">
        <table class="table" border="0" style="width: 100% !important;" id="valuer_id_infos">
            <input type="hidden" name="pinggu_ids" id="pinggu_id" value="">
            <tbody>
            <tr class="noSelect">
                <th class="tc" width="35px">
                    <input class="va_m" type="checkbox" name="" id="allCheck" value="" data-falg="allCheck" onclick="checkBoxOp(this)"/>
                </th>
                <th style="text-align: center;">ID</th>
                <th style="text-align: center;">姓名</th>
                <th style="text-align: center;">注册号</th>
                <th style="text-align: center;">有效期</th>
            </tr>
            </tbody>
        </table>
        <div class="layerBtns">
            <button class="btn" type="button" id="btn-form-search">选择</button>
        </div>
</div>
<script>

    /* ===== 查询评估建筑物 =====*/
        var _collection_id = {$collection_id};
            $.ajax({
                url:"{:url('Tools/estate_building')}",
                data:{ 'collection_id':_collection_id},
                dataType:'json',
                type:'get',
                success:function (resp) {
                    $('.tableCons').find('tr:first').siblings().remove();
                    var options = '';
                    if(resp.code){
                        $.each(resp.data,function (index,info) {
                            var remark = info.remark;
                            if(remark==null){
                                remark = '';
                            }

                            options += '<tr class="h50">';
                            options += '<td style="text-align: left;background: none;width: inherit !important;">'+info.id+'</td>';
                            options += '<td  class="nowrap" style="text-align: left;background: none;">'+(info.building?(info.building+'栋'):'')+(info.unit?(info.unit+'单元'):'')+(info.floor?(info.floor+'楼'):'')+(info.number?(info.number+'号'):'')+'</td>';
                            options += '<td style="text-align: center;background: none;">'+info.bu_name+'</td>';
                            options += '<td style="text-align: center;background: none;">'+info.bs_name+'</td>';
                            options += '<td style="text-align: center;background: none;">'+info.s_name+'</td>';
                            options += '<td style="text-align: left;background: none;">'+info.real_num+'</td>';
                            options += '<td style="text-align: center;background: none;">'+info.real_unit+'</td>';
                            options += '<td style="text-align: left;background: none;"><input type="text" name="price['+info.id+']" class="price" value="" data-real_num="'+info.real_num+'" data-id="'+info.id+'" onkeyup="price_num(this)"  onchange="price_num(this)"></td>';
                            options += '<td style="text-align: left;background: none;">'+remark+'</td>';
                            options += '<td style="text-align: left;background: none;"><input type="text" name="amount['+info.id+']" id="total-'+info.id+'"  value="" readonly></td>';
                            options += '</tr>';
                        });
                        $('.tableCons').find('tbody').append(options);

                    }else{
                        layer.msg(resp.msg,function(){});
                    }
                },
                error:function () {
                    layer.msg('网络错误，请重试',function(){});
                }
            });


    /* ===== 评估建筑物（单价变化获取总价） =====*/
    function  price_num(obj) {
        var _this = $(obj);
        var price=parseFloat(_this.val());
        var number=parseFloat(_this.data('real_num'));
        var id=_this.data('id');
        var total=price*number;
        if(isNaN(total)){
            $('#total-'+id).val('');
            return false;
        }
        $('#total-'+id).val(total);
    }

    var valuers=null;
    var valuer_ids=[];

    /* ===== 查询评估师 =====*/
    function valuer_id_list(){
        layerPage('评估师列表',$('#search'),'650','300');
        $.ajax({
            url:"{:url('Tools/item_company_valuer')}",
            data:{ 'company_id':{$company_id}},
            dataType:'json',
            type:'get',
            success:function (resp) {
                $('#valuer_id_infos').find('tr:first').siblings().remove();
                var options = '';

                if(resp.code){
                    valuers=resp.data;
                    $.each(resp.data,function (index,info) {
                        var _checked='';
                        var res=$.inArray(info.id,valuer_ids);
                        if(res>-1){
                            _checked='checked';
                        }

                        options += '<tr class="h50">';
                        options += ' <td style="text-align: center;"><input class="va_m" type="checkbox" name="ids[]" value="'+info.id+'" onclick="checkBoxOp(this)" id="check-'+info.id+'" '+_checked+'/></td>';
                        options += '<td style="text-align: center;">'+info.id+'</td>';
                        options += '<td style="text-align: center;">'+info.name+'</td>';
                        options += '<td style="text-align: center;">'+info.register_num+'</td>';
                        options += '<td style="text-align: center;">'+info.valid_at+'</td>';
                        options += '</tr>';
                    });
                    $('#valuer_id_infos').find('tbody').append(options);
                }else{
                    valuers=null;
                    layer.msg(resp.msg,function(){});
                }
            },
            error:function () {
                valuers=null;
                layer.msg('网络错误，请重试',function(){});
            }
        });
    }
    /* ===== 选择评估师 =====*/
    $("#btn-form-search").click(function () {
        if(!valuers){
            layer.msg('数据异常，请关闭后重试',function(){});
            return false;
        }
        valuer_ids=[];
        $('#valuer_id_lists').find('tr:first').siblings().remove();

        var name_ids= $("input[name='ids[]']:checked");
        if(!name_ids.length){
            layer.msg('请选择评估师',function(){});
            return false;
        }
        for(var i = 0;i<name_ids.length;i++){
            valuer_ids[i]=parseInt($(name_ids[i]).val());
        }

        layer.closeAll();

        var options='';
        $.each(valuers,function (index,info) {
            if($.inArray(info.id,valuer_ids)>-1){
                options += '<tr class="h50">';
                options += '<td style="text-align: left;background: none;width: inherit !important;">'+info.id+'<input type="hidden" name="ids[]" value="'+info.id+'"></td>';
                options += '<td style="text-align: left;background: none;">'+info.name+'</td>';
                options += '<td style="text-align: left;background: none;">'+info.register_num+'</td>';
                options += '<td style="text-align: left;background: none;">'+info.valid_at+'</td>';
                options += '</tr>';
            }

        });
        $('#valuer_id_lists').find('tbody').append(options);
    });
</script>
</body>
</html>
