<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>入户摸底-建筑|房屋征收安置管理系统</title>
    {include file="pc/public/head" /}

</head>
<body>
<h4>入户摸底-建筑管理</h4>
<div class="toolsBar">
    <!--fgf为工具栏分隔符，刷新没有，离开都有。中间工具每一类第一个添加fgf-->
    <ul>
        <li>
            <a href="{:url('index')}">
                <img src="__STATIC__/system/img/arrow_refresh.png"/>
                刷新
            </a>
        </li>
        <li class="fgf" onclick="layerPage('查询',$('#search'),'800','300')" >
            <img src="__STATIC__/system/img/page_white_magnify.png"/>
            查询
        </li>
    </ul>
</div>
<form action="{:url('index')}" method="post" id="js-ajax-form">
    <div class="tableCon">
        <em class="xian"></em>
        <table class="table" border="0" >
            <tbody>
            <tr class="noSelect">
                <th class="tc" width="35px">
                    <input class="va_m" type="checkbox" name="" id="allCheck" value="" data-falg="allCheck" onclick="checkBoxOp(this)"/>
                </th>
                <th>ID<i class="stretch"></i></th>
                <th>项目（ID）<i class="stretch"></i></th>
                <th>片区（ID）<i class="stretch"></i></th>
                <th>权属（ID）<i class="stretch"></i></th>
                <th>位置<i class="stretch"></i></th>
                <th>结构<i class="stretch"></i></th>
                <th>性质<i class="stretch"></i></th>
                <th>数量<i class="stretch"></i></th>
                <th>建造年份<i class="stretch"></i></th>
                <th>状况<i class="stretch"></i></th>
                <th>备注<i class="stretch"></i></th>
                <th>操作<i class="stretch"></i></th>
            </tr>
            {volist name="collectionbuildings" id="collectionbuilding"}
            <tr>
                <td>
                    <input class="va_m" type="checkbox" name="ids[]" value="{$collectionbuilding->id}" onclick="checkBoxOp(this)" id="check-{$collectionbuilding->id}"/>
                </td>
                <td>{$collectionbuilding->id}</td>
                <td>{$collectionbuilding->item->name}（{$collectionbuilding->item_id}）</td>
                <td title="{$collectionbuilding->community->address}">{$collectionbuilding->community->name}（{$collectionbuilding->community_id}）</td>
                <td>
                    {if condition="$collectionbuilding->collection_id"}
                    {if condition="$collectionbuilding->collection->building"}{$collectionbuilding->collection->building}栋{/if}
                    {if condition="$collectionbuilding->collection->unit"}{$collectionbuilding->collection->unit}单元{/if}
                    {if condition="$collectionbuilding->collection->floor"}{$collectionbuilding->collection->floor}楼{/if}
                    {if condition="$collectionbuilding->collection->number"}{$collectionbuilding->collection->number}号{/if}
                    （{$collectionbuilding->collection_id}）
                    {else/}
                    -
                    {/if}
                </td>
                <td>
                    {if condition="$collectionbuilding->deleted_at"}
                    <del>
                        {if condition="$collectionbuilding->building"}{$collectionbuilding->building}栋{/if}
                        {if condition="$collectionbuilding->unit"}{$collectionbuilding->unit}单元{/if}
                        {if condition="$collectionbuilding->floor"}{$collectionbuilding->floor}楼{/if}
                        {if condition="$collectionbuilding->number"}{$collectionbuilding->number}号{/if}
                    </del>
                    {else /}
                    {if condition="$collectionbuilding->building"}{$collectionbuilding->building}栋{/if}
                    {if condition="$collectionbuilding->unit"}{$collectionbuilding->unit}单元{/if}
                    {if condition="$collectionbuilding->floor"}{$collectionbuilding->floor}楼{/if}
                    {if condition="$collectionbuilding->number"}{$collectionbuilding->number}号{/if}
                    {/if}
                </td>
                <td>{$collectionbuilding->buildingstruct->name}</td>
                <td>{$collectionbuilding->realuse->name}</td>
                <td>{$collectionbuilding->real_num} {$collectionbuilding->real_unit}</td>
                <td>{$collectionbuilding->build_year}</td>
                <td>
                    {if condition="$collectionbuilding->deleted_at"}
                    已删除
                    {else/}
                    {if condition="$collectionbuilding->status_id eq 0"}待定{else/}{$collectionbuilding->buildingstatus->name}{/if}
                    {/if}
                </td>
                <td>{$collectionbuilding->remark}</td>
                <td>
                    <button type="button" class="btn" onclick="layerIfWindow('入户摸底-建筑信息',	'{:url('detail',['id'=>$collectionbuilding->id])}','800','630',true)" >详细信息</button>
                </td>
            </tr>
            {/volist}
            </tbody>
        </table>
    </div>
</form>
<div class="pageCon">
    {$collectionbuildings->render()}
</div>
<!-- 查询 -->
<div id="search" class="layerCon bg_f hide">
    <form action="{:url('index')}" method="post" id="search-form">
        <table class="layerTable">
            <tr class="h50">
                <td><label for="item_id">项目：</label></td>
                <td colspan="3">
                    <select name="item_id" id="item_id" class="chosen" data-placeholder="请选择项目" data-no_results_text="没有匹配数据">
                        <option value="">--全部--</option>
                        {volist name="items" id="item"}
                        <option value="{$item->id}" {if condition="isset($item_id) and $item_id eq $item->id"}selected{/if}>{$item->name}</option>
                        {/volist}
                    </select>
                </td>
                <td><label for="community_id">片区：</label></td>
                <td colspan="3">
                    <select name="community_id" id="community_id" class="chosen" data-placeholder="请选择片区" data-no_results_text="没有匹配数据">
                        <option value="">--全部--</option>
                        {volist name="collectioncommunitys" id="collectioncommunity"}
                        <option value="{$collectioncommunity->id}" {if condition="isset($community_id) and $community_id eq $collectioncommunity->id"}selected{/if}>{$collectioncommunity->name}</option>
                        {/volist}
                    </select>
                </td>
            </tr>
            <tr class="h50">
                <td><label for="collection_id">权属：</label></td>
                <td colspan="3">
                    <select name="collection_id" id="collection_id" class="chosen" data-placeholder="请选择权属" data-no_results_text="没有匹配数据">
                        <option value="">--全部--</option>
                        {volist name="collections" id="collection"}
                        <option value="{$collection->id}" {if condition="isset($collection_id) and $collection_id eq $collection->id"}selected{/if}>
                        {if condition="$collection->building"}{$collection->building}栋{/if}
                        {if condition="$collection->unit"}{$collection->unit}单元{/if}
                        {if condition="$collection->floor"}{$collection->floor}楼{/if}
                        {if condition="$collection->number"}{$collection->number}号{/if}
                        （{$collection->id}）
                        </option>
                        {/volist}
                    </select>
                </td>
                <td><label for="use_id">用途：</label></td>
                <td>
                    <select name="use_id" id="use_id" class="chosen" data-placeholder="请选择用途" data-no_results_text="没有匹配数据">
                        <option value="">--全部--</option>
                        {volist name="buildinguses" id="buildinguse"}
                        <option value="{$buildinguse->id}" {if condition="isset($use_id) and $use_id eq $buildinguse->id"}selected{/if}>{$buildinguse->name}</option>
                        {/volist}
                    </select>
                </td>
                <td><label for="status_id">建筑状况：</label></td>
                <td>
                    <select name="status_id" id="status_id" class="chosen" data-placeholder="请选择建筑状况" data-no_results_text="没有匹配数据">
                        <option value="">--全部--</option>
                        <option value="0" {if condition="isset($status_id) and $status_id eq 0"}selected{/if}>待定</option>
                        {volist name="buildingstatuss" id="buildingstatus"}
                        <option value="{$buildingstatus->id}" {if condition="isset($status_id) and $status_id eq $buildingstatus->id"}selected{/if}>{$buildingstatus->name}</option>
                        {/volist}
                    </select>
                </td>
            </tr>
            <tr class="h50">
                <td><label for="building">几栋：</label></td>
                <td><input type="number" name="building" id="building" value="{$building?:''}" min="1"></td>
                <td>几单元：</td>
                <td><input type="number" name="unit" id="unit" value="{$unit?:''}" min="1"></td>
                <td>几楼：</td>
                <td><input type="number" name="floor" id="floor" value="{$floor?:''}"></td>
                <td>几号：</td>
                <td><input type="number" name="number" id="number" value="{$number?:''}" min="1"></td>
            </tr>
            <tr class="h50">
                <td>是否删除：</td>
                <td>
                    <select name="deleted" id="deleted">
                        <option value="">--全部--</option>
                        <option value="1" {if condition="isset($deleted) and $deleted eq 1"}selected{/if}>--是--</option>
                        <option value="0" {if condition="isset($deleted) and $deleted eq 0"}selected{/if}>--否--</option>
                    </select>
                </td>
                <td>每页条数：</td>
                <td>
                    <select name="display_num" id="display_num">
                        {volist name="nums" id="num"}
                        <option value="{$num}" {if condition="isset($display_num) and $display_num eq $num"}selected{/if}>--{$num}--</option>
                        {/volist}
                    </select>
                </td>
                <td>排序：</td>
                <td>
                    <select name="ordername" id="ordername">
                        <option value="id">--默认--</option>
                        <option value="created_at" {if condition="isset($ordername) and $ordername eq 'created_at'"}selected{/if}>--创建时间--</option>
                        <option value="updated_at" {if condition="isset($ordername) and $ordername eq 'updated_at'"}selected{/if}>--更新时间--</option>
                        <option value="deleted_at" {if condition="isset($ordername) and $ordername eq 'deleted_at'"}selected{/if}>--删除时间--</option>
                    </select>
                </td>
                <td>方式：</td>
                <td>
                    <select name="orderby" id="orderby">
                        <option value="asc">--升序--</option>
                        <option value="desc" {if condition="isset($orderby) and $orderby eq 'desc'"}selected{/if}>--降序--</option>
                    </select>
                </td>
            </tr>

        </table>
        <div class="layerBtns">
            <button class="btn" type="submit">查询</button>
        </div>
    </form>
</div>

<script>

    $(function () {
        $('input[type=text]').on('change',function () {
            var id=$(this).data('id');
            $('#check-'+id).attr('checked',true);
        }) ;

        $('.pageCon').find('a').on('click',function () {
            $('#search-form').attr('action',$(this).attr('href')).submit();
            return false;
        });
    });

</script>
</body>
</html>
