<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>房源物业管理费|房屋征收安置管理系统</title>
    {include file="public/head" /}

</head>
<body>

<div class="toolsBar">
    <!--fgf为工具栏分隔符，刷新没有，离开都有。中间工具每一类第一个添加fgf-->
    <ul>
        <li>
            <a href="{:url('index')}">
                <img src="__STATIC__/system/img/arrow_refresh.png"/>
                重置
            </a>
        </li>
        <li class="fgf" onclick="layerPage('查询',$('#search'),'700','350')" >
            <img src="__STATIC__/system/img/page_white_magnify.png"/>
            查询
        </li>
        <li class="fgf js-ajax-form-btn" data-form="js-ajax-form" data-action="{:url('add')}">
            <img src="__STATIC__/system/img/add_on.png"/>
            继续计算
        </li>

    </ul>
</div>

<form action="{:url('index')}" method="post" id="js-ajax-form">
    <div class="tableCon">
        <em class="xian"></em>
        <table class="table" border="0" >
            <tbody>
            <tr class="noSelect">
                <th class="tc" width="35px">
                    <input class="va_m" type="checkbox" name="" id="allCheck" value="" data-falg="allCheck" onclick="checkBoxOp(this)"/>
                </th>
                <th>ID</th>
                <th>时间</th>
                <th>地址</th>
                <th>小区</th>
                <th>房号</th>
                <th>面积(㎡)</th>
                <th>管理费单价(元/㎡/月)</th>
                <th>管理费(元/月)</th>
                <th>公摊费(元/月)</th>
            </tr>

            {volist name="housefees" id="housefee"}
            <tr>
                <td>
                    <input class="va_m" type="checkbox" name="ids[]" value="{$housefee->id}" onclick="checkBoxOp(this)" id="check-{$housefee->id}"/>
                </td>
                <td>{$housefee->id}</td>
                <td>{$housefee->date_at}</td>
                <td>{$housefee->house->community->address}</td>
                <td>{$housefee->house->community->name}</td>
                <td>
                    {if condition="$housefee->house->building"}{$housefee->house->building}栋{/if}
                    {if condition="$housefee->house->unit"}{$housefee->house->unit}单元{/if}
                    {if condition="$housefee->house->floor"}{$housefee->house->floor}楼{/if}
                    {if condition="$housefee->house->number"}{$housefee->house->number}号{/if}
                </td>
                <td>{$housefee->area|number_format=2}</td>
                <td>{$housefee->manage_price|number_format=2}</td>
                <td>{$housefee->manage_fee|number_format=2}</td>
                <td>{$housefee->public_price|number_format=2}</td>
            </tr>
            {/volist}
            </tbody>
        </table>
    </div>
</form>

<div class="pageCon">
    {$housefees->render()}

    <span>共 {$housefees->total()|number_format} 条数据</span>
    <span>，管理费小计：{$sum->manage|number_format=2} 元</span>
    <span>，公摊费小计：{$sum->public|number_format=2} 元</span>
    <span>，合计：{$sum->total|number_format=2} 元</span>
</div>

<!-- 查询 -->
<div id="search" class="layerCon bg_f hide">
    <form action="{:url('index')}" method="post" id="search-form">
        <table class="layerTable">
            <tr class="h50">
                <td>地址：</td>
                <td colspan="3"><input type="text" name="address" id="address" value="{:isset($address)?$address:''}" placeholder="请输入查询地址"></td>
            </tr>
            <tr class="h50">
                <td>小区：</td>
                <td colspan="3"><input type="text" name="name" id="name" value="{:isset($name)?$name:''}" placeholder="请输入查询小区名"></td>
            </tr>
            <tr class="h50">
                <td>几栋：</td>
                <td><input type="number" name="building" id="building" value="{$building?:''}" min="1"></td>
                <td>几单元：</td>
                <td><input type="number" name="unit" id="unit" value="{$unit?:''}" min="1"></td>
            </tr>
            <tr class="h50">
                <td>几楼：</td>
                <td><input type="number" name="floor" id="floor" value="{$floor?:''}"></td>
                <td>几号：</td>
                <td><input type="number" name="number" id="number" value="{$number?:''}" min="1"></td>
            </tr>
            <tr class="h50">
                <td>年份：</td>
                <td>
                    <select name="year" id="year">
                        <option value="">全部</option>
                        {for start="2010" end="2100"}
                        <option value="{$i}">{$i}</option>
                        {/for}
                    </select>
                </td>
                <td>每页条数：</td>
                <td>
                    <select name="display_num" id="display_num">
                        {volist name="nums" id="num"}
                        <option value="{$num}" {if condition="isset($display_num) and $display_num eq $num"}selected{/if}>--{$num}--</option>
                        {/volist}
                    </select>
                </td>
            </tr>

        </table>
        <div class="layerBtns">
            <button class="btn" type="submit">查询</button>
        </div>
    </form>
</div>

<script>

    $(function () {
        $('input[type=text]').on('change',function () {
            var id=$(this).data('id');
            $('#check-'+id).attr('checked',true);
        }) ;

        $('.pageCon').find('a').on('click',function () {
            $('#search-form').attr('action',$(this).attr('href')).submit();
            return false;
        });
    });

</script>


</body>
</html>
