<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>评估公司选票|房屋征收安置管理系统</title>
    {include file="pc/public/head" /}

</head>
<body>
<form action="{:url('add',['item_id'=>$item_id,'collection_id'=>$collection_id])}" method="get" id="js-ajax-form">
    <input type="hidden" name="item_id" value="{$item_id}">
    <input type="hidden" name="collection_id" value="{$collection_id}">
    <input type="hidden" name="holder_id" value="{$holder_id}">
    <div class="tableCon">
        <em class="xian"></em>
        <table class="table" border="0" >
            <tbody>
            <tr class="noSelect">
                <th class="tc" width="35px">选择</th>
                <th>序号</th>
                <th>公司</th>
                <th>地址</th>
                <th>当前选票</th>
                <th></th>
            </tr>
            {php}$company_ids=[];{/php}
            {volist name="companys" id="company"}
            {php}$company_ids[]=$company->id;{/php}
            <tr>
                <td>
                    {in name="company_id" value="$company_ids"}
                    {if condition="$company_id eq $company->id"}
                    <input class="va_m" type="radio" name="company_id" value="{$company->id}" checked/>
                    {/if}
                    {else/}
                    <input class="va_m" type="radio" name="company_id" value="{$company->id}"/>
                    {/in}
                </td>
                <td>{$company->id}</td>
                <td>{$company->name}</td>
                <td>{$company->address}</td>
                <td>{$company->vote|number_format}</td>
                <td>
                    <button type="button" class="btn" onclick="layerIfWindow('评估公司信息',	'{:url('detail',['company_id'=>$company->id,'item_id'=>$item_id])}','800','600')" >公司简介</button>
                </td>
            </tr>
            {/volist}
            </tbody>
        </table>
    </div>

    {notin name="company_id" value="$company_ids"}
    <div class="layerBtns">
        <a class="btn js-ajax-form-btn" >立即提交</a>
    </div>
    {/notin}
</form>
</body>
</html>
