<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>入户摸底-家庭人员|后台管理系统</title>
    {include file="public/head" /}

</head>
<body>
<h4>入户摸底-家庭人员管理</h4>
<div class="toolsBar">
    <!--fgf为工具栏分隔符，刷新没有，离开都有。中间工具每一类第一个添加fgf-->
    <ul>
        <li>
            <a href="{:url('index')}">
                <img src="__STATIC__/system/img/arrow_refresh.png"/>
                刷新
            </a>
        </li>
        <li class="fgf" onclick="layerPage('查询',$('#search'),'700','300')" >
            <img src="__STATIC__/system/img/page_white_magnify.png"/>
            查询
        </li>
        
    </ul>
</div>
<form action="{:url('index')}" method="post" id="js-ajax-form">
    <div class="tableCon">
        <em class="xian"></em>
        <table class="table" border="0" >
            <tbody>
            <tr class="noSelect">
                <th class="tc" width="35px">
                    <input class="va_m" type="checkbox" name="" id="allCheck" value="" data-falg="allCheck" onclick="checkBoxOp(this)"/>
                </th>
                <th>ID<i class="stretch"></i></th>
                <th>项目（ID）<i class="stretch"></i></th>
                <th>片区（ID）<i class="stretch"></i></th>
                <th>权属（ID）<i class="stretch"></i></th>
                <th>名称<i class="stretch"></i></th>
                <th>电话<i class="stretch"></i></th>
                <th>产权<i class="stretch"></i></th>
                <th>份额(%)<i class="stretch"></i></th>
                <th>户主关系<i class="stretch"></i></th>
                <th>现住址<i class="stretch"></i></th>
                <th>操作<i class="stretch"></i></th>
            </tr>
            {volist name="collectionholders" id="collectionholder"}
            <tr>
                <td>
                    <input class="va_m" type="checkbox" name="ids[]" value="{$collectionholder->id}" onclick="checkBoxOp(this)" id="check-{$collectionholder->id}"/>
                </td>
                <td>{$collectionholder->id}</td>
                <td>{$collectionholder->item->name}（{$collectionholder->item_id}）</td>
                <td title="{$collectionholder->community->address}">{$collectionholder->community->name}（{$collectionholder->community_id}）</td>
                <td>
                    {if condition="$collectionholder->collection->building"}{$collectionholder->collection->building}栋{/if}
                    {if condition="$collectionholder->collection->unit"}{$collectionholder->collection->unit}单元{/if}
                    {if condition="$collectionholder->collection->floor"}{$collectionholder->collection->floor}楼{/if}
                    {if condition="$collectionholder->collection->number"}{$collectionholder->collection->number}号{/if}
                    （{$collectionholder->collection_id}）
                </td>
                <td title="{$collectionholder->address}">{if condition="$collectionholder->deleted_at"}<del>{$collectionholder->name}</del>{else /}{$collectionholder->name}{/if}</td>
                <td>{if condition="$collectionholder->deleted_at"}<del>{$collectionholder->phone}</del>{else /}{$collectionholder->phone}{/if}</td>
                <td>{if condition="$collectionholder->deleted_at"}<del>{$collectionholder->holder}</del>{else /}{$collectionholder->holder}{/if}</td>
                <td>{if condition="$collectionholder->deleted_at"}<del>{$collectionholder->portion}</del>{else /}{$collectionholder->portion}{/if}</td>
                <td>{if condition="$collectionholder->deleted_at"}<del>{$collectionholder->relation}</del>{else /}{$collectionholder->relation}{/if}</td>
                <td>{if condition="$collectionholder->deleted_at"}<del>{$collectionholder->live_addr}</del>{else /}{$collectionholder->live_addr}{/if}</td>
                <td>
                    <button type="button" class="btn" onclick="layerIfWindow('入户摸底-家庭人员信息',	'{:url('detail',['id'=>$collectionholder->id])}','800','630',true)" >详细信息</button>
                </td>
            </tr>
            {/volist}
            </tbody>
        </table>
    </div>
</form>
<div class="pageCon">
    {$collectionholders->render()}
</div>
<!-- 查询 -->
<div id="search" class="layerCon bg_f hide">
    <form action="{:url('index')}" method="post" id="search-form">
        <table class="layerTable">
            <tr class="h50">
                <td>项目：</td>
                <td colspan="3">
                    <select name="item_id" id="item_id" class="chosen" data-placeholder="请选择项目" data-no_results_text="没有匹配数据">
                        <option value="">--全部--</option>
                        {volist name="items" id="item"}
                        <option value="{$item->id}" {if condition="isset($item_id) and $item_id eq $item->id"}selected{/if}>{$item->name}</option>
                        {/volist}
                    </select>
                </td>
                <td>片区：</td>
                <td colspan="3">
                    <select name="community_id" id="community_id" class="chosen" data-placeholder="请选择片区" data-no_results_text="没有匹配数据">
                        <option value="">--全部--</option>
                        {volist name="collectioncommunitys" id="collectioncommunity"}
                        <option value="{$collectioncommunity->id}" {if condition="isset($community_id) and $community_id eq $collectioncommunity->id"}selected{/if}>{$collectioncommunity->name}</option>
                        {/volist}
                    </select>
                </td>
            </tr>
            <tr class="h50">
                <td><label for="collection_id">权属：</label></td>
                <td colspan="3">
                    <select name="collection_id" id="collection_id" class="chosen" data-placeholder="请选择权属" data-no_results_text="没有匹配数据">
                        <option value="">--全部--</option>
                        {volist name="collections" id="collection"}
                        <option value="{$collection->id}" {if condition="isset($collection_id) and $collection_id eq $collection->id"}selected{/if}>
                        {if condition="$collection->building"}{$collection->building}栋{/if}
                        {if condition="$collection->unit"}{$collection->unit}单元{/if}
                        {if condition="$collection->floor"}{$collection->floor}楼{/if}
                        {if condition="$collection->number"}{$collection->number}号{/if}
                        （{$collection->id}）
                        </option>
                        {/volist}
                    </select>
                </td>
                <td><label for="name">名称：</label></td>
                <td colspan="3"><input type="text" name="name" id="name" value="{$name?:''}" placeholder="输入名称"></td>
            </tr>
            <tr class="h50">
                <td><label for="address">地址：</label></td>
                <td colspan="7"><input type="text" name="address" id="address" value="{$address?:''}" placeholder="输入地址"></td>
            </tr>
            <tr class="h50">
                <td>是否删除：</td>
                <td>
                    <select name="deleted" id="deleted">
                        <option value="">--全部--</option>
                        <option value="1" {if condition="isset($deleted) and $deleted eq 1"}selected{/if}>--是--</option>
                        <option value="0" {if condition="isset($deleted) and $deleted eq 0"}selected{/if}>--否--</option>
                    </select>
                </td>
                <td>每页条数：</td>
                <td>
                    <select name="display_num" id="display_num">
                        {volist name="nums" id="num"}
                        <option value="{$num}" {if condition="isset($display_num) and $display_num eq $num"}selected{/if}>--{$num}--</option>
                        {/volist}
                    </select>
                </td>
                <td>排序：</td>
                <td>
                    <select name="ordername" id="ordername">
                        <option value="id">--默认--</option>
                        <option value="created_at" {if condition="isset($ordername) and $ordername eq 'created_at'"}selected{/if}>--创建时间--</option>
                        <option value="updated_at" {if condition="isset($ordername) and $ordername eq 'updated_at'"}selected{/if}>--更新时间--</option>
                        <option value="deleted_at" {if condition="isset($ordername) and $ordername eq 'deleted_at'"}selected{/if}>--删除时间--</option>
                    </select>
                </td>
                <td>方式：</td>
                <td>
                    <select name="orderby" id="orderby">
                        <option value="asc">--升序--</option>
                        <option value="desc" {if condition="isset($orderby) and $orderby eq 'desc'"}selected{/if}>--降序--</option>
                    </select>
                </td>
            </tr>

        </table>
        <div class="layerBtns">
            <button class="btn" type="submit">查询</button>
        </div>
    </form>
</div>

<script>

    $(function () {
        $('input[type=text]').on('change',function () {
            var id=$(this).data('id');
            $('#check-'+id).attr('checked',true);
        }) ;

        $('.pageCon').find('a').on('click',function () {
            $('#search-form').attr('action',$(this).attr('href')).submit();
            return false;
        });
    });

</script>
</body>
</html>
