<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>系统用户|后台管理系统</title>
    {include file="public/head" /}

</head>
<body>
<h4>用户管理</h4>
<div class="toolsBar">
    <!--fgf为工具栏分隔符，刷新没有，离开都有。中间工具每一类第一个添加fgf-->
    <ul>
        <li>
            <a href="{:url('index')}">
                <img src="__STATIC__/system/img/arrow_refresh.png"/>
                重置</a>
        </li>
        <li class="fgf" onclick="layerPage('查询',$('#search'),'700','300')" >
            <img src="__STATIC__/system/img/page_white_magnify.png"/>
            查询
        </li>
        <li class="fgf" onclick="layerIfWindow('添加用户','{:url('add')}','','450')">
            <img src="__STATIC__/system/img/add.png"/>
            添加
        </li>
        <li class="fgf js-ajax-form-btn" data-form="js-ajax-form" data-action="{:url('status',array('status'=>'1'))}">
            <img src="__STATIC__/system/img/checked.png"/>
            启用
        </li>
        <li class="fgf js-ajax-form-btn" data-form="js-ajax-form" data-action="{:url('status',array('status'=>'0'))}">
            <img src="__STATIC__/system/img/disabled.png"/>
            禁用
        </li>
        <li class="fgf js-ajax-form-btn" data-form="js-ajax-form" data-action="{:url('delete')}">
            <img src="__STATIC__/system/img/broom.png"/>
            删除
        </li>
        <li class="fgf js-ajax-form-btn" data-form="js-ajax-form" data-action="{:url('restore')}">
            <img src="__STATIC__/system/img/recycle.png"/>
            恢复
        </li>
        <li class="fgf js-ajax-form-btn" data-form="js-ajax-form" data-action="{:url('destroy')}" data-notice="确定要彻底删除吗？">
            <img src="__STATIC__/system/img/destroy.png"/>
            销毁
        </li>
    </ul>
</div>
<form action="{:url('status')}" method="post" id="js-ajax-form">
    <div class="tableCon">
        <em class="xian"></em>
        <table class="table" border="0" >
            <tbody>
            <tr class="noSelect">
                <th class="tc" width="35px">
                    <input class="va_m" type="checkbox" name="" id="allCheck" value="" data-falg="allCheck" onclick="checkBoxOp(this)"/>
                </th>
                <th>ID</th>
                <th>姓名</th>
                <th>角色</th>
                <th>用户名</th>
                <th>电话</th>
                <th>邮箱</th>
                <th>状态</th>
                <th>操作</th>
            </tr>
            {volist name="users" id="user"}
            <tr>
                <td>
                    <input class="va_m" type="checkbox" name="ids[]" value="{$user->id}" onclick="checkBoxOp(this)" id="check-{$user->id}"/>
                </td>
                <td>{$user->id}</td>
                <td>{if condition="$user->deleted_at"} <del>{$user->name}</del>{else /}{$user->name}{/if}</td>
                <td>{if condition="$user->deleted_at"} <del>{$user->role_name}</del>{else /}{$user->role_name}{/if}</td>
                <td>{if condition="$user->deleted_at"} <del>{$user->username}</del>{else /}{$user->username}{/if}</td>
                <td>{if condition="$user->deleted_at"} <del>{$user->phone}</del>{else /}{$user->phone}{/if}</td>
                <td>{if condition="$user->deleted_at"} <del>{$user->email}</del>{else /}{$user->email}{/if}</td>
                <td>{$user->status}</td>
                <td>
                    <button type="button" class="btn" onclick="layerIfWindow('用户信息',	'{:url('detail',['id'=>$user->id])}','','450')" >用户信息</button>
                    <button type="button" data-action="{:url('delete',['ids'=>$user->id])}" class="btn js-ajax-form-btn">删除</button>
                </td>
            </tr>
            {/volist}
            </tbody>
        </table>
    </div>
</form>
<div class="pageCon">
    {$users->render()}
</div>
<!-- 查询 -->
<div id="search" class="layerCon bg_f hide">
    <form action="{:url('index')}" method="post" id="search-form">
        <table class="layerTable">
            <tr class="h50">
                <td>姓名：</td>
                <td><input type="text" name="name" id="name" value="{$name?:''}" placeholder="请输入姓名"/></td>
                <td>用户名：</td>
                <td><input type="text" name="username" id="username" value="{$username?:''}" placeholder="请输入用户名"/></td>
            </tr>
            <tr class="h50">
                <td>角色：</td>
                <td>
                    <select name="role_id" id="role_id">
                        <option value="">--全部--</option>
                        {$roles}
                    </select>
                </td>
                <td>状态：</td>
                <td>
                    <select name="status" id="status">
                        <option value="">--全部--</option>
                        <option value="1" {if condition="isset($status) and $status==1"}selected{/if}>--启用--</option>
                        <option value="0" {if condition="isset($status) and $status==0"}selected{/if}>--禁用--</option>
                    </select>
                </td>
            </tr>
            <tr class="h50">
                <td>是否删除：</td>
                <td>
                    <select name="deleted" id="deleted">
                        <option value="">--全部--</option>
                        <option value="1" {if condition="isset($deleted) and $deleted==1"}selected{/if}>--是--</option>
                        <option value="0" {if condition="isset($deleted) and $deleted==0"}selected{/if}>--否--</option>
                    </select>
                </td>
                <td>每页条数：</td>
                <td>
                    <select name="display_num" id="display_num">
                        {volist name="nums" id="num"}
                        <option value="{$num}" {if condition="isset($display_num) and $display_num==$num"}selected{/if}>--{$num}--</option>
                        {/volist}
                    </select>
                </td>
            </tr>
            <tr class="h50">
                <td>排序：</td>
                <td>
                    <select name="ordername" id="ordername">
                        <option value="id">--默认--</option>
                        <option value="login_at" {if condition="isset($ordername) and $ordername=='login_at'"}selected{/if}>--登录时间--</option>
                        <option value="created_at" {if condition="isset($ordername) and $ordername=='created_at'"}selected{/if}>--创建时间--</option>
                        <option value="updated_at" {if condition="isset($ordername) and $ordername=='updated_at'"}selected{/if}>--更新时间--</option>
                        <option value="deleted_at" {if condition="isset($ordername) and $ordername=='deleted_at'"}selected{/if}>--删除时间--</option>
                    </select>
                </td>
                <td>方式：</td>
                <td>
                    <select name="orderby" id="orderby">
                        <option value="asc">--升序--</option>
                        <option value="desc" {if condition="isset($orderby) and $orderby=='desc'"}selected{/if}>--降序--</option>
                    </select>
                </td>
            </tr>

        </table>
        <div class="layerBtns">
            <button class="btn" type="submit">查询</button>
        </div>
    </form>
</div>
<script src="__STATIC__/system/js/ajax-submit.js" type="text/javascript" charset="utf-8"></script>
<script>

    $(function () {
        $('input[type=text]').on('change',function () {
            var id=$(this).data('id');
            $('#check-'+id).attr('checked',true);
        }) ;

        $('.pageCon').find('a').on('click',function () {
            $('#search-form').attr('action',$(this).attr('href')).submit();
            return false;
        });
    });

</script>
</body>
</html>
