<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>系统用户|后台管理系统</title>
    {include file="public/head" /}

    <link rel="stylesheet" type="text/css" href="__STATIC__/system/css/jquery.treetable.theme.default.css"/>
    <script src="__STATIC__/system/js/jquery.treetable.js" type="text/javascript" charset="utf-8"></script>
</head>
<body>
<form action="{:isset($infos)?url('edit'):url('add')}" method="post" class="js-ajax-form" onsubmit="return false;">
    <div class="layerCon bg_f">
        <input type="hidden" name="id" value="{:isset($infos)?$infos->id:''}">
        <table class="layerTable" border="0">
            <tr class="h50">
                <td><label for="name">姓名：</label></td>
                <td>
                    <input id="name" class="must" type="text" name="name" value="{:isset($infos)?$infos->name:''}" required placeholder="输入用户姓名"/>
                </td>
                <td><label for="role_id">用户角色：</label></td>
                <td>
                    <select name="role_id" id="role_id">
                        <option value="">--选择角色--</option>
                        {$options_roles}
                    </select>
                </td>
            </tr>
            {if condition="isset($infos)"}
            <tr class="h50">
                <td><label for="username">用户名：</label></td>
                <td colspan="3">
                    <input id="username" class="must" type="text" name="username" value="{$infos->username}" />
                </td>
            </tr>
            {else/}
            <tr class="h50">
                <td><label for="username">用户名：</label></td>
                <td colspan="3">
                    <input id="username" class="must" type="text" name="username" value="" />
                </td>
            </tr>
            <tr class="h50">
                <td><label for="password">密码：</label></td>
                <td>
                    <input id="password" type="password" name="password" value="" />
                </td>
                <td><label for="password_confirm">重复密码：</label></td>
                <td>
                    <input id="password_confirm" type="password" name="password_confirm" value="" />
                </td>
            </tr>
            {/if}
            <tr class="h50">
                <td><label for="phone">电话：</label></td>
                <td>
                    <input id="phone" type="text" name="phone" value="{:isset($infos)?$infos->phone:''}" />
                </td>
                <td><label for="email">邮箱：</label></td>
                <td>
                    <input id="email" type="email" name="email" value="{:isset($infos)?$infos->email:''}" />
                </td>
            </tr>
            <tr class="h50">
                <td><label for="infos">用户描述：</label></td>
                <td>
                    <textarea id="infos" name="infos">{:isset($infos)?$infos->infos:''}</textarea>
                </td>
                <td>状态：</td>
                <td>
                    {volist name="model->status" id="status"}
                    <label><input class="va_m" name="status" type="radio"  value="{$key}" {if condition="(!isset($infos) and $key eq 1) or (isset($infos) and $infos->status eq $status)"}checked{/if}>{$status}</label>
                    {/volist}
                </td>
            </tr>

            {if condition="isset($infos)"}
            <tr class="h50">
                <td>操作时间：</td>
                <td colspan="3">
                    最近登录时间： {if condition="$infos->getData('login_at')"}{$infos->login_at}{/if}<br/>
                    最近登录IP：{$infos->login_ip}<br/>
                    用户密钥：{$infos->secret_key}<br/>
                    创建于：{$infos->created_at}<br/>
                    更新于：{$infos->updated_at}<br/>
                    {if condition="isset($infos) and $infos->deleted_at"}
                    删除于：{$infos->deleted_at|date='Y-m-d H:i:s',###}
                    {/if}
                </td>
            </tr>
            {/if}
        </table>
        <div class="layerBtns">
            <a class="btn js-ajax-form-btn" data-layer="true" >立即提交</a>
            <button class="btn" type="reset">重置</button>
            {if condition="isset($infos)"}
            <button type="button" class="btn" onclick="layerIfWindow('修改密码',	'{:url('password',['id'=>$infos->id])}','500','250')" >修改密码</button>
            {/if}
        </div>
    </div>
</form>

<script src="__STATIC__/system/js/ajax-submit.js"></script>
<script>
    $("#example-advanced").treetable({
        expandable : true
    });

    $('input.priv_detail').on('change',function () {
        checkbox_change($(this));
    }) ;
</script>
</body>
</html>
