<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>系统用户|后台管理系统</title>
    {include file="public/head" /}
</head>
<body>
<form action="{:url('password')}" method="post" class="js-ajax-form" onsubmit="return false;">
    <input type="hidden" name="id" value="{$infos->id}">
    <div class="layerCon bg_f">
        <table class="layerTable" border="0">
            <tr class="h50">
                <td>当前密码：</td>
                <td><input class="must" type="password" name="password_current" id="password_current" placeholder="请输入当前登录密码" /></td>
            </tr>
            <tr class="h50">
                <td>新登录密码：</td>
                <td><input class="must" type="password" name="password" id="password" placeholder="请输入新登录密码" /></td>
            </tr>
            <tr class="h50">
                <td>重复新密码：</td>
                <td><input class="must" type="password" name="password_confirm" id="password_confirm" placeholder="请重复新登录密码" /></td>
            </tr>
        </table>
    </div>
    <div class="layerBtns">
        <a class="btn js-ajax-form-btn" data-layer="true">立即提交</a>
        <button class="btn" type="reset">重置</button>
    </div>
</form>

<script src="__STATIC__/system/js/ajax-submit.js"></script>
<script>

</script>
</body>
</html>