<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <title>房屋征收安置管理系统</title>

    {include file="mobile/public/head" /}
</head>

<body>
<div class="warp">
    <div class="header">
        <span class="back"></span>
        <p class="head_tit">新闻公告</p>
    </div>
    <div class="content1">
        <p class="xq_tit">{$infos->name}</p>
        <p class="xq_time"><span>{$infos->release_at}</span><span>{$infos->keywords}</span></p>
        <div class="xq_text">
            {$infos->content}
        </div>
    </div>
    {if condition="$infos->url"}
    <div class="w1">
        <p class="pname bcyjname bordi">相关链接</p>
        <div class="coon pgs">
            <a href="{$infos->url}">
            <div class="pgs_list pad bordi">
                <p><span>{$infos->url_name}</span></p>
            </div>
            </a>
        </div>
    </div>
    {/if}
    <div class="hui2"></div>
    <!--footer-->
    {include file="mobile/public/footer" /}

</div>
</body>
</html>
