<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <title>房屋征收安置管理系统</title>

    {include file="mobile/public/head" /}
</head>

<body>
<div class="warp">
    <div class="header">
        <span class="back"></span>
        <p class="head_tit">新闻公告</p>
    </div>
    <div class="content1">
        <p class="xq_tit">{$infos->name}</p>
        <p class="xq_time"><span>{$infos->release_at}</span><span>{$infos->keywords}</span></p>
        <div class="xq_text">
            {$infos->content}
        </div>
    </div>
    <!--footer-->
    <div class="footer">
        <ul>
            <li><a href="{:url('Home/index')}" class="li_on"><i class="iconfont icon-xiaoxi"></i>公告</a></li>
            <li><a href="cqinfo_jiating.html"> <i class="iconfont icon-ZHicon-"></i>产权</a></li>
            <li><a href="vote_pggs.html" ><i class="iconfont icon-toupiao"></i>投票</a></li>
            <li><a href="pinggu.html"><i class="iconfont icon-brt7"></i>评估</a></li>
            <li><a href="fangyuan.html"><i class="iconfont icon-fangwu"></i>房源</a></li>
        </ul>
    </div>

</div>
</body>
</html>
