<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{$cur_menu->name}|房屋征收安置管理系统</title>
    <meta name="viewport" content="width=device-width,minimum-scale=1,maximum-scale=1,initial-scale=1,user-scalable=no" />

    {include file="mobile/public/head"/}
    {include file="mobile/public/kindeditor"/}
</head>
<body>
<div class="page">

    {include file="mobile/public/header"/}

    <div class="w_100 backCo_w">

        {include file="mobile/public/breadnav"/}

        <form class="js-ajax-form" action="{:url('add')}" method="post" onsubmit="return false;">
            <p class="padLR12 btnp maT10">
                <span class="on">风险评估</span>
                <span>话题结果</span>
            </p>
            <div class="backCo_w w_100 tabDiv">
                <div class=" add_menu maT20">
                    <input type="hidden" name="id" value="{:isset($infos)?$infos->id:''}">
                    <p class="padLR12">
                        <span>项目：</span>
                        <input type="hidden" name="item_id" id="item_id" value="{:isset($item_info)?$item_info->id:''}">
                        <input type="text" value="{$item_info->name}" disabled>
                    </p>
                    <p class="padLR12">
                        <span>片区：</span>
                        <select name="community_id" id="community_id" class="chosen sear_collection_id" data-placeholder="请选择片区" data-no_results_text="没有匹配数据">
                            <option value="">--请选择片区--</option>
                            {volist name="collectioncommunitys" id="community"}
                            <option value="{$community->id}">{$community->name}</option>
                            {/volist}
                        </select>
                    </p>
                    <p class="padLR12">
                        <span>权属(ID)：</span>
                        <select name="collection_id" id="collection_id" class="chosen" data-placeholder="请选择权属" data-no_results_text="没有匹配数据">
                            <option value="">--请先选择项目和片区--</option>
                        </select>
                    </p>
                    <p class="padLR12">
                        <span>成员：</span>
                        <select name="holder_id" id="holder_id" class="chosen" data-placeholder="请选择成员" data-no_results_text="没有匹配数据">
                            <option value="">--请先选择权属--</option>
                        </select>
                    </p>
                    <p class="padLR12">
                        <span>推荐代表成员：</span>
                        <select name="recommemd_holder_id" id="recommemd_holder_id" class="chosen" data-placeholder="请选择推荐代表成员" data-no_results_text="没有匹配数据">
                            <option value="">--请先选择成员--</option>
                        </select>
                    </p>
                    <p class="padLR12">
                        <span>群众代表：</span>
                        <select name="deputy" id="deputy">
                            <option value="1" selected>同意</option>
                            <option value="0">拒绝</option>
                        </select>
                    </p>
                    <p class="padLR12">
                        <span>方案意见：</span>
                        <select name="is_agree" id="is_agree">
                            <option value="1" selected>同意</option>
                            <option value="0">拒绝</option>
                        </select>
                    </p>
                    <p class="padLR12">
                        <span>补偿方式：</span>
                        <select name="compensate_way" id="compensate_way">
                            <option value="1" selected>产权调换</option>
                            <option value="0">货币补偿</option>
                        </select>
                    </p>
                    <p class="padLR12">
                        <span>补偿单价：</span>
                        <input type="text" name="compensate_price" id="compensate_price" value="" placeholder="请输入补偿单价">
                    </p>
                    <p class="padLR12">
                        <span>过渡方式：</span>
                        <select name="transit_way" id="transit_way">
                            <option value="1" selected>周转房临时安置</option>
                            <option value="0">货币过渡</option>
                        </select>
                    </p>
                    <p class="padLR12">
                        <span>搬迁方式：</span>
                        <select name="move_way" id="move_way">
                            <option value="1" selected>政府负责</option>
                            <option value="0">自行搬迁</option>
                        </select>
                    </p>
                    <div class="w_100 backCo_f2 add_menu_textarea">
                        <p>其他意见：</p>
                        <textarea class="flex" id="opinion" name="opinion">{$infos->opinion?:''}</textarea>
                    </div>

                </div>

                <div class="padLR12 add_menu maT20" style="display: none;" id="risk_topic_val">

                </div>
            </div>
            <!--提交按钮-->
            <p class="Btnform align_cen bor_none maT20">
                <span class="submit button maR17 js-ajax-form-btn">立即提交</span>
                <span class="maL17 button" onclick="window.history.back(-1);">返回</span>
            </p>
            <!--弹出层-->

        </form>
    </div>
</div>
<script>
    var _item_id=$("#item_id").val();
    $.ajax({
        url:"{:url('Tools/sear_item_topic')}",
        data:{'item_id':_item_id},
        dataType:'json',
        type:'post',
        success:function (resp) {
            $('#risk_topic_val').html('');
            var options = '';
            var i = 0;
            if(resp.code){
                $.each(resp.data,function (index,info) {
                    i++;
                    options += ' <p>\n' +
                        '    <span >话题'+i+'：</span><input type="text" value="' +info.topic_name+
                        ' " disabled> <input type="hidden" name="topic_id[]" class="topic_id" value="'+info.topic_name_id+'">\n' +
                        '</tr>\n' +
                        '<div class="w_100 backCo_f2 add_menu_textarea">\n' +
                        '    <p>话题'+i+'回答：</p>\n' +
                        '        <textarea name="answer[]" id="answer" cols="10" rows="3"></textarea>\n' +
                        '</div>';
                });
            }else{
                layer.open({
                    content:resp.msg
                    ,skin: 'msg'
                    ,time:1.5
                });
            }
            $('#risk_topic_val').html(options);
        },
        error:function () {
            layer.open({
                content:'网络错误，请重试'
                ,skin: 'msg'
                ,time:1.5
            });
        }
    });
    /* ===== 查询权属 =====*/
    $('.sear_collection_id').change(function () {
        var _community_id=$("#community_id").find('option:selected').val();
        var data = {
            'item_id':_item_id,
            'community_id':_community_id
        };

        if(_community_id){
            $.ajax({
                url:"{:url('Tools/collections')}",
                data:data,
                dataType:'json',
                type:'post',
                success:function (resp) {
                    $('#collection_id').html('');
                    var options = '';
                    if(resp.code){
                        options += ' <option value="">--请选择权属--</option>';
                        $.each(resp.data,function (index,info) {
                            var building = info.building?info.building+"栋":'';
                            var unit = info.unit?info.unit+"单元":'';
                            var floor = info.floor?info.floor+"楼":'';
                            var number = info.number?info.number+"号":'';

                            options += '<option value="'+info.id+'">'+building+unit+floor+number+'（'+info.id+'）'+'</option>';
                        });
                    }else{
                       options += ' <option value="">--暂无数据--</option>';
                        layer.open({
                            content:resp.msg
                            ,skin: 'msg'
                            ,time:1.5
                        });
                    }
                    $('#collection_id').html(options);

                },
                error:function () {
                    layer.open({
                        content:'网络错误，请重试'
                        ,skin: 'msg'
                        ,time:1.5
                    });
                }
            });

        }else{
            var options = ' <option value="">--请选择片区--</option>';
            $('#collection_id').html(options);
            layer.open({
                content:'请选择片区'
                ,skin: 'msg'
                ,time:1.5
            });
        }
    });

    /* ===== 查询成员 =====*/
    $("#collection_id").on('change',function () {
        var  _collection_id = $("#collection_id").find("option:selected").val();
        if(_collection_id){
            $.ajax({
                url:"{:url('Tools/sear_collection_holder')}",
                data:{'collection_id':_collection_id},
                dataType:'json',
                type:'post',
                success:function (resp) {
                    $('#holder_id').html('');
                    var options = '';
                    if(resp.code){
                        options += ' <option value="">--请选择成员--</option>';
                        $.each(resp.data,function (index,info) {
                            options += '<option value="'+info.id+'">'+info.name+'（'+info.id+'）'+'</option>';
                        });
                    }else{
                      options += ' <option value="">--暂无数据--</option>';
                        layer.open({
                            content:resp.msg
                            ,skin: 'msg'
                            ,time:1.5
                        });
                    }
                    $('#holder_id').html(options);
                },
                error:function () {
                    layer.open({
                        content:'网络错误，请重试'
                        ,skin: 'msg'
                        ,time:1.5
                    });
                }
            });
        }else{
            var options = ' <option value="">--请先选择权属--</option>';
            $('#holder_id').html(options);
            layer.open({
                content:'请选择权属'
                ,skin: 'msg'
                ,time:1.5
            });
        }
    });

    /* ===== 查询推荐代表成员 =====*/
    $("#holder_id").on('change',function () {
        var _collection_id = $("#collection_id").find("option:selected").val();
        var _holder_id = $("#holder_id").find("option:selected").val();
        if(!_collection_id){
            layer.open({
                content:'请选择权属'
                ,skin: 'msg'
                ,time:1.5
            });
            return false;
        }
        if(!_holder_id){
            var options = ' <option value="">--请先选择成员--</option>';
            $('#recommemd_holder_id').html(options);
            layer.open({
                content:'请选择成员'
                ,skin: 'msg'
                ,time:1.5
            });
            return false;
        }
        $.ajax({
            url:"{:url('Tools/sear_collection_holder')}",
            data:{'collection_id':_collection_id,'holder_id':_holder_id},
            dataType:'json',
            type:'post',
            success:function (resp) {
                $("#recommemd_holder_id").html('');
                var options = '';
                if(resp.code){
                    options += '<select name="recommemd_holder_id" id="recommemd_holder_id" class="chosen" data-placeholder="请选择推荐代表成员" data-no_results_text="没有匹配数据">';
                    options += ' <option value="">--请选择推荐代表成员--</option>';
                    $.each(resp.data,function (index,info) {
                        options += '<option value="'+info.id+'">'+info.name+'（'+info.id+'）'+'</option>';
                    });
                }else{
                    options += '<select name="recommemd_holder_id" id="recommemd_holder_id" class="chosen" data-placeholder="暂无数据" data-no_results_text="没有匹配数据">';
                    options += ' <option value="">--暂无数据--</option>';
                    layer.open({
                        content:resp.msg
                        ,skin: 'msg'
                        ,time:1.5
                    });

                }
                options += '</select>';
                $("#recommemd_holder_id").html(options);
            },
            error:function () {
                layer.open({
                    content:'网络错误，请重试'
                    ,skin: 'msg'
                    ,time:1.5
                });
            }
        });
    });
</script>

</body>
</html>