<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>入户摸底-特殊人群|房屋征收安置管理系统</title>
    {include file="pc/public/head" /}

</head>
<body>
<div class="layerCon bg_f">
    <table class="layerTable" border="0">
        <tr class="h50">
            <td><label for="crowd_id">分类：</label></td>
            <td>{$infos->crowdgroup->name}</td>
        </tr>
        <tr class="h50">
            <td><label for="crowd_id">名称：</label></td>
            <td>{$infos->crowd->name}</td>
        </tr>

        <tr class="h70">
            <td>相关证件：</td>
            <td class="imgCon">
                {if condition="$infos->picture"}
                {volist name="infos->picture" id="pic"}
                <div class="img">
                    <img src="{$pic}" class="w_100 h_100" onclick="bigimg(this)">
                </div>
                {/volist}
                {/if}
            </td>
        </tr>
    </table>
</div>
</body>
</html>
